= title 'Badge', url: "components/badge/"
%blockquote UiBibz::Ui::Core::Notifications::Badge
%p.bd-callout
  Add any of the below mentioned modifier classes to change the appearance of a badge.

= code 'badge'

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.list 'type', types: 'symbol', values: %w(:pill :square)
  - co.list 'url', types: 'string', description: 'If url is used, tag change from span to link.'
  - co.popover_link
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

- @sections = sections do |s|
  - s.section title: "Badge" do
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_badge status.to_s.titleize, status: status
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_badge '#{ status.to_s.titleize }', status: :#{ status }".html_safe
      - c.html do
        <span class="badge-primary badge">Primary</span>
        <span class="badge-secondary badge">Secondary</span>
        <span class="badge-success badge">Success</span>
        <span class="badge-danger badge">Danger</span>
        <span class="badge-warning badge">Warning</span>
        <span class="badge-info badge">Info</span>
        <span class="badge-light badge">Light</span>
        <span class="badge-dark badge">Dark</span>

  - s.section title: "Badge Options" do
    %p Use <code>url</code> options to change tag from <code>span</code> to <code>a</code>.
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_badge status.to_s.titleize, status: status, type: :pill, glyph: 'gem', url: "##{ status }"
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_badge '#{ status.to_s.titleize }', status: :#{ status }, type: :pill, glyph: 'gem', url: '##{ status }'".html_safe
      - c.html do
        <a href="#primary" class="badge-primary badge badge-pill"><i class="glyph fa fa-gem"></i> Primary</span>
        <a href="#secondary" class="badge-secondary badge badge-pill"><i class="glyph fa fa-gem"></i> Secondary</span>
        <a href="#success" class="badge-success badge badge-pill"><i class="glyph fa fa-gem"></i> Success</span>
        <a href="#danger" class="badge-danger badge badge-pill"><i class="glyph fa fa-gem"></i> Danger</span>
        <a href="#warning" class="badge-warning badge badge-pill"><i class="glyph fa fa-gem"></i> Warning</span>
        <a href="#info" class="badge-info badge badge-pill"><i class="glyph fa fa-gem"></i> Info</span>
        <a href="#light" class="badge-light badge badge-pill"><i class="glyph fa fa-gem"></i> Light</span>
        <a href="#dark" class="badge-dark badge badge-pill"><i class="glyph fa fa-gem"></i> Dark</span>

  - s.section title: "Badge on button" do
    %p See #{ link_to "the button section", components_forms_buttons_button_path(anchor: "options-and-html-options") }

= @sections.render
