= title 'Progress Bar'
%blockquote UiBibz::Ui::Core::Notifications::ProgressBar
%p.bd-callout Provide up-to-date feedback on the ui_progress_bar of a workflow or action with simple yet flexible ui_progress_bar bars.

= code 'progress'

= component_options do |co|
  - co.status_link
  - co.list 'value', types: 'number'
  - co.list 'striped', types: 'boolean'
  - co.list 'animated', types: 'boolean'

- @sections = sections do |s|
  - s.section title: "Progress Bar" do
    = example do |c|
      - c.header do
        = ui_progress_bar 0
        = ui_progress_bar '25%', { status: :primary, value: 25 }, { class: 'my-progress' }
        = ui_progress_bar({ status: :primary, value: 50 }, { class: 'my-progress'}) do
          = 50
      - c.code do
        ui_progress_bar 0
         
        ui_progress_bar "25%", { status: :primary, value: 25 }, { class: 'my-progress' }
         
        ui_progress_bar({ status: :primary, value: 50 }, { class: 'my-progress'}) do
          50%
        end
      - c.html do
        :plain
          <div class="progress">
            <div class="progress-bar" aria-valuenow="0.0" aria-valuemin="0" aria-valuemax="100" style="width: 0.0%" role="progressbar"></div>
          </div>
          <div class="my-progress progress">
            <div class="bg-primary progress-bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%" role="progressbar"></div>
          </div>
          <div class="my-progress progress">
            <div class="bg-primary progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%" role="progressbar"></div></div>
          </div>

  - s.section title: "status" do
    = example do |c|
      - c.header do
        = ui_progress_bar 10, status: :primary
        = ui_progress_bar 25, status: :success
        = ui_progress_bar 50, status: :warning
        = ui_progress_bar 75, status: :danger
        = ui_progress_bar 100, status: :info
      - c.code do
        ui_progress_bar 10, status: :primary
        ui_progress_bar 25, status: :success
        ui_progress_bar 50, status: :warning
        ui_progress_bar 75, status: :danger
        ui_progress_bar 100, status: :info
      - c.html do
        :plain
          <div class="progress">
            <div class="bg-primary progress-bar" aria-valuenow="10.0" aria-valuemin="0" aria-valuemax="100" style="width: 10.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-success progress-bar" aria-valuenow="25.0" aria-valuemin="0" aria-valuemax="100" style="width: 25.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-warning progress-bar" aria-valuenow="50.0" aria-valuemin="0" aria-valuemax="100" style="width: 50.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-danger progress-bar" aria-valuenow="75.0" aria-valuemin="0" aria-valuemax="100" style="width: 75.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-info progress-bar" aria-valuenow="100.0" aria-valuemin="0" aria-valuemax="100" style="width: 100.0%" role="progressbar"></div>
          </div>

  - s.section title: "Line" do
    = example do |c|
      - c.header do
        = ui_progress_bar 10, status: :primary, line: true
        = ui_progress_bar 25, status: :success, line: true
        = ui_progress_bar 50, status: :warning, line: true
        = ui_progress_bar 75, status: :danger, line: true
        = ui_progress_bar 100, status: :info, line: true
      - c.code do
        ui_progress_bar 10, status: :primary, line: true
        ui_progress_bar 25, status: :success, line: true
        ui_progress_bar 50, status: :warning, line: true
        ui_progress_bar 75, status: :danger, line: true
        ui_progress_bar 100, status: :info, line: true
      - c.html do
        :plain
          <div class="progress progress-bar-line">
            <div class="bg-primary progress-bar" aria-valuenow="10.0" aria-valuemin="0" aria-valuemax="100" style="width: 10.0%" role="progressbar"></div>
          </div>
          <div class="progress progress-bar-line">
            <div class="bg-success progress-bar" aria-valuenow="25.0" aria-valuemin="0" aria-valuemax="100" style="width: 25.0%" role="progressbar"></div>
          </div>
          <div class="progress progress-bar-line">
            <div class="bg-warning progress-bar" aria-valuenow="50.0" aria-valuemin="0" aria-valuemax="100" style="width: 50.0%" role="progressbar"></div>
          </div>
          <div class="progress progress-bar-line">
            <div class="bg-danger progress-bar" aria-valuenow="75.0" aria-valuemin="0" aria-valuemax="100" style="width: 75.0%" role="progressbar"></div>
          </div>
          <div class="progress progress-bar-line">
            <div class="bg-info progress-bar" aria-valuenow="100.0" aria-valuemin="0" aria-valuemax="100" style="width: 100.0%" role="progressbar"></div>
          </div>

  - s.section title: "Striped" do
    = example do |c|
      - c.header do
        = ui_progress_bar 10, status: :primary, striped: true
        = ui_progress_bar 25, status: :success, striped: true
        = ui_progress_bar 50, status: :warning, striped: true
        = ui_progress_bar 75, status: :danger, striped: true
        = ui_progress_bar 100, status: :info, striped: true
      - c.code do
        ui_progress_bar 10, status: :primary, striped: true
        ui_progress_bar 25, status: :success, striped: true
        ui_progress_bar 50, status: :warning, striped: true
        ui_progress_bar 75, status: :danger, striped: true
        ui_progress_bar 100, status: :info, striped: true
      - c.html do
        :plain
          <div class="progress">
            <div class="bg-primary progress-bar progress-bar-striped" aria-valuenow="10.0" aria-valuemin="0" aria-valuemax="100" style="width: 10.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-success progress-bar progress-bar-striped" aria-valuenow="25.0" aria-valuemin="0" aria-valuemax="100" style="width: 25.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-warning progress-bar progress-bar-striped" aria-valuenow="50.0" aria-valuemin="0" aria-valuemax="100" style="width: 50.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-danger progress-bar progress-bar-striped" aria-valuenow="75.0" aria-valuemin="0" aria-valuemax="100" style="width: 75.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-info progress-bar progress-bar-striped" aria-valuenow="100.0" aria-valuemin="0" aria-valuemax="100" style="width: 100.0%" role="progressbar"></div>
          </div>

  - s.section title: "Animated" do
    = example do |c|
      - c.header do
        = ui_progress_bar 10, status: :primary, striped: true, animated: true
        = ui_progress_bar 25, status: :success, striped: true, animated: true
        = ui_progress_bar 50, status: :warning, striped: true, animated: true
        = ui_progress_bar 75, status: :danger, striped: true, animated: true
        = ui_progress_bar 100, status: :info, striped: true, animated: true
      - c.code do
        ui_progress_bar 10, status: :primary, striped: true, animated: true
        ui_progress_bar 25, status: :success, striped: true, animated: true
        ui_progress_bar 50, status: :warning, striped: true, animated: true
        ui_progress_bar 75, status: :danger, striped: true, animated: true
        ui_progress_bar 100, status: :info, striped: true, animated: true
      - c.html do
        :plain
          <div class="progress">
            <div class="bg-primary progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="10.0" aria-valuemin="0" aria-valuemax="100" style="width: 10.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="25.0" aria-valuemin="0" aria-valuemax="100" style="width: 25.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-warning progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="50.0" aria-valuemin="0" aria-valuemax="100" style="width: 50.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-danger progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="75.0" aria-valuemin="0" aria-valuemax="100" style="width: 75.0%" role="progressbar"></div>
          </div>
          <div class="progress">
            <div class="bg-info progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="100.0" aria-valuemin="0" aria-valuemax="100" style="width: 100.0%" role="progressbar"></div>
          </div>

  - s.section title: "Stacked" do
    = example do |c|
      - c.header do
        = ui_progress_bar 100, stacked: true, striped: true, animated: true
        = ui_progress_bar 100, stacked: true, inverse: true
        = ui_progress_bar 47, stacked: true
      - c.code do
        ui_progress_bar 100, stacked: true, striped: true, animated: true
        ui_progress_bar 100, stacked: true, inverse: true
        ui_progress_bar 47, stacked: true
      - c.html do
        :plain
          <div class="progress">
            <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="7.4" aria-valuemin="0" aria-valuemax="100" style="width: 7.4%" role="progressbar"></div>
            <div class="bg-primary progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="15.3" aria-valuemin="0" aria-valuemax="100" style="width: 15.3%" role="progressbar"></div>
            <div class="bg-info progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="21.1" aria-valuemin="0" aria-valuemax="100" style="width: 21.1%" role="progressbar"></div>
            <div class="bg-warning progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="25.9" aria-valuemin="0" aria-valuemax="100" style="width: 25.9%" role="progressbar"></div>
            <div class="bg-danger progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="30.3" aria-valuemin="0" aria-valuemax="100" style="width: 30.3%" role="progressbar"></div>
          </div>

          <div class="progress">
            <div class="bg-danger progress-bar" aria-valuenow="7.4" aria-valuemin="0" aria-valuemax="100" style="width: 7.4%" role="progressbar"></div>
            <div class="bg-warning progress-bar" aria-valuenow="15.3" aria-valuemin="0" aria-valuemax="100" style="width: 15.3%" role="progressbar"></div>
            <div class="bg-info progress-bar" aria-valuenow="21.1" aria-valuemin="0" aria-valuemax="100" style="width: 21.1%" role="progressbar"></div>
            <div class="bg-primary progress-bar" aria-valuenow="25.9" aria-valuemin="0" aria-valuemax="100" style="width: 25.9%" role="progressbar"></div>
            <div class="bg-success progress-bar" aria-valuenow="30.3" aria-valuemin="0" aria-valuemax="100" style="width: 30.3%" role="progressbar"></div>
          </div>

          <div class="progress">
            <div class="bg-success progress-bar" aria-valuenow="7.4" aria-valuemin="0" aria-valuemax="100" style="width: 7.4%" role="progressbar"></div>
            <div class="bg-primary progress-bar" aria-valuenow="15.3" aria-valuemin="0" aria-valuemax="100" style="width: 15.3%" role="progressbar"></div>
            <div class="bg-info progress-bar" aria-valuenow="21.1" aria-valuemin="0" aria-valuemax="100" style="width: 21.1%" role="progressbar"></div>
            <div class="bg-warning progress-bar" aria-valuenow="12.173" aria-valuemin="0" aria-valuemax="100" style="width: 12.173%" role="progressbar"></div>
          </div>

  - s.section title: "Custom" do
    = example do |c|
      - c.header do
        = ui_progress_bar tap: true do |pb|
          - pb.bar 25, status: :warning, striped: true
          - pb.bar 65, status: :danger
      - c.code do
        :plain
          ui_progress_bar tap: true do |pb|
            pb.bar 25, status: :warning, striped: true
            pb.bar 65, status: :danger
          end
      - c.html do
        :plain
          <div class="progress">
            <div class="bg-warning progress-bar progress-bar-striped" aria-valuenow="25.0" aria-valuemin="0" aria-valuemax="100" style="width: 25.0%" role="progressbar"></div>
            <div class="bg-danger progress-bar" aria-valuenow="65.0" aria-valuemin="0" aria-valuemax="100" style="width: 65.0%" role="progressbar"></div>
          </div>

= @sections.render
