= title 'List'
%blockquote UiBibz::Ui::Core::Lists::List
%p.bd-callout List component for displaying custom content.

= code do
  :plain
    # by variable
    ui_list content, options, html_options

    # or by block
    ui_list options, html_options do
      content
    end

    # or by block with tap
    ui_list options, html_options do |l|
      # by variable
      l.header content, options, html_options
      # or by block
      l.header options, html_options do
        content
      end

      # by variable
      l.body content, options, html_options
      # or by block
      l.body options, html_options do
        content
      end
    end

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.state_link
  - co.list 'badge', types: %w(hash string), description: "(use component #{ link_to('badge',components_boxes_card_path) } method)"

= component_items do |ci|
  - ci.inherit_component 'header'
  - ci.inherit_component 'body'
  - ci.inherit_component 'footer'

- @sections = sections do |s|
  - s.section title: "List" do
    = example do |c|
      - c.header do
        = ui_list 'Cras justo odio'
        %br
        = ui_list do
          = 'Cras justo odio by block'
      - c.code do
        :plain
          ui_list 'Cras justo odio'

          ui_list do
            Cras justo odio by block
          end
      - c.html do
        <li class="list-group-item">Cras justo odio</li>

  - s.section title: "Badge" do
    = example do |c|
      - c.header do
        = ui_list 'Cras justo odio', badge: 14
        %br
        = ui_list 'Dapibus ac facilisis in', badge: { content: 2, type: :square }
      - c.code do
        :plain
          ui_list 'Cras justo odio', badge: 14
          ui_list 'Dapibus ac facilisis in', badge: { content: 2, type: :square }
      - c.html do
        :plain
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Cras justo odio
            <span class="badge-secondary badge badge-pill">14</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Dapibus ac facilisis in
            <span class="badge-secondary badge">2</span>
          </li>

  - s.section title: "Link" do
    = example do |c|
      - c.header do
        = ui_list 'Cras justo odio', url: "#1", state: :active, tag: :a
        %br
        = ui_list 'Porta ac consectetur ac', url: "#2", tag: :a
      - c.code do
        :plain
          ui_list 'Cras justo odio', url: "#1", state: :active, tag: :a
          ui_list 'Porta ac consectetur ac', url: "#2", tag: :a
      - c.html do
        :plain
          <a class="active list-group-item" href="#1">Cras justo odio</a>
          <a class="list-group-item" href="#2">Porta ac consectetur ac</a>

  - s.section title: "Button" do
    = example do |c|
      - c.header do
        = ui_list 'Cras justo odio', url: "#1", state: :active, tag: :button
        %br
        = ui_list 'Porta ac consectetur ac', url: "#2", tag: :button
      - c.code do
        :plain
          ui_list 'Cras justo odio', url: "#1", state: :active, tag: :button
          ui_list 'Porta ac consectetur ac', url: "#2", tag: :button
      - c.html do
        :plain
          <button class="active list-group-item" href="#1">Cras justo odio</button>
          <button class="list-group-item" href="#2">Porta ac consectetur ac<button>

  - s.section title: "Disabled items" do
    = example do |c|
      - c.header do
        = ui_list 'Cras justo odio', state: :disabled
      - c.code do
        :plain
          ui_list 'Cras justo odio', state: :disabled
      - c.html do
        :plain
          <li class="disabled list-group-item">Cras justo odio</li>

  - s.section title: "Status" do
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_list "This is a #{ status } list group item", status: status
          %br
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_list 'This is a #{ status } list group item', status: :#{ status }".html_safe
      - c.html do
        <li class="list-group-item-primary list-group-item">This is a primary list group item</li>
        <li class="list-group-item-secondary list-group-item">This is a secondary list group item</li>
        <li class="list-group-item-success list-group-item">This is a success list group item</li>
        <li class="list-group-item-danger list-group-item">This is a danger list group item</li>
        <li class="list-group-item-warning list-group-item">This is a warning list group item</li>
        <li class="list-group-item-info list-group-item">This is a info list group item</li>
        <li class="list-group-item-light list-group-item">This is a light list group item</li>
        <li class="list-group-item-dark list-group-item">This is a dark list group item</li>

  - s.section title: "Block" do
    = example do |c|
      - c.header do
        = ui_list tap: true, url: '#', state: :active, tag: :a do |l|
          - l.header 'List group item heading', extra: "3 days ago"
          - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.', extra: "Donec id elit non mi porta"
        %br
        = ui_list tap: true, url: '#', tag: :a do |l|
          - l.header class: 'my-header', extra: "3 days ago" do
            = 'List group item heading'
          - l.body class: 'my-body', extra: "Donec id elit non mi porta" do
            = 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
      - c.code do
        :plain
          ui_list tap: true, state: :active, tag: :a do |l|
            l.header 'List group item heading', extra: "3 days ago"
            l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.', extra: "Donec id elit non mi porta"
          end
          ui_list tap: true, tag: :a do |l|
            l.header class: 'my-header', extra: "3 days ago" do
              'List group item heading'
            end
            l.body class: 'my-body', extra: "Donec id elit non mi porta" do
              'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
            end
          end
      - c.html do
        :plain
          <a tag="a" href="#" class="active list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta</small>
          </a>

          <a tag="a" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="my-header d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="my-body mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta</small>
          </a>

= @sections.render
