= ui_nav class: 'nav-left' do |n|
  - n.text 'Boxes'
  - n.link 'Card', nav_options(components_boxes_card_path)
  - n.link 'Card accordion', nav_options(components_boxes_card_accordion_path)
  - n.link 'Card column', nav_options(components_boxes_card_column_path)
  - n.link 'Card deck', nav_options(components_boxes_card_deck_path)
  - n.link 'Card group', nav_options(components_boxes_card_group_path)
  - n.link 'Jumbotron', nav_options(components_boxes_jumbotron_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Containers'
  - n.link 'Panel', nav_options(components_containers_panel_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Icons'
  - n.link 'Glyph', nav_options(components_icons_glyph_path)
  - n.link 'Glyph group', nav_options(components_icons_glyph_group_path)
  - n.link 'Star', nav_options(components_icons_star_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Layouts'
  - n.link 'Col', nav_options(components_layouts_col_path)
  - n.link 'Container', nav_options(components_layouts_container_path)
  - n.link 'Row', nav_options(components_layouts_row_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Lists'
  - n.link 'List', nav_options(components_lists_list_path)
  - n.link 'List group', nav_options(components_lists_list_group_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Navigations'
  - n.link 'Breadcrumb', nav_options(components_navigations_breadcrumb_path)
  - n.link 'Link', nav_options(components_navigations_link_path)
  - n.link 'Nav', nav_options(components_navigations_nav_path)
  - n.link 'Navbar', nav_options(components_navigations_navbar_path)
  - n.link 'Pagination', nav_options(components_navigations_pagination_path)
  - n.link 'Tab group', nav_options(components_navigations_tab_group_path)
  - n.link 'Toolbar', nav_options(components_navigations_toolbar_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Notifications'
  - n.link 'Alert', nav_options(components_notifications_alert_path)
  - n.link 'Badge', nav_options(components_notifications_badge_path)
  - n.link 'Popover', nav_options(component_path(anchor: "popover"))
  - n.link 'Progress bar', nav_options(components_notifications_progress_bar_path)
  - n.link 'Toast', nav_options(components_notifications_toast_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Tables'
  - n.link 'Table', nav_options(components_tables_table_path)
  - n.link 'Table card', nav_options(components_tables_table_card_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Forms'
  - n.nav do |no|
    - no.text 'Buttons'
    - no.nav do |na|
      - na.link 'Button', nav_options(components_forms_buttons_button_path)
      - na.link 'Button group', nav_options(components_forms_buttons_button_group_path)
      - na.link 'Button link', nav_options(components_forms_buttons_button_link_path)

    - no.text 'Choices'
    - no.nav do |na|
      - na.link 'Box Switch field', nav_options(components_forms_choices_box_switch_field_path)
      - na.link 'Checkbox field', nav_options(components_forms_choices_checkbox_field_path)
      - na.link 'Choice group', nav_options(components_forms_choices_choice_group_path)
      - na.link 'Radio field', nav_options(components_forms_choices_radio_field_path)
      - na.link 'Switch field', nav_options(components_forms_choices_switch_field_path)

    - no.text 'Dates'
    - no.nav do |na|
      - na.link 'Date picker field', nav_options(components_forms_dates_date_picker_field_path)

    - no.text 'Dropdowns'
    - no.nav do |na|
      - na.link 'Dropdown', nav_options(components_forms_dropdowns_dropdown_path)
      - na.link 'Split Dropdown', nav_options(components_forms_dropdowns_split_dropdown_path)

    - no.text 'Files'
    - no.nav do |na|
      - na.link 'File', nav_options(components_forms_files_file_field_path)

    - no.text 'Numbers'
    - no.nav do |na|
      - na.link 'Formula field', nav_options(components_forms_numbers_formula_field_path)
      - na.link 'Number field', nav_options(components_forms_numbers_number_field_path)
      - na.link 'Range field', nav_options(components_forms_numbers_range_field_path)

    - no.text 'Selects'
    - no.nav do |na|
      - na.link 'Dropdown select field', nav_options(components_forms_selects_dropdown_select_field_path)
      - na.link 'Select field', nav_options(components_forms_selects_select_field_path)
      - na.link 'Multi column field', nav_options(components_forms_selects_multi_column_field_path)
      - na.link 'Multi select field', nav_options(components_forms_selects_multi_select_field_path)

    - no.text 'Surrounds'
    - no.nav do |na|
      - na.link 'Surround field', nav_options(components_forms_surrounds_surround_field_path)

    - no.text 'Textareas'
    - no.nav do |na|
      - na.link 'Markdown editor field', nav_options(components_forms_textareas_markdown_editor_field_path)

    - no.text 'Texts'
    - no.nav do |na|
      - na.link 'Auto complete field', nav_options(components_forms_texts_auto_complete_field_path)
      - na.link 'Text field', nav_options(components_forms_texts_text_field_path)

= ui_nav class: 'nav-left' do |n|
  - n.text 'Windows'
  - n.link 'Modal', nav_options(components_windows_modal_path)
