= title 'Alert'
%blockquote UiBibz::Ui::Core::Alert
%p.bd-callout Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.

= code "ui_alert"

= component_options do |co|
  - co.status_link
  - co.list 'closable', types: :boolean, default: "false"

- @sections = sections do |s|
  - s.section title: "Alert" do
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_alert "This is a #{ status.to_s } alert", status: status
      - c.code do
        ui_alert 'This is a primary alert', status: :primary
        ui_alert 'This is a secondary alert', status: :secondary
        ui_alert 'This is a success alert', status: :success
        ui_alert 'This is a danger alert', status: :danger
        ui_alert 'This is a warning alert', status: :warning
        ui_alert 'This is a info alert', status: :info
        ui_alert 'This is a light alert', status: :light
        ui_alert 'This is a dark alert', status: :dark
      - c.html do
        <div class="alert-danger alert alert-dismissible" role="alert">Danger</div>
        <div class="alert-warning alert alert-dismissible" role="alert">Warning</div>
        <div class="alert-info alert alert-dismissible" role="alert">Info</div>
        <div class="alert-success alert alert-dismissible" role="alert">Success</div>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Alert options" do
    = example do |c|
      - c.header do
        = ui_alert 'Success', status: :success, closable: true, class: 'my-alert'
        = ui_alert status: :danger, closable: true, class: 'my-alert' do
          = "Danger notification with #{ link_to('link', '#', class: 'alert-link') }.".html_safe
      - c.code do
        ui_alert 'Success', { status: :success, closable: true }, { class: 'my-alert' }
         
        ui_alert({ status: :danger, closable: true }, { class: 'my-alert' }) do
          "Danger notification with #{ link_to('link', '#', class: 'alert-link') }"
        end
      - c.html do
        <div class="alert-success my-alert alert alert-dismissible" role="alert">Success<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></div>

        <div class="alert-danger my-alert alert alert-dismissible" role="alert">Danger notification with <a class="alert-link" href="#">link</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></div>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
