:markdown
  # Alerts, notify

- @sections = sections do |s|
  - s.section title: "Notify" do
    = example do |c|
      - c.header do
        - %i(danger warning info success).each do |state|
          = notify state.to_s.titleize, state: state
      - c.code do
        notify 'Danger', state: :danger
        notify 'Warning', state: :warning
        notify 'Info', state: :info
        notify 'Success', state: :success
      - c.html do
        <div class="card-header"><div class="alert-danger alert alert-dismissible" role="alert">Danger</div>
        <div class="alert-warning alert alert-dismissible" role="alert">Warning</div>
        <div class="alert-info alert alert-dismissible" role="alert">Info</div>
        <div class="alert-success alert alert-dismissible" role="alert">Success</div>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Notify options" do
    = example do |c|
      - c.header do
        = notify 'Success', state: :success, closable: true, class: 'my-alert'
        = notify state: :danger, closable: true, class: 'my-alert' do
          = "Danger notification with #{ link_to('link', '#', class: 'alert-link') }.".html_safe
      - c.code do
        notify 'Success', { state: :success, closable: true }, { class: 'my-alert' }
         
        notify({ state: :danger, closable: true }, { class: 'my-alert' }) do
          "Danger notification with #{ link_to('link', '#', class: 'alert-link') }"
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
