= title 'Alert, Notify'
%blockquote UiBibz::Ui::Core::Notify
%p.bd-callout Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.

= code "notify"

= component_options do |co|
  - co.status_link
  - co.list 'closable', 'boolean'

- @sections = sections do |s|
  - s.section title: "Notify" do
    = example do |c|
      - c.header do
        - %i(danger warning info success).each do |status|
          = notify status.to_s.titleize, status: status
      - c.code do
        notify 'Danger', status: :danger
        notify 'Warning', status: :warning
        notify 'Info', status: :info
        notify 'Success', status: :success
      - c.html do
        <div class="alert-danger alert alert-dismissible" role="alert">Danger</div>
        <div class="alert-warning alert alert-dismissible" role="alert">Warning</div>
        <div class="alert-info alert alert-dismissible" role="alert">Info</div>
        <div class="alert-success alert alert-dismissible" role="alert">Success</div>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Notify options" do
    = example do |c|
      - c.header do
        = notify 'Success', status: :success, closable: true, class: 'my-alert'
        = notify status: :danger, closable: true, class: 'my-alert' do
          = "Danger notification with #{ link_to('link', '#', class: 'alert-link') }.".html_safe
      - c.code do
        notify 'Success', { status: :success, closable: true }, { class: 'my-alert' }
         
        notify({ status: :danger, closable: true }, { class: 'my-alert' }) do
          "Danger notification with #{ link_to('link', '#', class: 'alert-link') }"
        end
      - c.html do
        <div class="alert-success my-alert alert alert-dismissible" role="alert">Success<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></div>

        <div class="alert-danger my-alert alert alert-dismissible" role="alert">Danger notification with <a class="alert-link" href="#">link</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button></div>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
