= title 'Badge'
%blockquote UiBibz::Ui::Core::Badge
%p.bd-callout
  Add any of the below mentioned modifier classes to change the appearance of a badge.

= code 'badge'

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.list 'type', types: 'symbol', values: %w(:pill :square)

- @sections = sections do |s|
  - s.section title: "Badge" do
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_badge status.to_s.titleize, status: status
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_badge '#{ status.to_s.titleize }', status: :#{ status }".html_safe
      - c.html do
        <span class="badge-primary badge">Primary</span>
        <span class="badge-secondary badge">Secondary</span>
        <span class="badge-success badge">Success</span>
        <span class="badge-danger badge">Danger</span>
        <span class="badge-warning badge">Warning</span>
        <span class="badge-info badge">Info</span>
        <span class="badge-light badge">Light</span>
        <span class="badge-dark badge">Dark</span>

  - s.section title: "Badge Options" do
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_badge status.to_s.titleize, status: status, type: :pill, glyph: 'diamond'
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_badge '#{ status.to_s.titleize }', status: :#{ status }, type: :pill, glyph: 'diamond'".html_safe
      - c.html do
        <span class="badge-primary badge badge-pill"><i class="glyph fa fa-diamond"></i> Primary</span>
        <span class="badge-secondary badge badge-pill"><i class="glyph fa fa-diamond"></i> Secondary</span>
        <span class="badge-success badge badge-pill"><i class="glyph fa fa-diamond"></i> Success</span>
        <span class="badge-danger badge badge-pill"><i class="glyph fa fa-diamond"></i> Danger</span>
        <span class="badge-warning badge badge-pill"><i class="glyph fa fa-diamond"></i> Warning</span>
        <span class="badge-info badge badge-pill"><i class="glyph fa fa-diamond"></i> Info</span>
        <span class="badge-light badge badge-pill"><i class="glyph fa fa-diamond"></i> Light</span>
        <span class="badge-dark badge badge-pill"><i class="glyph fa fa-diamond"></i> Dark</span>

= @sections.render
