:markdown
  # Dropdowns
  Toggleable, contextual menu for displaying lists of links.
- @sections = sections do |s|
  - s.section title: "Dropdown" do
    = example do |c|
      :markdown
        Dropdown button has several block type:

        * #{ inherit_component_link 'link' }
        * #{ inherit_component_link 'header' }
        * #{ inherit_component_link 'html' }
        * divider

      - c.header do
        = dropdown('Dropdown', { open: true }, { class: 'open-dropdown-example' }) do |d|
          - d.link "Action 1", url: '#action'
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
      - c.code do
        dropdown 'Dropdown' do |d|
          d.link "Action 1", url: '#action'
          d.link url: '#another-action' do
            "Action 2"
          end
          d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            "Action 3"
          end
        end
      - c.html do
        <div class="open-dropdown-example dropdown btn-group open">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action">Action 1</a>
            <a class="dropdown-item" href="#another-action">Action 2</a>
            <a class="my-link dropdown-item" href="#separate-link">Action 3</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Dropdown options" do
    = example do |c|

      :markdown
        Dropdown button has several options:

        * #{ state_link }
        * #{ glyph_link }
        * #{ size_link }
        * #{ status_link }
        * position (`:right, :left`)
        * type (`:dropup, :dropdown`)

      - c.header do
        = dropdown('Dropdown', { state: :secondary, glyph: 'diamond', open: true }, { class: 'open-dropdown-example' }) do |d|
          - d.link "Confirm action", url: '#action', link_html_options: { data: { confirm: 'Are you sure?' }}, method: :delete
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
      - c.code do
        dropdown('Dropdown', { state: :secondary, glyph: 'diamond' }, { class: 'my-dropdown'}) do |d|
          d.link "Action 1", url: '#action'
          d.link "Confirm action", url: '#action', link_html_options: { data: { confirm: 'Are you sure?' }}, method: :delete
          d.link url: '#another-action' do
            "Action 2"
          end
          d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            "Action 3"
          end
        end
      - c.html do
        <div class="open-dropdown-example dropdown btn-group open">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyph fa fa-diamond"></i> Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" data-confirm="Are you sure?" href="#action">Confirm action</a>
            <a class="dropdown-item" href="#another-action">Action 2</a>
            <a class="my-link dropdown-item" href="#separate-link">Action 3</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Position" do
    = example do |c|
      - c.header do
        = dropdown "Dropdown with right menu", position: :right, open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2'
          - d.link "Action 3", url: '#action-3'
      - c.code do
        dropdown "Dropdown with right menu", position: :right do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        <div class="open-dropdown-example dropdown btn-group open">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown with right menu <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <a class="dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Header" do
    = example do |c|
      - c.header do
        = dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.header "Header 1"
          - d.link "Action 1", url: '#action-1'
          - d.header class: 'my-header' do
            = 'Header 2'
          - d.link "Action 2", url: '#action-2'
          - d.link "Action 3", url: '#action-3'
        %br
        %br
        %br
        %br
      - c.code do
        dropdown "Dropdown" do |d|
          d.header "Header 1"
          d.link "Action 1", url: '#action-1'
          d.header class: 'my-header' do
            'Header 2'
          end
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        <div class="open-dropdown-example dropdown btn-group open">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <h6 class="dropdown-header" role="presentation">Header 1</h6>
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <h6 class="my-header dropdown-header" role="presentation">Header 2</h6>
            <a class="dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Divider" do
    = example do |c|
      - c.header do
        = dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.divider
          - d.link "Separate action 1", url: '#separate-action-1'
          - d.link "Separate action 2", url: '#separate-action-2'
        %br
        %br
      - c.code do
        dropdown "Dropdown" do |d|
          d.link "Action 1", url: '#action-1'
          d.divider
          d.link "Separate action 1", url: '#separate-action-1'
          d.link "Separate action 2", url: '#separate-action-2'
        end
      - c.html do
        <div class="open-dropdown-example dropdown btn-group open">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#separate-action-1">Separate action 1</a>
            <a class="dropdown-item" href="#separate-action-2">Separate action 2</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Html" do
    = example do |c|
      - c.header do
        = dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.html link_to("Action 1", '#action-1', class:'dropdown-item')
          - d.html link_to("Action 2", '#action-2', class:'dropdown-item')
          - d.html link_to("Action 3", '#action-3', class:'dropdown-item')
        %br
        %br
      - c.code do
        dropdown "Dropdown" do |d|
          d.html link_to("Action 1", url: '#action-1', class: 'dropdown-item')
          d.html link_to("Action 2", url: '#action-2', class: 'dropdown-item')
          d.html link_to("Action 3", url: '#action-3', class: 'dropdown-item')
        end
      - c.html do
        <div class="open-dropdown-example dropdown btn-group open">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <a class="dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Disabled" do
    = example do |c|
      - c.header do
        = dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', status: :disabled
          - d.link "Action 3", url: '#action-3'
      - c.code do
        dropdown "Dropdown" do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        <div class="open-dropdown-example dropdown btn-group open">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <a class="disabled dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
