%h2 Glyphs
%blockquote UiBibz::Ui::Core::Glyph
%p.bd-callout Includes over 634 glyphs in font format from the #{ link_to 'fontawesome.io', 'http://fontawesome.io/icons/'} set (<em>version #{ UiBibzApp::Application::Gems::font_awesome.version }</em>).
- @sections = sections do |s|
  - s.section title: "Glyph" do
    = example do |c|
      - c.header do
        = glyph 'diamond'
      - c.code do
        glyph 'diamond'
      - c.html do
        <i class="glyph fa fa-diamond"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Size" do
    :markdown
      L'argument size accepte pour argument un nombre ou `:xs` `:md` `:lg`
    = example do |c|
      - c.header do
        = glyph 'diamond', size: :xs
        = glyph 'diamond', size: 2
        = glyph 'diamond', size: :md
        = glyph 'diamond', size: :lg
      - c.code do
        glyph 'diamond', size: :xs
        glyph 'diamond', size: 2
        glyph 'diamond', size: :md
        glyph 'diamond', size: :lg
      - c.html do
        <i class="glyph fa fa-diamond fa-1x"></i>
        <i class="glyph fa fa-diamond fa-2x"></i>
        <i class="glyph fa fa-diamond fa-3x"></i>
        <i class="glyph fa fa-diamond fa-5x"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Type" do
    = example do |c|
      :markdown
        * `fw` : fixed width icon
      - c.header do
        = glyph 'diamond', type: 'fw'
      - c.code do
        glyph 'diamond', type: 'fw'
      - c.html do
        <i class="glyph fa fa-diamond fa-fw"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "status" do
    = example do |c|
      - c.header do
        - %i(primary secondary warning info success danger).each do |status|
          = glyph 'diamond', status: status
      - c.code do
        glyph 'diamond', status: :primary
        glyph 'diamond', status: :secondary
        glyph 'diamond', status: :warning
        glyph 'diamond', status: :info
        glyph 'diamond', status: :success
        glyph 'diamond', status: :danger
      - c.html do
        <i class="glyph-primary glyph fa fa-diamond"></i>
        <i class="glyph-secondary glyph fa fa-diamond"></i>
        <i class="glyph-warning glyph fa fa-diamond"></i>
        <i class="glyph-info glyph fa fa-diamond"></i>
        <i class="glyph-success glyph fa fa-diamond"></i>
        <i class="glyph-danger glyph fa fa-diamond"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Rotate" do
    = example do |c|
      - c.header do
        = glyph 'diamond', rotate: 90
        = glyph 'diamond', rotate: 180
        = glyph 'diamond', rotate: 270
      - c.code do
        glyph 'diamond', rotate: 90
        glyph 'diamond', rotate: 180
        glyph 'diamond', rotate: 270
      - c.html do
        <i class="glyph fa fa-diamond fa-rotate-90"></i>
        <i class="glyph fa fa-diamond fa-rotate-180"></i>
        <i class="glyph fa fa-diamond fa-rotate-270"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Flip" do
    = example do |c|
      - c.header do
        = glyph 'diamond', flip: :horizontal
        = glyph 'diamond', flip: :vertical
      - c.code do
        glyph 'diamond', flip: :horizontal
        glyph 'diamond', flip: :vertical
      - c.html do
        <i class="glyph fa fa-diamond fa-flip-horizontal"></i>
        <i class="glyph fa fa-diamond fa-flip-vertical"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Stack" do
    = example do |c|
      - c.header do
        = glyph 'square', stack: 2
        = glyph 'diamond', stack: 1, status: :danger
      - c.code do
        glyph 'square', stack: 2
        glyph 'diamond', stack: 1, status: :danger
      - c.html do
        <i class="glyph fa fa-square fa-stack-2x"></i>
        <i class="glyph-danger glyph fa fa-diamond fa-stack-1x"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Hash" do
    %p You can create a glyph with only one hash.
    = example do |c|
      - c.header do
        = glyph({ name: 'diamond', size: :md })
      - c.code do
        glyph { name: 'diamond', size: :md }
      - c.html do
        <i class="glyph fa fa-diamond fa-3x"></i>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
