:markdown
  # Components

- @sections = sections do |s|
  - s.section title: "Component" do
    :markdown
      Le composant est au coeur de l'expérience Ui Bibz.
      Chaque élément du framework hérite de l'élément `composant`.
      Ce dernier peut contenir 3 arguments:

      * content (variable ou block)
      * options
      * html_options

    = example do |c|
      - c.code do
        Component.new content, options = {}, html_options = {}
        \# or
        Component.new(options = {}, html_options = {}) do
          content
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Render method" do
    :markdown
      La méthode `render` permet de générer le code html du composant.
    = example do |c|
      - c.code do
        Component.new('My content', { state: :primary }, { class: 'my-class' }).render
        \# or
        Component.new({ size: 3 }, { id: 'my-id' }) do
          My content
        end.render
      - c.footer do
        = documentation_link 'Documentation', '#'

  :markdown
    ##Component Options

  - s.section title: "Size" do
    :markdown
      Certain composant peuvent avoir l'option size dans leurs paramètres.
      L'argument size contient 3 valeurs distincts:

        * :xs
        * :md
        * :lg

    = example do |c|
      - c.code do
        Component.new content, size: :xs
        Component.new content, size: :md
        Component.new content, size: :lg
      - c.footer do
        = documentation_link 'Documentation', '#'
        |
        = itag "buttons", components_buttons_path
        ,
        = itag "dropdowns", components_dropdowns_path
        ,
        = itag "glyphs", components_glyphs_path
        ,
        = itag "navs", components_navs_path
        ,
        = itag "stars", components_stars_path

  - s.section title: "State" do
    :markdown
      Certain composant peuvent avoir l'option `state` dans leurs paramètres.
      Cette option permet de changer la couleur de l'élément comme précisé dans [la documentation de bootstrap](http://v4-alpha.getbootstrap.com/components/buttons/).
      L'argument `state` contient 7 valeurs distincts:

        * :primary
        * :secondary
        * :danger
        * :success
        * :info
        * :warning

    = example do |c|
      - c.code do
        Component.new content, state: :primary
        Component.new content, state: :secondary
        Component.new content, state: :danger
        Component.new content, state: :success
        Component.new content, state: :info
        Component.new content, state: :warning
      - c.footer do
        = documentation_link 'Documentation', '#'
        |
        = itag "buttons", components_buttons_path
        ,
        = itag "dropdowns", components_dropdowns_path
        ,
        = itag "glyphs", components_glyphs_path
        ,
        = itag "navs", components_navs_path
        ,
        = itag "stars", components_stars_path

  - s.section title: "Glyph" do
    :markdown
      Certain composant peuvent avoir l'option `glyph` dans leurs paramètres.
      Cette option permet d'ajouter un glyph à son composant.
      Vous pouvez écrire la valeur de cet argument de plusieurs manières, pour celà, veuillez vous référer au composant [glyph](../components/glyphs).
    = example do |c|
      - c.code do
        Component.new content, glyph: 'star'
        Component.new content, glyph: { name: 'star', size: 2, type: 'fw' }
      - c.footer do
        = documentation_link 'Documentation', '#'
        |
        = itag "buttons", components_buttons_path
        ,
        = itag "dropdowns", components_dropdowns_path
        ,
        = itag "glyphs", components_glyphs_path
        ,
        = itag "navs", components_navs_path
        ,
        = itag "stars", components_stars_path
        ,
        = itag "cards", components_cards_cards_path

  - s.section title: "Status" do
    = example do |c|
      - c.code do
        Component.new content, status: :active
        Component.new content, status: :disable
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Html_options" do
    :markdown
      Vous avez la possibilité d'ajouter toutes les propriétés html.
    = example do |c|
      - c.code do
        Component.new content, {}, { class: 'my-component', data: { target: 'first' }}
        Component.new({}, { id: 'my-id' }) do
          content
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
