:markdown
  # Labels, etiquettes
  Add any of the below mentioned modifier classes to change the appearance of a label.
- @sections = sections do |s|
  - s.section title: "Etiquette" do
    :markdown
      Etiquette has several options:

      * #{ status_link }
      * #{ glyph_link }
      * type (`:pill`)

    = example do |c|
      - c.header do
        - %i(primary default danger warning info success).each do |status|
          = etiquette status.to_s.titleize, status: status
      - c.code do
        etiquette 'Primary', status: :primary
        etiquette 'Default', status: :default
        etiquette 'Danger', status: :danger
        etiquette 'Warning', status: :warning
        etiquette 'Info', status: :info
        etiquette 'Success', status: :success
      - c.html do
        <span class="label-primary label">Primary</span>
        <span class="label-default label">Default</span>
        <span class="label-danger label">Danger</span>
        <span class="label-warning label">Warning</span>
        <span class="label-info label">Info</span>
        <span class="label-success label">Success</span>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Etiquette Options" do
    = example do |c|
      - c.header do
        - %i(primary default danger warning info success).each do |status|
          = etiquette status.to_s.titleize, status: status, type: :pill, glyph: 'diamond'
      - c.code do
        etiquette 'Primary', status: :primary, type: :pill, glyph: 'diamond'
        etiquette 'Default', status: :default, type: :pill, glyph: 'diamond'
        etiquette 'Danger', status: :danger, type: :pill, glyph: 'diamond'
        etiquette 'Warning', status: :warning, type: :pill, glyph: 'diamond'
        etiquette 'Info', status: :info, type: :pill, glyph: 'diamond'
        etiquette 'Success', status: :success, type: :pill, glyph: 'diamond'
      - c.html do
        <span class="label-primary label label-pill"><i class="glyph fa fa-diamond"></i> Primary</span>
        <span class="label-default label label-pill"><i class="glyph fa fa-diamond"></i> Default</span>
        <span class="label-danger label label-pill"><i class="glyph fa fa-diamond"></i> Danger</span>
        <span class="label-warning label label-pill"><i class="glyph fa fa-diamond"></i> Warning</span>
        <span class="label-info label label-pill"><i class="glyph fa fa-diamond"></i> Info</span>
        <span class="label-success label label-pill"><i class="glyph fa fa-diamond"></i> Success</span>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
