:markdown
  # Labels, etiquettes
  Add any of the below mentioned modifier classes to change the appearance of a label.
- @sections = sections do |s|
  - s.section title: "Etiquette" do
    = example do |c|
      - c.header do
        - %i(primary default danger warning info success).each do |state|
          = etiquette state.to_s.titleize, state: state
      - c.code do
        etiquette 'Primary', state: :primary
        etiquette 'Default', state: :default
        etiquette 'Danger', state: :danger
        etiquette 'Warning', state: :warning
        etiquette 'Info', state: :info
        etiquette 'Success', state: :success
      - c.html do
        <span class="label-primary label">Primary</span>
        <span class="label-default label">Default</span>
        <span class="label-danger label">Danger</span>
        <span class="label-warning label">Warning</span>
        <span class="label-info label">Info</span>
        <span class="label-success label">Success</span>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Pill" do
    = example do |c|
      - c.header do
        - %i(primary default danger warning info success).each do |state|
          = etiquette state.to_s.titleize, state: state, type: :pill
      - c.code do
        etiquette 'Primary', state: :primary, type: :pill
        etiquette 'Default', state: :default, type: :pill
        etiquette 'Danger', state: :danger, type: :pill
        etiquette 'Warning', state: :warning, type: :pill
        etiquette 'Info', state: :info, type: :pill
        etiquette 'Success', state: :success, type: :pill
      - c.html do
        <span class="label-primary label label-pill">Primary</span>
        <span class="label-default label label-pill">Default</span>
        <span class="label-danger label label-pill">Danger</span>
        <span class="label-warning label label-pill">Warning</span>
        <span class="label-info label label-pill">Info</span>
        <span class="label-success label label-pill">Success</span>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
