= title 'List group'
%blockquote UiBibz::Ui::Core::Lists::ListGroup
%p.bd-callout List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.


= code do
  :plain
    ui_list_group options, html_options do |lg|
      lg.list content, options, html_options
      # or
      lg.list options, html_options do
        content
      end
      # or
      lg.list options = { tap: true }, html_options do |l|
        l.header content, options, html_options
        # or
        l.header options, html_options do
          content
        end

        l.body content, options, html_options
        # or
        l.body options, html_options do
          content
        end
      end
    end

= component_options do |co|
  - co.list 'type', types: 'symbol', values: %w(:a :button :li)

- @sections = sections do |s|
  - s.section title: "List group" do
    = example do |c|

      :markdown
        List group has one block type:

        * #{ inherit_component_link 'list' }

      - c.header do
        = ui_list_group do |lg|
          - lg.list 'Cras justo odio'
          - lg.list 'Dapibus ac facilisis in'
          - lg.list 'Morbi leo risus'
          - lg.list 'Porta ac consectetur ac'
          - lg.list 'Vestibulum at eros'
      - c.code do
        ui_list_group do |lg|
          lg.list 'Cras justo odio'
          lg.list 'Dapibus ac facilisis in'
          lg.list 'Morbi leo risus'
          lg.list 'Porta ac consectetur ac'
          lg.list 'Vestibulum at eros'
        end
      - c.html do
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>

  - s.section title: "List group options" do
    %p List group has several options:
    = component_list_options do |clo|
      - clo.status_link
      - clo.glyph_link
      - clo.state_link
      - clo.list link_to('badge',components_badge_path), types: %w(hash string)

  - s.section title: "badges" do
    = example do |c|
      - c.header do
        = ui_list_group do |lg|
          - lg.list 'Cras justo odio', badge: 14
          - lg.list 'Dapibus ac facilisis in', badge: { content: 2, type: :square }
      - c.code do
        ui_list_group do |lg|
          lg.list 'Cras justo odio', badge: 14
          lg.list 'Dapibus ac facilisis in', badge: { content: 2, type: :square }
        end
      - c.html do
        :plain
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio
              <span class="badge-secondary badge badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Dapibus ac facilisis in
              <span class="badge-secondary badge">2</span>
            </li>
          </ul>

  - s.section title: "Linked items" do
    = example do |c|
      - c.header do
        = ui_list_group tag: :a do |lg|
          - lg.list 'Cras justo odio', url: "#1", state: :active
          - lg.list 'Dapibus ac facilisis in', url: "#2"
          - lg.list 'Morbi leo risus', url: "#3"
          - lg.list 'Porta ac consectetur ac', url: "#4"
          - lg.list 'Vestibulum at eros', url: "#5"
      - c.code do
        ui_list_group tag: :a do |lg|
          lg.list 'Cras justo odio', url: "#1",state: :active
          lg.list 'Dapibus ac facilisis in', url: "#2"
          lg.list 'Morbi leo risus', url: "#3"
          lg.list 'Porta ac consectetur ac', url: "#4"
          lg.list 'Vestibulum at eros', url: "#5"
        end
      - c.html do
        <div class="list-group">
          <a class="active list-group-item" href="#1">Cras justo odio</a>
          <a class="list-group-item" href="#2">Dapibus ac facilisis in</a>
          <a class="list-group-item" href="#3">Morbi leo risus</a>
          <a class="list-group-item" href="#4">Porta ac consectetur ac</a>
          <a class="list-group-item" href="#5">Vestibulum at eros</a>
        </div>

  - s.section title: "Button items" do
    = example do |c|
      - c.header do
        = ui_list_group tag: :button do |lg|
          - lg.list 'Cras justo odio', state: :active
          - lg.list 'Dapibus ac facilisis in'
          - lg.list 'Morbi leo risus'
          - lg.list 'Porta ac consectetur ac'
          - lg.list 'Vestibulum at eros'
      - c.code do
        ui_list_group tag: :button do |lg|
          lg.list 'Cras justo odio'
          lg.list 'Dapibus ac facilisis in'
          lg.list 'Morbi leo risus'
          lg.list 'Porta ac consectetur ac'
          lg.list 'Vestibulum at eros'
        end
      - c.html do
        <div class="list-group">
          <button class="active list-group-item">Cras justo odio</button>
          <button class="list-group-item">Dapibus ac facilisis in</button>
          <button class="list-group-item">Morbi leo risus</button>
          <button class="list-group-item">Porta ac consectetur ac</button>
          <button class="list-group-item">Vestibulum at eros</button>
        </div>

  - s.section title: "Disabled items" do
    = example do |c|
      - c.header do
        = ui_list_group do |lg|
          - lg.list 'Cras justo odio', state: :disabled
          - lg.list 'Dapibus ac facilisis in'
          - lg.list 'Morbi leo risus'
          - lg.list 'Porta ac consectetur ac'
          - lg.list 'Vestibulum at eros'
      - c.code do
        ui_list_group do |lg|
          lg.list 'Cras justo odio', state: :disabled
          lg.list 'Dapibus ac facilisis in'
          lg.list 'Morbi leo risus'
          lg.list 'Porta ac consectetur ac'
          lg.list 'Vestibulum at eros'
        end
      - c.html do
        <ul class="list-group">
          <li class="disabled list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>


  - s.section title: "Status" do
    = example do |c|
      - c.header do
        = ui_list_group  do |lg|
          - lg.list "This is a normal list group item"
          - UiBibzApp::Application::STATUSES.each do |status|
            - lg.list "This is a #{ status } list group item", status: status
      - c.code do
        ui_list_group do |lg|
          lg.list "This is a normal list group item"
        - UiBibzApp::Application::STATUSES.each do |status|
          = "  lg.list 'This is a #{ status } list group item', status: :#{ status }".html_safe
        end
      - c.html do
        <ul class="list-group">
          <li class="list-group-item-danger list-group-item">Cras justo odio</li>
          <li class="list-group-item-info list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item-warning list-group-item">Morbi leo risus</li>
          <li class="list-group-item-success list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item-primary list-group-item">Vestibulum at eros</li>
        </ul>

  - s.section title: "Custom content" do

    :markdown
      List group list has several block type:

      * #{ inherit_component_link 'header' }
      * #{ inherit_component_link 'body' }

    = example do |c|
      - c.header do
        = ui_list_group tag: :a do |lg|
          - lg.list tap: true, url: '#', state: :active do |l|
            - l.header 'List group item heading', extra: "3 days ago"
            - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.', extra: "Donec id elit non mi porta"
          - lg.list tap: true, url: '#' do |l|
            - l.header class: 'my-header', extra: "3 days ago" do
              = 'List group item heading'
            - l.body class: 'my-body', extra: "Donec id elit non mi porta" do
              = 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
          - lg.list tap: true, url: '#' do |l|
            - l.header 'List group item heading', extra: "3 days ago"
            - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.', extra: "Donec id elit non mi porta"
      - c.code do
        ui_list_group tag: :a do |lg|
          lg.list tap: true, state: :active do |l|
            l.header 'List group item heading', extra: "3 days ago"
            l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.', extra: "Donec id elit non mi porta"
          end
          lg.list tap: true do |l|
            l.header class: 'my-header', extra: "3 days ago" do
              'List group item heading'
            end
            l.body class: 'my-body', extra: "Donec id elit non mi porta" do
              'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
            end
          lg.list tap: true do |l|
            l.header 'List group item heading', extra: "3 days ago"
            l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.', extra: "Donec id elit non mi porta"
          end
        end
      - c.html do
        :plain
          <div class="list-group">
            <a tag="a" href="#" class="active list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta</small>
            </a>
            <a tag="a" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="my-header d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="my-body mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta</small>
            </a>
            <a tag="a" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta</small>
            </a>
          </div>
= @sections.render
