= title 'Progress'
%blockquote UiBibz::Ui::Core::Progress
%p.bd-callout Provide up-to-date feedback on the ui_progress of a workflow or action with simple yet flexible ui_progress bars.

= code 'progress'

= component_options do |co|
  - co.status_link
  - co.list 'value', types: 'number'
  - co.list 'striped', types: 'boolean'
  - co.list 'animated', types: 'boolean'

- @sections = sections do |s|
  - s.section title: "Progress" do
    = example do |c|
      - c.header do
        = ui_progress 0
        = ui_progress '25%', { status: :primary, value: 25 }, { class: 'my-progress' }
        = ui_progress({ status: :primary, value: 50 }, { class: 'my-progress'}) do
          = 50
      - c.code do
        ui_progress 0
         
        ui_progress "25%", { status: :primary, value: 25 }, { class: 'my-progress' }
         
        ui_progress({ status: :primary, value: 50 }, { class: 'my-progress'}) do
          50%
        end
      - c.html do
        <progress class="progress" max="100" value="0">0</progress>
        <progress class="my-progress ui_progress-primary ui_progress" max="100" value="25">25%</progress>
        <progress class="my-progress ui_progress-primary ui_progress" max="100" value="50">50
        </progress>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "status" do
    = example do |c|
      - c.header do
        = ui_progress 10, status: :primary
        = ui_progress 25, status: :success
        = ui_progress 50, status: :warning
        = ui_progress 75, status: :danger
        = ui_progress 100, status: :info
      - c.code do
        ui_progress 10, status: :primary
        ui_progress 25, status: :success
        ui_progress 50, status: :warning
        ui_progress 75, status: :danger
        ui_progress 100, status: :info
      - c.html do
        <progress class="progress-primary ui_progress" max="100" value="10">10</progress>
        <progress class="progress-success ui_progress" max="100" value="25">25</progress>
        <progress class="progress-warning ui_progress" max="100" value="50">50</progress>
        <progress class="progress-danger ui_progress" max="100" value="75">75</progress>
        <progress class="progress-info ui_progress" max="100" value="100">100</progress>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Striped" do
    = example do |c|
      - c.header do
        = ui_progress 10, status: :primary, striped: true
        = ui_progress 25, status: :success, striped: true
        = ui_progress 50, status: :warning, striped: true
        = ui_progress 75, status: :danger, striped: true
        = ui_progress 100, status: :info, striped: true
      - c.code do
        ui_progress 10, status: :primary, striped: true
        ui_progress 25, status: :success, striped: true
        ui_progress 50, status: :warning, striped: true
        ui_progress 75, status: :danger, striped: true
        ui_progress 100, status: :info, striped: true
      - c.html do
        <progress class="progress-primary ui_progress ui_progress-striped" max="100" value="10">10</progress>
        <progress class="progress-success ui_progress ui_progress-striped" max="100" value="25">25</progress>
        <progress class="progress-warning ui_progress ui_progress-striped" max="100" value="50">50</progress>
        <progress class="progress-danger ui_progress ui_progress-striped" max="100" value="75">75</progress>
        <progress class="progress-info ui_progress ui_progress-striped" max="100" value="100">100</progress>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Animated" do
    = example do |c|
      - c.header do
        = ui_progress 10, status: :primary, striped: true, animated: true
        = ui_progress 25, status: :success, striped: true, animated: true
        = ui_progress 50, status: :warning, striped: true, animated: true
        = ui_progress 75, status: :danger, striped: true, animated: true
        = ui_progress 100, status: :info, striped: true, animated: true
      - c.code do
        ui_progress 10, status: :primary, striped: true, animated: true
        ui_progress 25, status: :success, striped: true, animated: true
        ui_progress 50, status: :warning, striped: true, animated: true
        ui_progress 75, status: :danger, striped: true, animated: true
        ui_progress 100, status: :info, striped: true, animated: true
      - c.html do
        <progress class="progress-primary ui_progress ui_progress-striped ui_progress-animated" max="100" value="10">10</progress>
        <progress class="progress-success ui_progress ui_progress-striped ui_progress-animated" max="100" value="25">25</progress>
        <progress class="progress-warning ui_progress ui_progress-striped ui_progress-animated" max="100" value="50">50</progress>
        <progress class="progress-danger ui_progress ui_progress-striped ui_progress-animated" max="100" value="75">75</progress>
        <progress class="progress-info ui_progress ui_progress-striped ui_progress-animated" max="100" value="100">100</progress>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
