:markdown
  # Progresses
  Provide up-to-date feedback on the progress of a workflow or action with simple yet flexible progress bars.
- @sections = sections do |s|
  - s.section title: "Progress" do
    = example do |c|
      - c.header do
        = progress 0
        = progress '25%', { state: :primary, value: 25 }, { class: 'my-progress' }
        = progress({ state: :primary, value: 50 }, { class: 'my-progress'}) do
          = 50
      - c.code do
        progress 0
         
        progress "25%", { state: :primary, value: 25 }, { class: 'my-progress' }
         
        progress({ state: :primary, value: 50 }, { class: 'my-progress'}) do
          50%
        end
      - c.html do
        <progress class="progress" max="100" value="0">0</progress>
        <progress class="my-progress progress-primary progress" max="100" value="25">25%</progress>
        <progress class="my-progress progress-primary progress" max="100" value="50">50
        </progress>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "State" do
    = example do |c|
      - c.header do
        = progress 10, state: :primary
        = progress 25, state: :success
        = progress 50, state: :warning
        = progress 75, state: :danger
        = progress 100, state: :info
      - c.code do
        progress 10, state: :primary
        progress 25, state: :success
        progress 50, state: :warning
        progress 75, state: :danger
        progress 100, state: :info
      - c.html do
        <progress class="progress-primary progress" max="100" value="10">10</progress>
        <progress class="progress-success progress" max="100" value="25">25</progress>
        <progress class="progress-warning progress" max="100" value="50">50</progress>
        <progress class="progress-danger progress" max="100" value="75">75</progress>
        <progress class="progress-info progress" max="100" value="100">100</progress>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Striped" do
    = example do |c|
      - c.header do
        = progress 10, state: :primary, striped: true
        = progress 25, state: :success, striped: true
        = progress 50, state: :warning, striped: true
        = progress 75, state: :danger, striped: true
        = progress 100, state: :info, striped: true
      - c.code do
        progress 10, state: :primary, striped: true
        progress 25, state: :success, striped: true
        progress 50, state: :warning, striped: true
        progress 75, state: :danger, striped: true
        progress 100, state: :info, striped: true
      - c.html do
        <progress class="progress-primary progress progress-striped" max="100" value="10">10</progress>
        <progress class="progress-success progress progress-striped" max="100" value="25">25</progress>
        <progress class="progress-warning progress progress-striped" max="100" value="50">50</progress>
        <progress class="progress-danger progress progress-striped" max="100" value="75">75</progress>
        <progress class="progress-info progress progress-striped" max="100" value="100">100</progress>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Animated" do
    = example do |c|
      - c.header do
        = progress 10, state: :primary, striped: true, animated: true
        = progress 25, state: :success, striped: true, animated: true
        = progress 50, state: :warning, striped: true, animated: true
        = progress 75, state: :danger, striped: true, animated: true
        = progress 100, state: :info, striped: true, animated: true
      - c.code do
        progress 10, state: :primary, striped: true, animated: true
        progress 25, state: :success, striped: true, animated: true
        progress 50, state: :warning, striped: true, animated: true
        progress 75, state: :danger, striped: true, animated: true
        progress 100, state: :info, striped: true, animated: true
      - c.html do
        <progress class="progress-primary progress progress-striped progress-animated" max="100" value="10">10</progress>
        <progress class="progress-success progress progress-striped progress-animated" max="100" value="25">25</progress>
        <progress class="progress-warning progress progress-striped progress-animated" max="100" value="50">50</progress>
        <progress class="progress-danger progress progress-striped progress-animated" max="100" value="75">75</progress>
        <progress class="progress-info progress progress-striped progress-animated" max="100" value="100">100</progress>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
