:markdown
  # Stars
  Stars is a component for displaying stars of different sizes and pre-built styles
- @sections = sections do |s|
  - s.section title: "Stars" do
    = example do |c|
      - c.header do
        = stars 2
      - c.code do
        stars 2
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Size" do
    :markdown
      Vous pouvez modifier la taille des stars ajoutant l'argument size qui à pour valeur soit un nombre, soit un symbole `:xs`, `:md`, `:lg`.

    = example do |c|
      - c.header do
        = stars 4, size: 1
        = stars 4, size: :md
        = stars 4, size: :lg
      - c.code do
        stars 4, size: :1
        stars 4, size: :md
        stars 4, size: :lg
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "State" do
    = example do |c|
      - c.header do
        - %w(secondary danger warning primary success).each_with_index do |state, i|
          = stars i , state: state.to_sym
          %br
      - c.code do
        stars 0
        stars 1, state: :danger
        stars 2, state: :warning
        stars 3, state: :primary
        stars 4, state: :success
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Float" do
    = example do |c|
      - c.header do
        = stars 3.5
      - c.code do
        stars 3.5
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Other range" do
    = example do |c|
      - c.header do
        = stars 6, num: 8
      - c.code do
        stars 6, num: 8
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
