= title 'Col'
%blockquote UiBibz::Ui::Core::Layouts::Col
%p.bd-callout
  Grid systems are used for creating page layouts through a series of rows and columns that house your content.
  You can read about the doc :
  = getbootstrap_doc("layout/grid/#example-column-ordering")

= code 'col'

= component_options do |co|
  - co.list 'num', types: 'integer'
  - co.list 'offset', types: 'integer'
  - co.list 'pull', types: 'integer'
  - co.list 'push', types: 'integer'
  - co.list 'xs', types: 'hash'
  - co.list 'sm', types: 'hash'
  - co.list 'md', types: 'hash'
  - co.list 'lg', types: 'hash'
  - co.list 'xl', types: 'hash'

- @sections = sections do |s|
  - s.section title: "Col" do
    :markdown
      A column can take several arguments :

      * num - Integer (mandatory)
      * offset - Integer
      * pull - Integer
      * push - Integer

      By default, the size of the grid will be `:md`.
    = example do |c|
      - c.code do
        row class: 'test' do
          col({ num: 10, offset: 2 }, { class: 'test-col' }) do
            ...
            content
            ...
          end
          col content, { num: 2, pull: 4 }, { class: 'test-col2' }
        end
      - c.html do
        <div class="test row">
          <div class="test-col col-md-10 col-md-offset-2">
            ...
            content
            ...
          </div>
          <div class="test-col2 col-md-2 col-md-pull-4">
            content
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'
  - s.section title: "Col with differents sizes" do
    :markdown
      To add multiple sizes of columns, you must use arguments :

      * :xs
      * :sm
      * :md
      * :lg
      * :xl
    = example do |c|
      - c.code do
        row class: 'test' do
          col(md: { num: 5, offset: 2 }, xs: { num: 2 }) do
            ...
            content
            ...
          end
          col content, { md: { num: 7, pull: 4 }, xs: { num: 10 }}, { class: 'test-col2' }
        end
      - c.html do
        <div class="test row">
          <div class="col-md-5 col-md-offset-2 col-xs-2">
            ...
            content
            ...
          </div>
          <div class="test-col2 col-md-7 col-md-pull-4 col-xs-10">
            content
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'
= @sections.render
