= title 'Container', url: "layout/grid"
%blockquote UiBibz::Ui::Core::Layouts::Container
%p.bd-callout
  Grid systems are used for creating page layouts.
  You can read about the doc :
  = getbootstrap_doc("layout/overview/")

= component_options do |co|
  - co.inherit_options_links except: %i(glyph state size popover tooltip)

- @sections = sections do |s|
  - s.section title: "Container" do
    = example do |c|
      - c.header do
        = image_pack_tag "container.png", :style => "width: 40rem;"
      - c.code do
        ui_container class: "test" do
          ...
          content
          ...
        end
      - c.html do
        <div class="test container">
          ...
          content
          ...
        </div>

  - s.section title: "Type" do
    = example do |c|
      - c.header do
        = image_pack_tag "container-fluid.png", :style => "width: 40rem;"
      - c.code do
        ui_container content, { type: :fluid }, { class: "test-2" }
      - c.html do
        <div class="test-2 container-fluid">
          content
        </div>

  - s.section title: "Size" do
    :markdown
      To add multiple sizes of the container, you must use arguments :

    %ul
      - UiBibzApp::Application::BREAKPOINTS.each do |breakpoint|
        %li :#{breakpoint}
    = example do |c|
      - c.header do
        = image_pack_tag "container.png", :style => "width: 40rem;"
      - c.code do
        ui_container content, { size: :sm }, { class: "test-2" }
      - c.html do
        <div class="test-2 container-sm">
          content
        </div>

= @sections.render
