:markdown
  # Container
  Grid systems are used for creating page layouts through a series of rows and columns that house your content.
You can read about the doc :
= getbootstrap_doc("layout/overview/")

- @sections = sections do |s|
  - s.section title: "Container" do
    = example do |c|
      - c.header do
        = image_tag "container.png"
      - c.code do
        container class: 'test' do
          ...
          content
          ...
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Container options" do
    = example do |c|
      - c.header do
        = image_tag "container-fluid.png"
      - c.code do
        container content, { type: :fluid }, { class: 'test-2' }
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
