:markdown
  # Grid
  Grid systems are used for creating page layouts through a series of rows and columns that house your content.
You can read about the doc :
= getbootstrap_doc("layout/grid/#example-column-ordering")

- @sections = sections do |s|
  - s.section title: "Row" do
    = example do |c|
      - c.code do
        row { class: 'test' } do
          ...
          content
          ...
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Cols" do
    :markdown
      A column can take several arguments :

      * num - Integer (mandatory)
      * offset - Integer
      * pull - Integer
      * push - Integer

      By default, the size of the grid will be `:md`.
    = example do |c|
      - c.code do
        row { class: 'test' } do
          col({ num: 10, offset: 2 }, { class: 'test-col' }) do
            ...
            content
            ...
          end
          col content, { num: 2, pull: 4 }, { class: 'test-col2' }
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Cols with differents sizes" do
    :markdown
      To add multiple sizes of columns, you must use arguments :

      * :xs
      * :sm
      * :md
      * :lg
      * :xl
    = example do |c|
      - c.code do
        row { class: 'test' } do
          col(md: { num: 5, offset: 2 }, xs: { num: 2 }) do
            ...
            content
            ...
          end
          col content, { md: { num: 7, pull: 4 }, xs: { num: 10 }}, { class: 'test-col2' }
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
