:markdown
  # Grid

Vous pouvez vous renseigner sur la doc via :
= getbootstrap_doc("/layout/grid/#example-column-ordering")

- @sections = sections do |s|
  - s.section title: "Row" do
    = example do |c|
      - c.code do
        row { class: 'test' } do
          ...
          content
          ...
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Cols" do
    :markdown
      Une colonne peut prendre plusieurs arguments :

      * num - Integer (obligatoire)
      * offset - Integer
      * pull - Integer
      * push - Integer

      Par défaut, la taille de la grid sera `:md`.
    = example do |c|
      - c.code do
        row { class: 'test' } do
          col({ num: 10, offset: 2 }, { class: 'test-col' }) do
            ...
            content
            ...
          end
          col content, { num: 2, pull: 4 }, { class: 'test-col2' }
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Cols with differents sizes" do
    :markdown
      Pour ajouter plusieurs tailles de colonnes, vous devez utiliser les arguments :

      * :xs
      * :sm
      * :md
      * :lg
      * :xl
    = example do |c|
      - c.code do
        row { class: 'test' } do
          col(md: { num: 5, offset: 2 }, xs: { num: 2 }) do
            ...
            content
            ...
          end
          col content, { md: { num: 7, pull: 4 }, xs: { num: 10 }}, { class: 'test-col2' }
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
