= title 'Row'
%blockquote UiBibz::Ui::Core::Layouts::Row
%p.bd-callout
  Grid systems are used for creating page layouts through a series of rows that house your content.
  You can read about the doc :
  = getbootstrap_doc("layout/grid/#example-column-ordering")

= code 'row'

= component_options do |co|
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

- @sections = sections do |s|
  - s.section title: "Row" do
    = example do |c|
      - c.header do
        = ui_row class: 'test' do
          = ui_col do
            = ui_text_field 'test'
          = ui_col do
            = ui_text_field 'test'
      - c.code do
        :plain
          ui_row class: "test" do
            ui_col do
              ui_text_field "test"
            end
            ui_col do
              ui_text_field "test"
            end
          end
      - c.html do
        :plain
          <div class="test row">
            <div class="col">
              <input type="text" name="test" id="test" class="form-control">
            </div>
            <div class="col">
              <input type="text" name="test" id="test" class="form-control">
            </div>
          </div>

  - s.section title: "Type" do
    = example do |c|
      - c.header do
        = ui_row type: :form, class: 'test' do
          = ui_col do
            = ui_text_field 'test'
          = ui_col do
            = ui_text_field 'test'
      - c.code do
        :plain
          ui_row type: :form, class: "test" do
            ui_col do
              ui_text_field "test"
            end
            ui_col do
              ui_text_field "test"
            end
          end
      - c.html do
        :plain
          <div class="test row">
            <div class="col">
              <input type="text" name="test" id="test" class="form-control">
            </div>
            <div class="col">
              <input type="text" name="test" id="test" class="form-control">
            </div>
          </div>

= @sections.render
