= title 'Multi Select Field'
%blockquote UiBibz::Ui::Core::Forms::Selects::MultiSelectField
%p.bd-callout= based_on link_to "oostrap-multiselect", "http://davidstutz.github.io/bootstrap-multiselect/", target: '_blank'

= code "multi_select_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'option_tags', types: %w(array object)
  - co.list 'clickable_opt_group', types: 'boolean'
  - co.list 'collapsible_opt_group', types: 'boolean'
  - co.list 'searchable', types: 'boolean'
  - co.list 'select_all_option', types: 'boolean'
  - co.list 'connect', types: 'hash'

- @sections = sections do |s|
  - s.section title: "Multi Select Field" do
    = example do |e|
      - e.header do
        = multi_select_field 'example1', option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        multi_select_field 'example', option_tags: option_tags
      - e.html do
        <select name="example1[]" id="example1" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Multi Select Field optgroup clickable" do
    = example do |e|
      - e.header do
        - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
        = multi_select_field 'example2', { clickable_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.code do
        grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
        multi_select_field 'example', { clickable_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.html do
        <select name="example2[]" id="example2" data-enable-clickable-opt-groups="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <optgroup label="North America">
            <option value="US">United statuss</option>
            <option value="Canada">Canada</option>
          </optgroup>
          <optgroup label="Europe">
            <option value="Denmark">Denmark</option>
            <option value="Germany">Germany</option>
            <option value="France">France</option>
          </optgroup>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item group"><label class="multiselect-group">North America</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="US"> United statuss</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Canada"> Canada</label></a></li>
            <li class="multiselect-item group"><label class="multiselect-group">Europe</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Denmark"> Denmark</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Germany"> Germany</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="France"> France</label></a></li>
          </ul>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Multi Select Field optgroup collapsible" do
    = example do |e|
      - e.header do
        - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
        = multi_select_field 'example2', { collapsible_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.code do
        grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
        multi_select_field 'example', { collapsible_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.html do
        <select name="example2[]" id="example2" data-enable-collapsible-opt-groups="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <optgroup label="North America">
            <option value="US">United statuss</option>
            <option value="Canada">Canada</option>
          </optgroup>
          <optgroup label="Europe">
            <option value="Denmark">Denmark</option>
            <option value="Germany">Germany</option>
            <option value="France">France</option>
          </optgroup>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item group"><label class="multiselect-group">North America</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="US"> United statuss</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Canada"> Canada</label></a></li>
            <li class="multiselect-item group"><label class="multiselect-group">Europe</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Denmark"> Denmark</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Germany"> Germany</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="France"> France</label></a></li>
          </ul>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Multi Select Field searchable" do
    = example do |e|
      - e.header do
        = multi_select_field 'example1', searchable: true, option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        multi_select_field 'example', searchable: true, option_tags: option_tags
      - e.html do
        <select name="example1[]" id="example1" data-enable-filtering="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item filter" value="0">
              <div class="">
                <input class="form-control multiselect-search" type="text" placeholder="Search">
              </div>
            </li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Multi Select Field select_all_option" do
    = example do |e|
      - e.header do
        = multi_select_field 'example1', select_all_option: true, option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        multi_select_field 'example', select_all_option: true, option_tags: option_tags
      - e.html do
        <select name="example1[]" id="example1" data-include-select-all-option="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item multiselect-all"><a href="javascript:void(0);" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Multi Select Field status" do
    = example do |e|
      - e.header do
        - %w(primary secondary success warning link).each do |s|
          = multi_select_field s, status: s.to_sym, option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        multi_select_field 'primary', status: :primary, option_tags: option_tags
        multi_select_field 'secondary', status: :secondary, option_tags: option_tags
        multi_select_field 'success', status: :success, option_tags: option_tags
        multi_select_field 'warning', status: :warning, option_tags: option_tags
        multi_select_field 'link', status: :link, option_tags: option_tags
      - e.html do
        <select name="primary[]" id="primary" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>
        …
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Field Connected" do
    = render partial: '/components/connect_option'

  - s.section title: "Multi Column Field Connected (remote)" do
    = example do |e|
      - e.header do
        - connect = { mode: 'remote', target: { selector: '#example_1_target', url: components_forms_selects_multi_column_field_path }}
        = multi_select_field 'example 1', option_tags: select_options_tags, connect: connect
        %br
        %br
        = multi_select_field 'example 1 target', option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        \# First multi column input
        connect = { mode: 'remote', target: { selector: '#example_1_target', url: components_forms_selects_multi_column_field_path }}
        multi_select_field 'example 1', option_tags: option_tags, connect: connect
        \# Second select input
        multi_select_field 'example 1 target', option_tags: option_tags
      - e.html do
        :plain
          ""
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Multi Select Field Connected (local)" do
    = example do |e|
      - e.header do
        - data = 5.times.map{ |i| [{ connect_option_id: i, value: 1+i.to_i, text: "New option 1.#{ i }"}, { connect_option_id: i, value: 6+i.to_i, text: "New option 2.#{ i }"}] }.flatten
        - connect = { mode: 'local', target: { selector: '#example_2_target', data: data }}
        = multi_select_field 'example 2', searchable: true, option_tags: select_options_tags, connect: connect
        %br
        %br
        = multi_select_field 'example 2 target', option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        \# First Select input
        options_data = 5.times.map{ |o| 5.times.map{ |i| { text: "New option \#{ o }.\#{ i }", value: i, connect_option_id: o }}}.flatten
        connect      = { mode: 'local', target: { selector: '#example_2_target', data: options_data }}}
        multi_select_field 'example 2', { option_tags: option_tags, connect: connect }

        \# Second Select input
        multi_select_field 'example 2 target', option_tags: options_html
      - e.html do
        :plain
          ""
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Multi Select Field with Refresh Connected" do
    %p Option <code>refresh</code> take same arguments than <code>connect</code> option.
    = example do |e|
      - e.header do
        - refresh = { target: { url: components_forms_selects_select_field_path }}
        = multi_select_field 'example 3 target', option_tags: select_options_tags, refresh: refresh
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        connect     = { target: { url: components_forms_selects_select_field_path }}
        multi_select_field 'example 3', option_tags: option_tags, refresh: connect
      - e.html do
        :plain
          <div class="input-group select-field-refresh">
            <select name="example 3 target[]" id="example_3_target" class="btn-secondary btn multi-select" multiple="multiple" style="display: none;">
            <option value="0">option 0</option>
                <option value="1">option 1</option>
                <option value="2">option 2</option>
                <option value="3">option 3</option>
                <option value="4">option 4</option>
            </select>
            <div class="btn-group">
              <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">
                None selected <b class="caret"></b>
              </button>
              <ul class="multiselect-container dropdown-menu">
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="0"> option 0</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="1"> option 1</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="2"> option 2</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="3"> option 3</label>
                  </a>
                  </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="4"> option 4</label>
                  </a>
                </li>
              </ul>
          </div>
          <span class="input-group-btn">
            <button data-connect='{"events":"click","mode":"remote","target":{"selector":"#example_3_target","url":"/components/forms/selects/select-field","data":[]}}' class="btn-primary ui-bibz-connect input-refresh-button btn">
              <i class="glyph fa fa-refresh"></i>
            </button>
          </span>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'



  - s.section title: "Simple form" do
    :markdown
      You can use the multi_select input with gem [simple form](https://github.com/plataformatec/simple_form).

      You must add this line in the file `"config/initializers/simple_form.rb"`

    = example do |e|
      - e.code do
        \...
        config.custom_inputs_namespaces << "CustomInputs"
        \...
    %p Then in your view, you can insert your input multi_select field.
    = example do |e|
      - e.code do
        simple_form(@search) do |f|
          ...
          f.input :company, as: :multi_select, searchable: true
          ...
        end

= @sections.render
