= title 'Multi Column Field', display_ui: true, logo_name: 'ui bibz', url: "http://loudev.com/"
%blockquote UiBibz::Ui::Core::Forms::Selects::MultiColumnField
%p.bd-callout= based_on link_to "Jquery multiselect", "http://loudev.com/", target: '_blank', rel: "noopener"

= code "ui_multi_column_field", component_name: "name"

= component_options do |co|
  - co.inherit_options_links except: %i(glyph size status popover tooltip)
  - co.list 'option_tags', types: %w(array object)
  - co.list 'selectable_opts_group', types: 'boolean'
  - co.list 'searchable', types: 'boolean'
  - co.list 'connect', types: 'hash'
  - co.list 'refresh', types: 'hash'

- @sections = sections do |s|
  - s.section title: "Multi Column Field" do
    = example do |e|
      - e.header do
        = ui_multi_column_field 'example1', option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(10.times.map{ |i| ["option \#{i}", i] })
        ui_multi_column_field 'example', option_tags: option_tags
      - e.html do
        <select name="example1[]" id="example1" class="multi-column" multiple="multiple" style="position: absolute; left: -9999px;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
          <option value="option 5">option 5</option>
          <option value="option 6">option 6</option>
          <option value="option 7">option 7</option>
          <option value="option 8">option 8</option>
          <option value="option 9">option 9</option>
        </select>
        <div class="ms-container" id="ms-example1">
          <div class="ms-selectable">
            <ul class="ms-list" tabindex="-1">
              <li class="ms-elem-selectable" id="-79019195-selectable"><span>option 0</span></li>
              <li class="ms-elem-selectable" id="-79019194-selectable"><span>option 1</span></li>
              <li class="ms-elem-selectable" id="-79019193-selectable"><span>option 2</span></li>
              <li class="ms-elem-selectable" id="-79019192-selectable"><span>option 3</span></li>
              <li class="ms-elem-selectable" id="-79019191-selectable"><span>option 4</span></li>
              <li class="ms-elem-selectable" id="-79019190-selectable"><span>option 5</span></li>
              <li class="ms-elem-selectable" id="-79019189-selectable"><span>option 6</span></li>
              <li class="ms-elem-selectable" id="-79019188-selectable"><span>option 7</span></li>
              <li class="ms-elem-selectable" id="-79019187-selectable"><span>option 8</span></li>
              <li class="ms-elem-selectable" id="-79019186-selectable"><span>option 9</span></li>
            </ul>
          </div>
          <div class="ms-selection">
            <ul class="ms-list" tabindex="-1">
              <li class="ms-elem-selection" id="-79019195-selection" style="display: none;"><span>option 0</span></li>
              <li class="ms-elem-selection" id="-79019194-selection" style="display: none;"><span>option 1</span></li>
              <li class="ms-elem-selection" id="-79019193-selection" style="display: none;"><span>option 2</span></li>
              <li class="ms-elem-selection" id="-79019192-selection" style="display: none;"><span>option 3</span></li>
              <li class="ms-elem-selection" id="-79019191-selection" style="display: none;"><span>option 4</span></li>
              <li class="ms-elem-selection" id="-79019190-selection" style="display: none;"><span>option 5</span></li>
              <li class="ms-elem-selection" id="-79019189-selection" style="display: none;"><span>option 6</span></li>
              <li class="ms-elem-selection" id="-79019188-selection" style="display: none;"><span>option 7</span></li>
              <li class="ms-elem-selection" id="-79019187-selection" style="display: none;"><span>option 8</span></li>
              <li class="ms-elem-selection" id="-79019186-selection" style="display: none;"><span>option 9</span></li>
            </ul>
          </div>
        </div>

  - s.section title: "Selectable optgroup option" do
    = example do |e|
      - e.header do
        - grouped_options = { 'North America' => [['United states','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
        = ui_multi_column_field 'example2', { option_tags: grouped_options_for_select(grouped_options), selectable_opt_group: true }
      - e.code do
        grouped_options = { "North America" => [["United states","US"], "Canada"], "Europe" => ["Denmark","Germany","France"] }
        ui_multi_column_field "example", { option_tags: grouped_options_for_select(grouped_options), selectable_opt_group: true }
      - e.html do
        <select name="example2[]" id="example2" data-selectable-optgroup="true" class="multi-column" multiple="multiple" style="position: absolute; left: -9999px;">
          <optgroup label="North America">
            <option value="US">United statuss</option>
            <option value="Canada">Canada</option>
          </optgroup>
          <optgroup label="Europe">
            <option value="Denmark">Denmark</option>
            <option value="Germany">Germany</option>
            <option value="France">France</option>
          </optgroup>
        </select>
        <div class="ms-container" id="ms-example2">
          <div class="ms-selectable">
            <ul class="ms-list" tabindex="-1">
              <li class="ms-optgroup-container" id="optgroup-selectable-1732130227">
                <ul class="ms-optgroup">
                  <li class="ms-optgroup-label"><span>North America</span></li>
                  <li class="ms-elem-selectable" id="2718-selectable"><span>United statuss</span></li>
                  <li class="ms-elem-selectable" id="2011108078-selectable"><span>Canada</span></li>
                </ul>
              </li>
              <li class="ms-optgroup-container" id="optgroup-selectable-2086969794">
                <ul class="ms-optgroup">
                  <li class="ms-optgroup-label"><span>Europe</span></li>
                  <li class="ms-elem-selectable" id="-1077783494-selectable"><span>Denmark</span></li>
                  <li class="ms-elem-selectable" id="1588421523-selectable"><span>Germany</span></li>
                  <li class="ms-elem-selectable" id="2112320571-selectable"><span>France</span></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="ms-selection">
            <ul class="ms-list" tabindex="-1">
              <li class="ms-optgroup-container" id="optgroup-selection-1732130227">
                <ul class="ms-optgroup">
                  <li class="ms-optgroup-label" style="display: none;"><span>North America</span></li>
                  <li class="ms-elem-selection" id="2718-selection" style="display: none;"><span>United statuss</span></li>
                  <li class="ms-elem-selection" id="2011108078-selection" style="display: none;"><span>Canada</span></li>
                </ul>
              </li>
              <li class="ms-optgroup-container" id="optgroup-selection-2086969794">
                <ul class="ms-optgroup">
                  <li class="ms-optgroup-label" style="display: none;"><span>Europe</span></li>
                  <li class="ms-elem-selection" id="-1077783494-selection" style="display: none;"><span>Denmark</span></li>
                  <li class="ms-elem-selection" id="1588421523-selection" style="display: none;"><span>Germany</span></li>
                  <li class="ms-elem-selection" id="2112320571-selection" style="display: none;"><span>France</span></li>
               </ul>
              </li>
            </ul>
          </div>
        </div>

  - s.section title: "Searchable option" do
    = example do |e|
      - e.header do
        = ui_multi_column_field 'example3', { option_tags: select_options_tags, searchable: true }
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        ui_multi_column_field 'example', { option_tags: option_tags, searchable: true }
      - e.html do
        <select name="example3[]" id="example3" data-searchable="true" class="multi-column" multiple="multiple" style="position: absolute; left: -9999px;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
          <option value="option 5">option 5</option>
          <option value="option 6">option 6</option>
          <option value="option 7">option 7</option>
          <option value="option 8">option 8</option>
          <option value="option 9">option 9</option>
        </select>
        <div class="ms-container" id="ms-example3">
          <div class="ms-selectable">
            <input type="text" class="search-input form-control" autocomplete="off" placeholder="Search in selectable items">
            <br>
            <ul class="ms-list" tabindex="-1">
              <li class="ms-elem-selectable" id="-79019195-selectable"><span>option 0</span></li>
              <li class="ms-elem-selectable" id="-79019194-selectable"><span>option 1</span></li>
              <li class="ms-elem-selectable" id="-79019193-selectable"><span>option 2</span></li>
              <li class="ms-elem-selectable" id="-79019192-selectable"><span>option 3</span></li>
              <li class="ms-elem-selectable" id="-79019191-selectable"><span>option 4</span></li>
              <li class="ms-elem-selectable" id="-79019190-selectable"><span>option 5</span></li>
              <li class="ms-elem-selectable" id="-79019189-selectable"><span>option 6</span></li>
              <li class="ms-elem-selectable" id="-79019188-selectable"><span>option 7</span></li>
              <li class="ms-elem-selectable" id="-79019187-selectable"><span>option 8</span></li>
              <li class="ms-elem-selectable" id="-79019186-selectable"><span>option 9</span></li>
            </ul>
          </div>
          <div class="ms-selection">
            <input type="text" class="search-input form-control" autocomplete="off" placeholder="Search in selected items">
            <br>
            <ul class="ms-list" tabindex="-1">
              <li class="ms-elem-selection" id="-79019195-selection" style="display: none;"><span>option 0</span></li>
              <li class="ms-elem-selection" id="-79019194-selection" style="display: none;"><span>option 1</span></li>
              <li class="ms-elem-selection" id="-79019193-selection" style="display: none;"><span>option 2</span></li>
              <li class="ms-elem-selection" id="-79019192-selection" style="display: none;"><span>option 3</span></li>
              <li class="ms-elem-selection" id="-79019191-selection" style="display: none;"><span>option 4</span></li>
              <li class="ms-elem-selection" id="-79019190-selection" style="display: none;"><span>option 5</span></li>
              <li class="ms-elem-selection" id="-79019189-selection" style="display: none;"><span>option 6</span></li>
              <li class="ms-elem-selection" id="-79019188-selection" style="display: none;"><span>option 7</span></li>
              <li class="ms-elem-selection" id="-79019187-selection" style="display: none;"><span>option 8</span></li>
              <li class="ms-elem-selection" id="-79019186-selection" style="display: none;"><span>option 9</span></li>
            </ul>
          </div>
        </div>

  - s.section title: "Field Connected" do
    = render partial: '/components/connect_option'

  - s.section title: "Connected (remote)" do
    = example do |e|
      - e.header do
        - connect = { mode: 'remote', target: { selector: '#example_1_target', url: components_forms_selects_multi_column_field_path }}
        = ui_multi_column_field 'example 1', option_tags: select_options_tags, connect: connect
        %br
        = ui_multi_column_field 'example 1 target', option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(10.times.map{ |i| ["option \#{i}", i] })
        \# First multi column input
        connect = { mode: "remote", target: { selector: "#example_1_target", url: components_forms_selects_multi_column_field_path }}
        ui_multi_column_field "example 1", option_tags: option_tags, connect: connect
        \# Second select input
        ui_multi_column_field "example 1 target", option_tags: option_tags
      - e.html do
        :plain
          <select name="example 1[]" id="example_1" data-connect="{'type':'remote','target':{'selector':'#example_1_target','component':'ui_multi_column_field','url':'/components/forms/selects/multi-column-field'}}" class="ui-bibz-connect multi-column" multiple="multiple" style="position: absolute; left: -9999px;">
            <option value="0">option 0</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
            <option value="5">option 5</option>
          </select>
          <div class="ms-container" id="ms-example_1">
            <div class="ms-selectable">
              <ul class="ms-list" tabindex="-1">
                <li class="ms-elem-selectable" id="48-selectable">
                  <span>option 0</span>
                </li>
                <li class="ms-elem-selectable" id="49-selectable">
                  <span>option 1</span>
                </li>
                <li class="ms-elem-selectable" id="50-selectable" style="display: list-item;">
                  <span>option 2</span>
                </li>
                <li class="ms-elem-selectable" id="51-selectable">
                  <span>option 3</span>
                </li>
                <li class="ms-elem-selectable" id="52-selectable" style="display: list-item;">
                  <span>option 4</span>
                </li>
                <li class="ms-elem-selectable" id="53-selectable">
                  <span>option 5</span>
                </li>
              </ul>
            </div>
            <div class="ms-selection">
              <ul class="ms-list" tabindex="-1">
                <li class="ms-elem-selection" id="48-selection" style="display: none;">
                  <span>option 0</span>
                </li>
                <li class="ms-elem-selection" id="49-selection" style="display: none;">
                  <span>option 1</span>
                </li>
                <li class="ms-elem-selection ms-hover" id="50-selection" style="display: none;">
                  <span>option 2</span>
                </li>
                <li class="ms-elem-selection" id="51-selection" style="display: none;">
                  <span>option 3</span>
                </li>
                <li class="ms-elem-selection ms-hover" id="52-selection" style="display: none;">
                  <span>option 4</span>
                </li>
                <li class="ms-elem-selection" id="53-selection" style="display: none;">
                  <span>option 5</span>
                </li>
              </ul>
            </div>
          </div>
          <br>
          <select name="example 1 target[]" id="example_1_target" class="multi-column" multiple="multiple" style="position: absolute; left: -9999px;">
          </select>
          <div class="ms-container" id="ms-example_1_target">
            <div class="ms-selectable">
              <ul class="ms-list" tabindex="-1">
              </ul>
            </div>
            <div class="ms-selection">
              <ul class="ms-list" tabindex="-1">
              </ul>
            </div>
          </div>

  - s.section title: "Connected (local)" do
    = example do |e|
      - e.header do
        - data = 5.times.map{ |i| [{ connect_option_id: i, value: 1+i.to_i, text: "New option 1.#{ i }"}, { connect_option_id: i, value: 6+i.to_i, text: "New option 2.#{ i }"}] }.flatten
        - connect = { mode: 'local', target: { selector: '#example_2_target', data: data }}
        = ui_multi_column_field 'example 2', searchable: true, option_tags: options_for_select(5.times.map{ |i| ["option #{i}", i] }), connect: connect
        %br
        = ui_multi_column_field 'example 2 target', option_tags: options_for_select(5.times.map{ |i| ["option #{i}", i] })
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        \# First Select input
        options_data = 5.times.map{ |o| 5.times.map{ |i| { text: "New option \#{ o }.\#{ i }", value: i, connect_option_id: o }}}.flatten
        connect      = { mode: "local", target: { selector: "#example_2_target", data: options_data }}}
        ui_multi_column_field "example 2", { option_tags: option_tags, connect: connect }

        \# Second Select input
        ui_multi_column_field "example 2 target", option_tags: options_html
      - e.html do
        :plain
          <select name="example 2[]" id="example_2" data-connect="{'mode':'local','target':{'selector':'#example_2_target','component':'ui_multi_column_field','data':[{'connect_option_id':0,'value':1,'text':'New option 1.0'},{'connect_option_id':0,'value':6,'text':'New option 2.0'},{'connect_option_id':1,'value':2,'text':'New option 1.1'},{'connect_option_id':1,'value':7,'text':'New option 2.1'},{'connect_option_id':2,'value':3,'text':'New option 1.2'},{'connect_option_id':2,'value':8,'text':'New option 2.2'},{'connect_option_id':3,'value':4,'text':'New option 1.3'},{'connect_option_id':3,'value':9,'text':'New option 2.3'},{'connect_option_id':4,'value':5,'text':'New option 1.4'},{'connect_option_id':4,'value':10,'text':'New option 2.4'}]}}" class="ui-bibz-connect multi-column" multiple="multiple" style="position: absolute; left: -9999px;">
            <option value="0">option 0</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
          </select>
          <div class="ms-container" id="ms-example_2">
            <div class="ms-selectable">
              <input type="text" class="search-input form-control" autocomplete="off" placeholder="Search in selectable items">
              <br>
              <ul class="ms-list" tabindex="-1">
                <li class="ms-elem-selectable" id="48-selectable" style="display: list-item;">
                  <span>option 0</span>
                </li>
                <li class="ms-elem-selectable" id="49-selectable" style="display: list-item;">
                  <span>option 1</span>
                </li>
                <li class="ms-elem-selectable" id="50-selectable" style="display: list-item;">
                  <span>option 2</span>
                </li>
                <li class="ms-elem-selectable" id="51-selectable" style="display: list-item;">
                  <span>option 3</span>
                </li>
                <li class="ms-elem-selectable" id="52-selectable" style="display: list-item;">
                  <span>option 4</span>
                </li>
              </ul>
            </div>
            <div class="ms-selection">
              <input type="text" class="search-input form-control" autocomplete="off" placeholder="Search in selected items">
              <br>
              <ul class="ms-list" tabindex="-1">
                <li class="ms-elem-selection ms-hover" id="48-selection" style="display: none;">
                  <span>option 0</span>
                </li>
                <li class="ms-elem-selection ms-hover" id="49-selection" style="display: none;">
                  <span>option 1</span>
                </li>
                <li class="ms-elem-selection ms-hover" id="50-selection" style="display: none;">
                  <span>option 2</span>
                </li>
                <li class="ms-elem-selection ms-hover" id="51-selection" style="display: none;">
                  <span>option 3</span>
                </li>
                <li class="ms-elem-selection ms-hover" id="52-selection" style="display: none;">
                  <span>option 4</span>
                </li>
              </ul>
            </div>
          </div>
          <br>
          <select name="example 2 target[]" id="example_2_target" class="multi-column" multiple="multiple" style="position: absolute; left: -9999px;"></select>
          <div class="ms-container" id="ms-example_2_target">
            <div class="ms-selectable">
              <br>
              <ul class="ms-list" tabindex="-1">
              </ul>
              </div>
              <div class="ms-selection">
              <br>
              <ul class="ms-list" tabindex="-1">
              </ul>
            </div>
          </div>
        </div>

  -# s.section title: "Refresh Connected" do
    %p Option <code>refresh</code> take same arguments than <code>connect</code> option.
    = example do |e|
      - e.header do
        - refresh = { target: { url: components_forms_selects_select_field_path }}
        = ui_multi_column_field 'example 3 target', option_tags: select_options_tags, refresh: refresh
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        connect     = { target: { url: components_forms_selects_select_field_path }}
        ui_multi_column_field 'example 3', option_tags: option_tags, refresh: connect
      - e.html do
        :plain
          <div class="input-group select-field-refresh">
            <select name="example 3 target[]" id="example_3_target" class="btn-secondary btn multi-select" multiple="multiple" style="display: none;">
            <option value="0">option 0</option>
                <option value="1">option 1</option>
                <option value="2">option 2</option>
                <option value="3">option 3</option>
                <option value="4">option 4</option>
            </select>
            <div class="btn-group">
              <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">
                None selected <b class="caret"></b>
              </button>
              <ul class="multiselect-container dropdown-menu">
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="0"> option 0</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="1"> option 1</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="2"> option 2</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="3"> option 3</label>
                  </a>
                  </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="4"> option 4</label>
                  </a>
                </li>
              </ul>
          </div>
          <span class="input-group-btn">
            <button data-connect='{"events":"click","mode":"remote","target":{"selector":"#example_3_target","url":"/components/forms/selects/select-field","data":[]}}' class="btn-primary ui-bibz-connect input-refresh-button btn">
              <i class="glyph fa fa-refresh"></i>
            </button>
          </span>
        </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_multi_column_field"
    %p Then in your view, you can insert your input multi_column field.
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          - f.input :country, as: :ui_multi_column_field, collection: @countries
      - e.code do
        ui_form_for(@search) do |f|
          ...
          f.input :country, as: :ui_multi_column_field, collection: @countries
          ...
        end

= @sections.render
