= title 'Multi Select Field', logo_name: 'ui bibz', url: "http://davidstutz.github.io/bootstrap-multiselect/"
%blockquote UiBibz::Ui::Core::Forms::Selects::MultiSelectField
%p.bd-callout= based_on link_to "bootstrap-multiselect", "http://davidstutz.github.io/bootstrap-multiselect/", target: '_blank'

= code "ui_multi_select_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'option_tags', types: %w(array object)
  - co.list 'clickable_opt_group', types: 'boolean'
  - co.list 'collapsible_opt_group', types: 'boolean'
  - co.list 'searchable', types: 'boolean'
  - co.list 'select_all_options', types: 'boolean'
  - co.list 'connect', types: 'hash'
  - co.list 'append', types: %w(string html)
  - co.list 'prepend', types: %w(string html)
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

- @sections = sections do |s|
  - s.section title: "Multi Select Field" do
    = example do |e|
      - e.header do
        = ui_multi_select_field 'example1', option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        ui_multi_select_field 'example', option_tags: option_tags
      - e.html do
        <select name="example1[]" id="example1" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>

  - s.section title: "Option group clickable" do
    = example do |e|
      - e.header do
        - grouped_options = { 'North America' => [['United states','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
        = ui_multi_select_field 'example2', { clickable_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.code do
        grouped_options = { "North America" => [["United states","US"], "Canada"], "Europe" => ["Denmark","Germany","France"] }
        ui_multi_select_field "example", { clickable_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.html do
        <select name="example2[]" id="example2" data-enable-clickable-opt-groups="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <optgroup label="North America">
            <option value="US">United states</option>
            <option value="Canada">Canada</option>
          </optgroup>
          <optgroup label="Europe">
            <option value="Denmark">Denmark</option>
            <option value="Germany">Germany</option>
            <option value="France">France</option>
          </optgroup>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item group"><label class="multiselect-group">North America</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="US"> United states</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Canada"> Canada</label></a></li>
            <li class="multiselect-item group"><label class="multiselect-group">Europe</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Denmark"> Denmark</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Germany"> Germany</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="France"> France</label></a></li>
          </ul>
        </div>

  - s.section title: "Options group collapsible" do
    = example do |e|
      - e.header do
        - grouped_options = { 'North America' => [['United states','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
        = ui_multi_select_field 'example2', { collapsible_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.code do
        grouped_options = { "North America" => [["United states","US"], "Canada"], "Europe" => ["Denmark","Germany","France"] }
        ui_multi_select_field "example", { collapsible_opt_group: true, option_tags: grouped_options_for_select(grouped_options) }
      - e.html do
        <select name="example2[]" id="example2" data-enable-collapsible-opt-groups="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <optgroup label="North America">
            <option value="US">United states</option>
            <option value="Canada">Canada</option>
          </optgroup>
          <optgroup label="Europe">
            <option value="Denmark">Denmark</option>
            <option value="Germany">Germany</option>
            <option value="France">France</option>
          </optgroup>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item group"><label class="multiselect-group">North America</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="US"> United states</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Canada"> Canada</label></a></li>
            <li class="multiselect-item group"><label class="multiselect-group">Europe</label></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Denmark"> Denmark</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="Germany"> Germany</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="France"> France</label></a></li>
          </ul>
        </div>

  - s.section title: "Searchable options" do
    = example do |e|
      - e.header do
        = ui_multi_select_field 'example1', searchable: true, option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        ui_multi_select_field 'example', searchable: true, option_tags: option_tags
      - e.html do
        <select name="example1[]" id="example1" data-enable-filtering="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item filter" value="0">
              <div class="">
                <input class="form-control multiselect-search" type="text" placeholder="Search">
              </div>
            </li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>

  - s.section title: "Size" do
    = size_description
    = example do |e|
      - e.header do
        = ui_multi_select_field 'lg', size: :lg, option_tags: select_options_tags
        = ui_multi_select_field 'md', size: :md, option_tags: select_options_tags
        = ui_multi_select_field 'sm', size: :sm, option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        ui_multi_select_field "lg", size: :lg, option_tags: option_tags
        ui_multi_select_field "md", size: :md, option_tags: option_tags
        ui_multi_select_field "sm", size: :sm, option_tags: option_tags
      - e.html do
        :plain
          <select name="lg[]" id="example1" class="btn-secondary btn-lg multi-select-field" multiple="multiple" style="display: none;">
            <option value="0">option 0</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
          </select>
          <div class="btn-group">
            <button type="button" class="multiselect dropdown-toggle btn btn-secondary btn-lg multi-select-field" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
            <ul class="multiselect-container dropdown-menu">
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="0"> option 0</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="1"> option 1</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="2"> option 2</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="3"> option 3</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="4"> option 4</label></a></li>
            </ul>
          </div>

          <select name="md[]" id="example1" class="btn-secondary btn-md multi-select-field" multiple="multiple" style="display: none;">
            <option value="0">option 0</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
          </select>
          <div class="btn-group">
            <button type="button" class="multiselect dropdown-toggle btn btn-secondary btn-md multi-select-field" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
            <ul class="multiselect-container dropdown-menu">
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="0"> option 0</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="1"> option 1</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="2"> option 2</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="3"> option 3</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="4"> option 4</label></a></li>
            </ul>
          </div>

          <select name="sm[]" id="example1" class="btn-secondary btn-sm multi-select-field" multiple="multiple" style="display: none;">
            <option value="0">option 0</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
          </select>
          <div class="btn-group">
            <button type="button" class="multiselect dropdown-toggle btn btn-secondary btn-sm multi-select-field" data-toggle="dropdown" title="None selected" aria-expanded="false">None selected <b class="caret"></b></button>
            <ul class="multiselect-container dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 31px, 0px); top: 0px; left: 0px; will-change: transform;">
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="0"> option 0</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="1"> option 1</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="2"> option 2</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="3"> option 3</label></a></li>
              <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="4"> option 4</label></a></li>
            </ul>
          </div>

  - s.section title: "Select all options" do
    = example do |e|
      - e.header do
        = ui_multi_select_field 'example1', select_all_options: true, option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        ui_multi_select_field "example", select_all_options: true, option_tags: option_tags
      - e.html do
        <select name="example1[]" id="example1" data-include-select-all-option="true" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li class="multiselect-item multiselect-all"><a href="javascript:void(0);" class="multiselect-all"><label class="checkbox"><input type="checkbox" value="multiselect-all">  Select all</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>

  - s.section title: "Status option" do
    = example do |e|
      - e.header do
        - %w(primary secondary success warning danger link).each do |s|
          = ui_multi_select_field s, status: s.to_sym, option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        ui_multi_select_field "primary", status: :primary, option_tags: option_tags
        ui_multi_select_field "secondary", status: :secondary, option_tags: option_tags
        ui_multi_select_field "success", status: :success, option_tags: option_tags
        ui_multi_select_field "warning", status: :warning, option_tags: option_tags
        ui_multi_select_field "danger", status: :danger, option_tags: option_tags
        ui_multi_select_field "link", status: :link, option_tags: option_tags
      - e.html do
        <select name="primary[]" id="primary" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>

  - s.section title: "Number displayed" do
    = example do |e|
      - e.header do
        = ui_multi_select_field :number_displayed, option_tags: select_options_tags, number_displayed: 1
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        ui_multi_select_field "number_displayed", option_tags: option_tags, number_displayed: 1
      - e.html do
        <select name="primary[]" id="primary" class="btn-primary btn multi-select" multiple="multiple" style="display: none;">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
        </select>
        <div class="btn-group">
          <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected <b class="caret"></b></button>
          <ul class="multiselect-container dropdown-menu">
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 0"> option 0</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 1"> option 1</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 2"> option 2</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 3"> option 3</label></a></li>
            <li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="option 4"> option 4</label></a></li>
          </ul>
        </div>

  - s.section title: "Field Connected" do
    = render partial: '/components/connect_option'

  - s.section title: "Connected (remote)" do
    = example do |e|
      - e.header do
        - connect = { mode: 'remote', target: { selector: '#example_1_target', url: components_forms_selects_multi_column_field_path }}
        = ui_multi_select_field 'example 1', option_tags: select_options_tags, connect: connect
        %br
        %br
        = ui_multi_select_field 'example 1 target', option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        \# First multi column input
        connect = { mode: "remote", target: { selector: "#example_1_target", url: components_forms_selects_multi_column_field_path }}
        ui_multi_select_field "example 1", option_tags: option_tags, connect: connect
        \# Second select input
        ui_multi_select_field "example 1 target", option_tags: option_tags
      - e.html do
        :plain
          ""

  - s.section title: "Connected (local)" do
    = example do |e|
      - e.header do
        - data = 5.times.map{ |i| [{ connect_option_id: i, value: 1+i.to_i, text: "New option 1.#{ i }"}, { connect_option_id: i, value: 6+i.to_i, text: "New option 2.#{ i }"}] }.flatten
        - connect = { mode: 'local', target: { selector: '#example_2_target', data: data }}
        = ui_multi_select_field 'example 2', searchable: true, option_tags: select_options_tags, connect: connect
        %br
        %br
        = ui_multi_select_field "example 2 target", option_tags: select_options_tags
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        \# First Select input
        options_data = 5.times.map{ |o| 5.times.map{ |i| { text: "New option \#{ o }.\#{ i }", value: i, connect_option_id: o }}}.flatten
        connect      = { mode: "local", target: { selector: "#example_2_target", data: options_data }}}
        ui_multi_select_field "example 2", { option_tags: option_tags, connect: connect }

        \# Second Select input
        ui_multi_select_field "example 2 target", option_tags: options_html
      - e.html do
        :plain
          ""

  - s.section title: "Refresh Connected" do
    %p Option <code>refresh</code> take same arguments than <code>connect</code> option.
    = example do |e|
      - e.header do
        - refresh = { target: { url: components_forms_selects_select_field_path }}
        = ui_multi_select_field 'example 3 target', option_tags: select_options_tags, refresh: refresh
      - e.code do
        option_tags = options_for_select(5.times.map{ |i| ["option \#{i}", i] })
        connect     = { target: { url: components_forms_selects_select_field_path }}
        ui_multi_select_field "example 3", option_tags: option_tags, refresh: connect
      - e.html do
        :plain
          <div class="input-group select-field-refresh">
            <select name="example 3 target[]" id="example_3_target" class="btn-secondary btn multi-select" multiple="multiple" style="display: none;">
            <option value="0">option 0</option>
                <option value="1">option 1</option>
                <option value="2">option 2</option>
                <option value="3">option 3</option>
                <option value="4">option 4</option>
            </select>
            <div class="btn-group">
              <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">
                None selected <b class="caret"></b>
              </button>
              <ul class="multiselect-container dropdown-menu">
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="0"> option 0</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="1"> option 1</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="2"> option 2</label>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="3"> option 3</label>
                  </a>
                  </li>
                <li>
                  <a href="javascript:void(0);">
                    <label class="checkbox"><input type="checkbox" value="4"> option 4</label>
                  </a>
                </li>
              </ul>
          </div>
          <span class="input-group-btn">
            <button data-connect='{"events":"click","mode":"remote","target":{"selector":"#example_3_target","url":"/components/forms/selects/select-field","data":[]}}' class="btn-primary ui-bibz-connect input-refresh-button btn">
              <i class="glyph fa fa-refresh"></i>
            </button>
          </span>
        </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_multi_select_field"
    %p
      Then in your view, you can insert your input dropdown select field.
      This simple form component is based on simple_form
      = link_to "collection", "https://github.com/plataformatec/simple_form#collections"
      %br
      Collection inputs accept two other options beside collections:
      %ul
        %li label_method => the label method to be applied to the collection to retrieve the label (use this instead of the text_method option in collection_select)
        %li value_method => the value method to be applied to the collection to retrieve the value
      %i label_method and value_method are optional

    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          - f.association :country, as: :ui_multi_select_field, collection: @countries, label_method: :name, value_method: :id
      - e.code do
        ui_form_for(@user) do |f|
          ...
          f.association :country, as: :ui_multi_select_field, collection: @countries, label_method: :name, value_method: :id
          ...
        end

    %p
      You can use `grouped: true` option to group collection
      %br
      Grouped collection inputs accept the same :label_method and :value_method options, which will be used to retrieve label/value attributes for the option tags. Besides that, you can give:
      %ul
        %li group_method => the method to be called on the given collection to generate the options for each group (required)
        %li group_label_method => the label method to be applied on the given collection to retrieve the label for the optgroup (Simple Form will attempt to guess the best one the same way it does with :label_method)


    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          - f.association :country, as: :ui_multi_select_field, collection: @continents, grouped: true, group_method: :countries, label_method: :name, value_method: :id
      - e.code do
        ui_form_for(@search) do |f|
          ...
          f.input :country, as: :ui_multi_select_field, grouped: true, collection: @collection,  group_method: :last, label_method: :name, value_method: :value
          ...
        end
      - e.footer do
        = documentation_link 'Documentation', '#'

    %p You can add option <code>refresh</code> in your association.
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          - f.association :country, as: :ui_multi_select_field, refresh: { target: { selector: 'form:last select[id=country_id]', url: components_forms_selects_select_field_path }}, collection: @countries, label_method: :name, value_method: :id
      - e.code do
        ui_form_for(@user) do |f|
          ...
          f.association :country, as: :ui_multi_select_field, refresh: { target: { url: components_forms_selects_select_field_path }}, collection: @countries, label_method: :name, value_method: :id
          ...
        end

= @sections.render
