= title 'Inputs'
%blockquote Simple Form inputs

= code "ui_text_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'value', types: 'string', description: "Input's value"
  - co.append_and_prepend_list

- @sections = sections do |s|
  - s.section title: "Text Field" do
    = example do |e|
      - e.header do
        = ui_text_field 'search'
      - e.code do
        ui_text_field 'search'
      - e.html do
        <input type="text" name="search" id="search" placeholder="Type your search..." class="form-control">

  - s.section title: "Text Field surrounded" do
    = example do |e|
      - e.header do
        = ui_form_for @user, url: components_forms_simple_form_inputs_path, method: :get, html: { class: 'form-test', } do |f|
          = ui_row type: :form do
            = ui_col do
              = f.ui_surround_field size: :sm do |s|
                - s.glyph "map-marker"
                - s.input :name, as: :string, placeholder: 'ex : Grenoble, 199 place de la Bastille Paris, …'
              = f.ui_surround_field size: :sm do |s|
                - s.glyph "street-view"
                - s.input :country_id, as: :ui_select_field, collection: Country.all
                - s.addon 'km'
            = ui_col do
              = f.input :company, as: :ui_choice_group, size: :sm, label: false, type: :radio, collection: [['Company 1', 1],['Company 2', 2]]
              = f.ui_surround_field size: :sm do |s|
                - s.addon  'From'
                - s.addon  'To'
                - s.input :price_formula, as: :ui_select_field, class: 'form-control-sm', collection: 12.times.map{ |i| (i+1) * 50000 }
                - s.glyph 'euro'
                - s.input :price, as: :ui_select_field, class: 'form-control-sm', collection: 12.times.map{ |i| i * 50000 }
              = f.ui_surround_field size: :sm  do |s|
                - s.glyph "globe"
                - s.input :email, as: :ui_multi_select_field, collection: [['Email 1', 1], ['Email 2', 2]], input_html: { multiple: true }
              = f.button :submit, "Search", class: 'btn-outline-primary btn-sm'
      - e.code do
        ui_text_field 'search', { append: ui_glyph('pencil'), prepend: ui_glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.html do
        <div class="input-group">
          <span class="input-group-addon"><i class="glyph fa fa-pencil"></i></span>
          <input type="text" name="search" id="search" placeholder="Type your search..." class="form-control">
          <span class="input-group-addon"><i class="glyph fa fa-camera-retro"></i></span>
        </div>

  - s.section title: "Text Field Options" do
    = example do |e|
      - e.header do
        = ui_text_field 'search', { state: :disabled, status: :danger, append: ui_glyph('pencil'), prepend: ui_glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.code do
        ui_text_field 'search', { state: :disabled, status: :danger, append: ui_glyph('pencil'), prepend: ui_glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.html do
        <div class="input-group has-danger">
          <span class="input-group-addon"><i class="glyph fa fa-pencil"></i></span>
          <input type="text" name="search" id="search" placeholder="Type your search..." class="disabled has-danger form-control" disabled="disabled">
          <span class="input-group-addon"><i class="glyph fa fa-camera-retro"></i></span>
        </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_text_field"
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          - f.input :email, as: :ui_text_field, append: ui_glyph('envelope')
      - e.code do
        ui_form_for(@search) do |f|
          ...
          f.input :email, as: :ui_text_field, append: ui_glyph('envelope')
          ...
        end



= @sections.render
