= title 'Card accordion', url: bootstrap_start_url("components/collapse/#accordion-example")
%blockquote UiBibz::Ui::Core::Boxes::CardAccordion
.bd-callout These elements allow the placement of the cards by accordion.

= code do
  :plain
    ui_card_accordion options, html_options do |cc|
      cc.card do |c|
        c.header
          ui_link "Link", url: '#', collapse: "collapse-id"
        end
        c.body collaspe: 'collapse-id' do
          content
        end
      end
    end

= component_items do |ci|
  - ci.inherit_component 'card', components_boxes_card_path

- @sections = sections do |s|
  - s.section title: "Card accordion" do
    = example do |e|
      - e.header do
        = ui_card_accordion do |cc|
          - cc.card do |c|
            - c.header do
              = ui_link 'Collapse link 1', collapse: 'collapse-1', active_collapse: true
            - c.body "Content 1", collapse: 'collapse-1', show: true
          - cc.card do |c|
            - c.header do
              = ui_link 'Collapse link 2', collapse: 'collapse-2'
            - c.body "Content 2", collapse: 'collapse-2'
          - cc.card do |c|
            - c.header do
              = ui_link 'Collapse link 3', collapse: 'collapse-3'
            - c.body "Content 3", collapse: 'collapse-3'
      - e.code do
        :plain
          ui_card_accordion do |cc|
            cc.card do |c|
              c.header do
                ui_link 'Collapse link 1', collapse: 'collapse-1', active_collapse: true
              end
              c.body "Content 1", collapse: 'collapse-1', show: true
            end
            cc.card do |c|
              c.header do
                ui_link 'Collapse link 2', collapse: 'collapse-2'
              end
              c.body "Content 2", collapse: 'collapse-2'
            end
            cc.card do |c|
              c.header do
                ui_link 'Collapse link 3', collapse: 'collapse-3'
              end
              c.body "Content 3", collapse: 'collapse-3'
            end
          end
      - e.html do
        :plain
          <div class="accordion" id="card-accordion-id-89469">
            <div class="card">
              <div class="card-header">
                <a role="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" href="#" class="collapsed">Collapse link 1</a>
              </div>
              <div class="collapse" id="collapse-1" data-parent="#card-accordion-id-89469" style="">
                <div class="card-body">Content 1</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a role="button" data-toggle="collapse" data-target="#collapse-2" href="#">Collapse link 2</a>
              </div>
              <div class="collapse" id="collapse-2" data-parent="#card-accordion-id-89469">
                <div class="card-body">Content 2</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a role="button" data-toggle="collapse" data-target="#collapse-3" href="#">Collapse link 3</a>
              </div>
              <div class="collapse" id="collapse-3" data-parent="#card-accordion-id-89469">
                <div class="card-body">Content 3</div>
              </div>
            </div>
          </div>

  - s.section title: "Card accordion with external button" do
    = example do |e|
      - e.header do
        = ui_button_group status: :secondary do |bg|
          - bg.button "Button 1", collapse: 'collapse-4', active_collapse: true
          - bg.button "Button 2", collapse: 'collapse-5'
          - bg.button "Button 3", collapse: 'collapse-6'
        %br
        %br
        = ui_card_accordion do |cc|
          - cc.card do |c|
            - c.header "Card Header 4"
            - c.body "Content 4", collapse: 'collapse-4', show: true
          - cc.card do |c|
            - c.header "Card Header 5"
            - c.body "Content 5", collapse: 'collapse-5'
          - cc.card do |c|
            - c.header "Card Header 6"
            - c.body "Content 6", collapse: 'collapse-6'
      - e.code do
        :plain
          ui_button_group status: :secondary do |bg|
            bg.button "Button 1", collapse: 'collapse-4', active_collapse: true
            bg.button "Button 2", collapse: 'collapse-5'
            bg.button "Button 3", collapse: 'collapse-6'
          end

          ui_card_accordion do |cc|
            cc.card do |c|
              c.header "Card Header 4"
              c.body "Content 4", collapse: 'collapse-4', show: true
            end
            cc.card do |c|
              c.header "Card Header 5"
              c.body "Content 5", collapse: 'collapse-5'
            end
            cc.card do |c|
              c.header "Card Header 6"
              c.body "Content 6", collapse: 'collapse-6'
            end
          end
      - e.html do
        :plain
          <div class="btn-group" role="group">
            <button class="btn-secondary btn collapsed" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false">Button 1</button>
            <button class="btn-secondary btn" data-toggle="collapse" data-target="#collapse-5">Button 2</button>
            <button class="btn-secondary btn" data-toggle="collapse" data-target="#collapse-6">Button 3</button>
          </div>

          <div class="accordion" id="card-accordion-id-50516">
            <div class="card">
              <div class="card-header">Card Header 4</div>
              <div class="collapse" id="collapse-4" data-parent="#card-accordion-id-50516" style="">
                <div class="card-body">Content 4</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">Card Header 5</div>
              <div class="collapse" id="collapse-5" data-parent="#card-accordion-id-50516">
                <div class="card-body">Content 5</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">Card Header 6</div>
              <div class="collapse" id="collapse-6" data-parent="#card-accordion-id-50516">
                <div class="card-body">Content 6</div>
              </div>
            </div>
          </div>

= @sections.render
