= title 'Card'
%blockquote UiBibz::Ui::Core::Boxes::Card
%p.bd-callout A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.

= code do
  :plain
    # by variable
    ui_card content, options, html_options

    # or by block
    ui_card options, html_options do
      content
    end

    # or by block with tap
    ui_card options, html_options do |c|
      # by variable
      c.header content, options, html_options
      # or by block
      c.header options, html_options do
        content
      end

      # by variable
      c.body content, options, html_options
      # or by block
      c.body options, html_options do
        content
      end
      # or by block with tap
      c.body options, html_options do |b|
        b.link content, options, html_options
        b.link options, html_options do
          content
        end
      end

      # by variable
      c.footer content, options, html_options
      # or by block
      c.footer options, html_options do
        content
      end

      c.image ''

      # by block with tap
      c.list_group do |lg|
        # by variable
        lg.list content, options, html_options
        # or by block
        lg.list options, html_options do
          content
        end
      end
    end

= component_options do |co|
  - co.status_link
  - co.list 'text', types: 'hash', tap: true do |clo|
    - clo.list 'positon', types: 'symbol', values: %w(:left :center :right)
    - clo.size_link
  - co.list 'outline', types: 'boolean', values: %w(true false)
  - co.tap_link

= component_items do |ci|
  - ci.inherit_component 'header'
  - ci.inherit_component 'body'
  - ci.inherit_component 'footer'
  - ci.inherit_component 'image'
  - ci.inherit_component 'list_group', components_lists_list_group_path

- @sections = sections do |s|
  - s.section title: "Card" do
    = example do |e|
      - e.header do
        = ui_card do
          = "Content 1"
        %br
        = ui_card "Content 2", { status: :info }, { class: 'my-card1'}
        %br
        = ui_card({ status: :success }, { class: 'my-card2'})  do
          = "Content 3"
      - e.code do
        ui_card do
          Content 1
        end
         
        ui_card "Content3", { status: :info }, { class: "my-card1"}
         
        ui_card({ status: :success }, { class: "my-card2"})  do
          "Content 3"
        end
      - e.html do
        :plain
          <div class="card">
            <div class="card-body">Content 1</div>
          </div>

          <div class="my-card1 bg-info text-white card">
            <div class="card-body">Content 2</div>
          </div>

          <div class="my-card2 bg-success text-white card">
            <div class="card-body">Content 3</div>
          </div>

    = tap_warning

    = example do |e|
      - e.header do
        = ui_card_deck do |cd|
          - cd.card tap: true do |c|
            - c.header 'Header 1'
            - c.body 'Content 1'
            - c.footer 'Footer 1'
          - cd.card tap: true do |c|
            - c.header 'Header 2', { glyph: 'diamond' }, { class: 'my-header' }
            - c.body 'Content 2', { glyph: 'diamond' }, { class: 'my-content' }
            - c.footer 'Footer 2', { muted: true }, { class: 'my-footer'}
          - cd.card tap: true do |c|
            - c.header({ glyph: 'diamond' }, { class: 'my-header' }) do
              = 'Header 3'
            - c.body({ glyph: 'diamond' }, { class: 'my-content' }) do
              = "Content 3"
            - c.footer({ muted: true }, { class: 'my-footer'}) do
              = "Footer 3"
      - e.code do
        :plain
          ui_card tap: true do |c|
            c.header "Header 1"
            c.body "Content 1"
            c.footer "Footer"
          end
           
          ui_card tap: true do |c|
            c.header "Header 2", { glyph: "diamond" }, { class: "my-header" }
            c.body "Content 2", { glyph: "diamond" }, { class: "my-content" }
            c.footer "Footer 2", { muted: true }, { class: 'my-footer'}
          end
           
          ui_card tap: true do |c|
            c.header({ glyph: "diamond" }, { class: "my-header" }) do
              'Header 3'
            end
            c.body({ glyph: "diamond" }, { class: "my-content" }) do
              "Content 3"
            end
            c.footer({ muted: true }, { class: "my-footer"}) do
              "Footer 3"
            end
          end
      - e.html do
        :plain
          <div class="card">
            <div class="card-header">Header 1</div>
            <div class="card-body">Content 1</div>
            <div class="card-footer">Footer 1</div>
          </div>

          <div class="card">
            <div class="my-header card-header"><i class="glyph fa fa-diamond"></i> Header 2</div>
            <div class="my-content card-body">Content 2</div>
            <div class="my-footer card-footer text-muted">Footer 2</div>
          </div>

          <div class="card">
            <div class="my-header card-header"><i class="glyph fa fa-diamond"></i> Header 3</div>
            <div class="my-content card-body">Content 3</div>
            <div class="my-footer card-footer text-muted">Footer 3</div>
          </div>

  - s.section title: "Image and list group" do
    = example do |e|
      - e.header do
        = ui_card tap: true do |c|
          - c.image 'data:image/svg+xml;charset=UTF-8,<svg%20width%3D"724"%20height%3D"180"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%20724%20180"%20preserveAspectRatio%3D"none"><defs><style%20type%3D"text%2Fcss">%23holder_15f6c72b837%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A36pt%20%7D%20<%2Fstyle><%2Fdefs><g%20id%3D"holder_15f6c72b837"><rect%20width%3D"724"%20height%3D"180"%20fill%3D"%23777"><%2Frect><g><text%20x%3D"269.9375"%20y%3D"103.2">724x180<%2Ftext><%2Fg><%2Fg><%2Fsvg>'
          - c.body tap: true do |b|
            - b.title "Card title"
            - b.text "Some quick example text to build on the card title and make up the bulk of the card's content."
          - c.list_group do |lg|
            - lg.list "Cras justo odio"
            - lg.list "Dapibas ac facilisis in"
            - lg.list "vestibulum at eros"
          - c.body tap: true do |b|
            - b.link "Card link", url: '#', class: "card-link"
            - b.link "Card link", url: '#', class: "card-link"
      - e.code do
        ui_card tap: true do |c|
          c.image "image.svg"
          c.body tap: true do |b|
            b.title "Card title"
            b.text "Some quick example text to build on the card title and make up the bulk of the card"s content."
          end
          c.list_group do |lg|
            lg.list "Cras justo odio"
            lg.list "Dapibas ac facilisis in"
            lg.list "vestibulum at eros"
          end
          c.body tap: true do |b|
            b.link "Card link", url: "#", class: "card-link"
            b.link "Card link", url: "#", class: "card-link"
          end
      - e.html do
        <div class="card">
          <img src="/assets/image.svg" alt="Image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group-flush list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibas ac facilisis in</li>
            <li class="list-group-item">vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a class="card-link card-title">Card link</a>
            <a class="card-link card-title">Card link</a>
          </div>
        </div>

  - s.section title: "Body" do
    = component_items do |ci|
      - ci.inherit_component 'title'
      - ci.inherit_component 'text'
      - ci.inherit_component 'link', components_navigations_link_path

    = example do |e|
      - e.header do
        = ui_card tap: true do |c|
          - c.body tap: true do |b|
            - b.title "Special title treatment"
            - b.text "With supporting text below as a natural lead-in to additional content."
            - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
      - e.code do
        :plain
          ui_card tap: true do |c|
            c.body tap: true do |b|
              b.title "Special title treatment"
              b.text "With supporting text below as a natural lead-in to additional content."
              b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
            end
          end

  - s.section title: "Position text" do
    %p Position are:
    %ul
      %li :left
      %li :center
      %li :right

    = example do |e|
      - e.header do
        = ui_card_deck do |cd|
          - cd.card tap: true do |c|
            - c.body tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

          - cd.card tap: true, text: { position: :center } do |c|
            - c.body tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

          - cd.card tap: true, text: { position: :right, size: :lg } do |c|
            - c.body tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
      - e.code do
        ui_card tap: true do |c|
          c.body tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: "#go-somewhere", class: "btn btn-primary"
          end
        end
         
        ui_card tap: true, text: { position: :center } do |c|
          c.body tap: true do |b|
            b.title class: "title" do
              "Special title treatment"
            end
            b.text class: "text" do
              "With supporting text below as a natural lead-in to additional content."
            end
            b.link url: "#go-somewhere", class: "btn btn-primary" do
              "Go somewhere"
            end
          end
        end
         
        ui_card tap: true, text: { position: :right, size: :lg } do |c|
          c.body tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: "#go-somewhere", class: "btn btn-primary"
          end
        end
      - e.html do
        :plain
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-primary card-link" href="#go-somewhere">Go somewhere</a>
            </div>
          </div>

          <div class="card text-md-center">
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-primary card-link" href="#go-somewhere">Go somewhere</a>
            </div>
          </div>

          <div class="card text-lg-right">
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-primary card-link" href="#go-somewhere">Go somewhere</a>
            </div>
          </div>

  - s.section title: "Status" do
    = example do |e|
      = status_description
      - e.header do
        = ui_card_column do |cd|
          - UiBibzApp::Application::STATUSES.each do |status|
            - cd.card tap: true, status: status do |c|
              - c.header "#{ status.to_s.titleize } Header"
              - c.body tap: true do |b|
                - b.title "Special title treatment"
                - b.text "With supporting text below as a natural lead-in to additional content."
              - c.footer "#{ status.to_s.titleize } Footer"
      - e.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          :plain
            ui_card tap: true, status: :#{ status } do |c|
              c.header "#{ status.to_s.titleize } Header"
              c.body tap: true do |b|
                b.title "Special title treatment"
                b.text "With supporting text below as a natural lead-in to additional content."
              end
            end
      - e.html do
        :plain
          <div class="bg-primary text-white card">
            <div class="card-header">Primary Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Primary Footer</div>
          </div>
          <div class="bg-secondary text-white card">
            <div class="card-header">Secondary Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Secondary Footer</div>
          </div>
          <div class="bg-success text-white card">
            <div class="card-header">Success Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Success Footer</div>
          </div>
          <div class="bg-danger text-white card">
            <div class="card-header">Danger Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Danger Footer</div>
          </div>
          <div class="bg-warning card">
            <div class="card-header">Warning Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Warning Footer</div>
          </div>
          <div class="bg-info text-white card">
            <div class="card-header">Info Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Info Footer</div>
          </div>
          <div class="bg-light card">
            <div class="card-header">Light Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Light Footer</div>
          </div>
          <div class="bg-dark text-white card">
            <div class="card-header">Dark Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">Dark Footer</div>
          </div>

  - s.section title: "Outline" do
    = example class: 'grey-background' do |e|
      - e.header class: 'grey-background' do
        = ui_card_column do |cd|
          - UiBibzApp::Application::STATUSES.each do |status|
            - cd.card tap: true, status: status, outline: true do |c|
              - c.header "#{ status.to_s.titleize } Header"
              - c.body tap: true do |b|
                - b.title "Special title treatment"
                - b.text "With supporting text below as a natural lead-in to additional content."
              - c.footer "#{ status.to_s.titleize } Footer"
      - e.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          :plain
            ui_card tap: true, status: :#{ status }, outline: true do |c|
              c.header "#{ status.to_s.titleize } Header"
              c.body tap: true do |b|
                b.title "Special title treatment"
                b.text "With supporting text below as a natural lead-in to additional content."
              end
            end
      - e.html do
        :plain
          <div class="border-primary text-white card bg-transparent">
            <div class="card-header text-primary border-primary bg-transparent">Primary Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-primary border-primary bg-transparent">Primary Footer</div>
          </div>
          <div class="border-secondary text-white card bg-transparent">
            <div class="card-header text-secondary border-secondary bg-transparent">Secondary Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-secondary border-secondary bg-transparent">Secondary Footer</div>
          </div>
          <div class="border-success text-white card bg-transparent">
            <div class="card-header text-success border-success bg-transparent">Success Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-success border-success bg-transparent">Success Footer</div>
          </div>
          <div class="border-danger text-white card bg-transparent">
            <div class="card-header text-danger border-danger bg-transparent">Danger Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-danger border-danger bg-transparent">Danger Footer</div>
          </div>
          <div class="border-warning card bg-transparent">
            <div class="card-header text-warning border-warning bg-transparent">Warning Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-warning border-warning bg-transparent">Warning Footer</div>
          </div>
          <div class="border-info text-white card bg-transparent">
            <div class="card-header text-info border-info bg-transparent">Info Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-info border-info bg-transparent">Info Footer</div>
          </div>
          <div class="border-light card bg-transparent">
            <div class="card-header text-light border-light bg-transparent">Light Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-light border-light bg-transparent">Light Footer</div>
          </div>
          <div class="border-dark text-white card bg-transparent">
            <div class="card-header text-dark border-dark bg-transparent">Dark Header</div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-dark border-dark bg-transparent">Dark Footer</div>
          </div>

= @sections.render
