= title 'Jumbotron', url: bootstrap_start_url("components/jumbotron")
%blockquote UiBibz::Ui::Core::Boxes::Jumbotron
%p.bd-callout A lightweight, flexible component that can optionally extend the entire viewport to showcase key content on your site.

= code 'ui_jumbotron'

= component_options do |co|
  - co.inherit_options_links except: %i(size glyph state popover tooltip status)
  - co.list 'fluid', types: 'boolean'

- @sections = sections do |s|
  - s.section title: "Jumbotron" do
    = example do |c|
      - c.header do
        = ui_jumbotron do
          %h2.display-3 Hello, world!
          %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          %hr.m-y-md
          %p It uses utility classes for typography and spacing to space content out within the larger container.
          %p.lead
            = ui_button_link 'Learn more', url: '#learn-more'
      - c.code do
        ui_jumbotron do
          <h1 class="display-3">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple ui_jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="m-y-md">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        end
      - c.html do
        <div class="jumbotron">
          <h1 class="display-3">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple ui_jumbotron-style component for calling extra attention to featured content or information.</p>
          <p></p>
          <hr class="m-y-md">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead"><a class="btn-primary btn" href="#learn-more">Learn more</a></p>
        </div>

  - s.section title: "Fluid" do
    = example do |c|
      - c.header do
        = ui_jumbotron fluid: true do
          %h2.display-3 Fluid jumbotron
          %p.lead This is a modified jumbotron that occupies the entire horizontal space of it's parent.
      - c.code do
        ui_jumbotron fluid: true do
          <h1 class="display-3">Fluid jumbotron</h1>
          <p class="lead">This is a modified ui jumbotron that occupies the entire horizontal space of it's parent.</p>
        end
      - c.html do
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Fluid jumbotron</h1>
            <p class="lead">This is a modified ui jumbotron that occupies the entire horizontal space of it's parent.</p>
          </div>
        </div>

= @sections.render
