= title 'Formula Field'
%blockquote UiBibz::Ui::Core::Forms::Numbers::FormulaField
%p.bd-callout
  By default, the second input name will take the first input name + "_formula".
  %br
  If there is an error in your formula, a warning will be diplay with an explain through attribute title in addon warning.

= code "formula_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'formula_field_name', types: 'symbole'

- @sections = sections do |s|
  - s.section title: "Formula Field" do
    = example do |e|
      - e.header do
        = formula_field 'value', {}, { placeholder: 'Type your formula...' }
      - e.code do
        formula_field 'value', {}, { placeholder: 'Type your formula...'}
      - e.html do
        <div class="input-group formula_field">
          <input type="text" name="value" id="value" value="" placeholder="Type your formula..." class="formula_field_input form-control">
          <span class="formula_field_sign input-group-addon">=</span>
          <input type="text" name="value_formula" id="value_formula" value="" readonly="readonly" class="formula_field_result form-control">
          <span class="formula_field_alert input-group-addon" data-toggle="tooltip">
            <i class="glyph-danger glyph fa fa-exclamation-triangle"></i>
          </span>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Formula Field Options" do
    = example do |e|
      - e.header do
        = formula_field 'value', formula_field_name: :another_value_formula
      - e.code do
        formula_field 'value', formula_field_name: :another_value_formula
      - e.html do
        <div class="input-group formula_field">
          <input type="text" name="value" id="value" value="" placeholder="Type your formula..." class="formula_field_input form-control">
          <span class="formula_field_sign input-group-addon">=</span>
          <input type="text" name="value_formula" id="another_value_formula" value="" readonly="readonly" class="formula_field_result form-control">
          <span class="formula_field_alert input-group-addon" data-toggle="tooltip">
            <i class="glyph-danger glyph fa fa-exclamation-triangle"></i>
          </span>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Simple form" do
    :markdown
      You can use the <code>formula_field</code> with gem [simple form](https://github.com/plataformatec/simple_form).

      You must add this line in the file `"config/initializers/simple_form.rb"`

    = example do |e|
      - e.code do
        \...
        config.custom_inputs_namespaces << "CustomInputs"
        \...
    %p Then in your view, you can insert your input.

    - @user.price = 3
    - @user.price_formula = "1+2"
    = example do |e|
      - e.header do
        = simple_form_for(@user) do |f|
          = f.input :price, as: :formula_field
      - e.code do
        simple_form(@search) do |f|
          ...
          f.input :price, as: :formula_field
          ...
        end
      - e.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
