= title 'Formula Field', display_ui: true, logo_name: 'ui bibz'
%blockquote UiBibz::Ui::Core::Forms::Numbers::FormulaField
%p.bd-callout
  By default, the second input name will take the first input name + "_formula".
  %br
  If there is an error in your formula, a warning will be diplay with an explain through attribute title in addon warning.

= code "ui_formula_field", component_name: "name"

= component_options do |co|
  - co.inherit_options_links except: %i(glyph status state popover tooltip)
  - co.append_and_prepend_list
  - co.list "status", types: :symbol, values: %w[:success :danger]
  - co.list 'state', types: :symbol, values: %w[:active :disabled :valid :invalid]
  - co.list 'ui_formula_field_name', types: :symbol

- @sections = sections do |s|
  - s.section title: "Formula Field" do
    = example do |e|
      - e.header do
        = ui_formula_field 'value', {}, { placeholder: 'Type your formula...' }
      - e.code do
        ui_formula_field "value", {}, { placeholder: "Type your formula..."}
      - e.html do
        <div class="input-group ui_formula_field">
          <input type="text" name="value" id="value" value="" placeholder="Type your formula..." class="ui_formula_field_input form-control">
          <span class="ui_formula_field_sign input-group-addon">=</span>
          <input type="text" name="value_formula" id="value_formula" value="" readonly="readonly" class="ui_formula_field_result form-control">
          <span class="ui_formula_field_alert input-group-addon" data-bs-toggle="tooltip">
            <i class="glyph-danger glyph fa fa-exclamation-triangle"></i>
          </span>
        </div>

  - s.section title: "Append, prepend" do
    = example do |e|
      - e.header do
        = ui_formula_field 'value', append: ui_glyph("calendar"), prepend: ui_glyph("pencil-alt")
      - e.code do
        ui_formula_field 'value', append: ui_glyph("calendar"), prepend: ui_glyph("pencil-alt")
      - e.html do
        :plain
          <div class="formula_field input-group ui_surround_field">
            <span class="input-group-text"><i class="glyph fas fa-calendar"></i></span>
            <input type="text" name="value_formula" id="value_formula" class="formula-field form-control">
            <span class="formula-field-sign input-group-text" style="display: none;">=</span>
            <input type="text" name="value" id="value" class="formula-field-result form-control" readonly="readonly" style="visible: hidden">
            <span data-bs-toggle="tooltip" class="formula-field-alert input-group-text" style="display: none;" data-original-title="" title=""><i class="glyph-danger glyph fas fa-exclamation-triangle"></i></span>
            <span class="input-group-text"><i class="glyph fas fa-pencil-alt"></i></span>
          </div>

  - s.section title: "Formula Field Status" do
    = example do |e|
      - e.header do
        = ui_row do
          = ui_col do
            = ui_formula_field 'value', status: :success
          = ui_col do
            = ui_formula_field 'value', status: :danger
      - e.code do
        ui_formula_field "value", status: :success
        ui_formula_field 'value', status: :danger
      - e.html do
        :plain
          <div class="formula_field is-valid input-group ui_surround_field">
            <input type="text" name="value_formula" id="value_formula" class="is-valid formula-field form-control">
            <span class="formula-field-sign input-group-text" style="display: none;">=</span>
            <input type="text" name="value" id="value" class="formula-field-result form-control" readonly="readonly" style="visible: hidden">
            <span data-bs-toggle="tooltip" class="formula-field-alert input-group-text" style="display: none;" data-original-title="" title="">
              <i class="glyph-danger glyph fas fa-exclamation-triangle"></i>
            </span>
          </div>

          <div class="formula_field is-invalid input-group ui_surround_field">
            <input type="text" name="value_formula" id="value_formula" class="is-invalid formula-field form-control">
            <span class="formula-field-sign input-group-text" style="display: none;">=</span>
            <input type="text" name="value" id="value" class="formula-field-result form-control" readonly="readonly" style="visible: hidden">
            <span data-bs-toggle="tooltip" class="formula-field-alert input-group-text" style="display: none;" data-original-title="" title="">
              <i class="glyph-danger glyph fas fa-exclamation-triangle"></i>
            </span>
          </div>

  - s.section title: "Formula Field State" do
    = example do |e|
      - e.header do
        = ui_row gutters: 2 do
          = ui_col 6 do
            = ui_formula_field 'value', state: :active
          = ui_col num: 6 do
            = ui_formula_field 'value', state: :disabled
          = ui_col num: 6 do
            = ui_formula_field 'value', state: :valid
          = ui_col num: 6 do
            = ui_formula_field 'value', state: :invalid
      - e.code do
        :plain
          ui_formula_field 'value', state: :active
          ui_formula_field 'value', state: :disabled
          ui_formula_field 'value', state: :valid
          ui_formula_field 'value', state: :invalid
      - e.html do
        :plain
          <div class="formula_field active input-group ui_surround_field">
            <input type="text" name="value_formula" id="value_formula" class="active formula-field form-control">
            <span class="formula-field-sign input-group-text" style="display: none;">=</span>
            <input type="text" name="value" id="value" class="formula-field-result form-control" readonly="readonly" style="visible: hidden">
            <span data-bs-toggle="tooltip" class="formula-field-alert input-group-text" style="display: none;" data-original-title="" title="">
              <i class="glyph-danger glyph fas fa-exclamation-triangle"></i>
            </span>
          </div>

          <div class="formula_field disabled input-group ui_surround_field">
            <input type="text" name="value_formula" id="value_formula" class="disabled formula-field form-control" disabled="disabled">
            <span class="formula-field-sign input-group-text" style="display: none;">=</span>
            <input type="text" name="value" id="value" class="formula-field-result form-control" disabled="disabled" readonly="readonly" style="visible: hidden">
            <span data-bs-toggle="tooltip" class="formula-field-alert input-group-text" style="display: none;" data-original-title="" title="">
              <i class="glyph-danger glyph fas fa-exclamation-triangle"></i>
            </span>
          </div>

          <div class="formula_field is-valid input-group ui_surround_field">
            <input type="text" name="value_formula" id="value_formula" class="is-valid formula-field form-control">
            <span class="formula-field-sign input-group-text" style="display: none;">=</span>
            <input type="text" name="value" id="value" class="formula-field-result form-control" readonly="readonly" style="visible: hidden">
            <span data-bs-toggle="tooltip" class="formula-field-alert input-group-text" style="display: none;" data-original-title="" title="">
              <i class="glyph-danger glyph fas fa-exclamation-triangle"></i>
            </span>
          </div>

          <div class="formula_field is-invalid input-group ui_surround_field">
            <input type="text" name="value_formula" id="value_formula" class="is-invalid formula-field form-control">
            <span class="formula-field-sign input-group-text" style="display: none;">=</span>
            <input type="text" name="value" id="value" class="formula-field-result form-control" readonly="readonly" style="visible: hidden">
            <span data-bs-toggle="tooltip" class="formula-field-alert input-group-text" style="display: none;" data-original-title="" title="">
              <i class="glyph-danger glyph fas fa-exclamation-triangle"></i>
            </span>
          </div>

  - s.section title: "Formula Field Options" do
    = example do |e|
      - e.header do
        = ui_formula_field 'value', ui_formula_field_name: :another_value_formula
      - e.code do
        ui_formula_field "value", ui_formula_field_name: :another_value_formula
      - e.html do
        <div class="input-group ui_formula_field">
          <input type="text" name="value" id="value" value="" placeholder="Type your formula..." class="ui_formula_field_input form-control">
          <span class="ui_formula_field_sign input-group-addon">=</span>
          <input type="text" name="value_formula" id="another_value_formula" value="" readonly="readonly" class="ui_formula_field_result form-control">
          <span class="ui_formula_field_alert input-group-addon" data-bs-toggle="tooltip">
            <i class="glyph-danger glyph fa fa-exclamation-triangle"></i>
          </span>
        </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_formula_field"

    - @user.price = 3
    - @user.price_formula = "1+2"
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          = f.input :price, as: :ui_formula_field
      - e.code do
        ui_form_for(@search) do |f|
          ...
          f.input :price, as: :ui_formula_field
          ...
        end

= @sections.render
