= title 'Formula Field', display_ui: true, logo_name: 'ui bibz'
%blockquote UiBibz::Ui::Core::Forms::Numbers::FormulaField
%p.bd-callout
  By default, the second input name will take the first input name + "_formula".
  %br
  If there is an error in your formula, a warning will be diplay with an explain through attribute title in addon warning.

= code "ui_formula_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'ui_formula_field_name', types: 'symbole'
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

- @sections = sections do |s|
  - s.section title: "Formula Field" do
    = example do |e|
      - e.header do
        = ui_formula_field 'value', {}, { placeholder: 'Type your formula...' }
      - e.code do
        ui_formula_field "value", {}, { placeholder: "Type your formula..."}
      - e.html do
        <div class="input-group ui_formula_field">
          <input type="text" name="value" id="value" value="" placeholder="Type your formula..." class="ui_formula_field_input form-control">
          <span class="ui_formula_field_sign input-group-addon">=</span>
          <input type="text" name="value_formula" id="value_formula" value="" readonly="readonly" class="ui_formula_field_result form-control">
          <span class="ui_formula_field_alert input-group-addon" data-toggle="tooltip">
            <i class="glyph-danger glyph fa fa-exclamation-triangle"></i>
          </span>
        </div>

  - s.section title: "Formula Field Status" do
    = example do |e|
      - e.header do
        = ui_formula_field 'value', status: :success
      - e.code do
        ui_formula_field "value", status: :success
      - e.html do
        <div class="input-group has-success ui_formula_field">
          <input type="text" name="value" id="value" value="" placeholder="Type your formula..." class="ui_formula_field_input form-control">
          <span class="ui_formula_field_sign input-group-addon">=</span>
          <input type="text" name="value_formula" id="another_value_formula" value="" readonly="readonly" class="ui_formula_field_result form-control">
          <span class="ui_formula_field_alert input-group-addon" data-toggle="tooltip">
            <i class="glyph-danger glyph fa fa-exclamation-triangle"></i>
          </span>
        </div>

  - s.section title: "Formula Field Options" do
    = example do |e|
      - e.header do
        = ui_formula_field 'value', ui_formula_field_name: :another_value_formula
      - e.code do
        ui_formula_field "value", ui_formula_field_name: :another_value_formula
      - e.html do
        <div class="input-group ui_formula_field">
          <input type="text" name="value" id="value" value="" placeholder="Type your formula..." class="ui_formula_field_input form-control">
          <span class="ui_formula_field_sign input-group-addon">=</span>
          <input type="text" name="value_formula" id="another_value_formula" value="" readonly="readonly" class="ui_formula_field_result form-control">
          <span class="ui_formula_field_alert input-group-addon" data-toggle="tooltip">
            <i class="glyph-danger glyph fa fa-exclamation-triangle"></i>
          </span>
        </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_formula_field"

    - @user.price = 3
    - @user.price_formula = "1+2"
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          = f.input :price, as: :ui_formula_field
      - e.code do
        ui_form_for(@search) do |f|
          ...
          f.input :price, as: :ui_formula_field
          ...
        end

= @sections.render
