= title 'Breadcrumb', url: "components/breadcrumb/"
%blockquote UiBibz::Ui::Core::Navigations::Breadcrumb
%p.bd-callout Indicate the current page's location within a navigational hierarchy.

= code do
  :plain
    ui_breadcrumb options, html_options do |b|
      # by variable
      b.link content, options, html_options

      # or by block
      b.link options, html_options do
        content
      end
    end

    # or

    ui_breadcrumb store, options, html_options

= component_options do |co|
  - co.inherit_options_links except: %i(glyph popover size state status tooltip)
  - co.list 'link_label', types: 'symbol', values: ':name'
  - co.list 'link_url', types: 'string', values: '#'

= component_items do |ci|
  - ci.inherit_component 'link', components_navigations_link_path
  - ci.html_link

- @sections = sections do |s|
  - s.section title: "Breadcrumb" do
    = example do |c|
      - c.header do
        = ui_breadcrumb do |b|
          - b.link 'Home', current: true
        %br
        = ui_breadcrumb do |b|
          - b.link 'Home', url: '#home'
          - b.link 'Library', current: true
        %br
        = ui_breadcrumb do |b|
          - b.link 'Home', url: '#active'
          - b.link 'Library', url: '#library'
          - b.link 'Data', current: true
      - c.code do
        ui_breadcrumb do |b|
          b.link "Home", current: true
        end
         
        ui_breadcrumb do |b|
          b.link "Home", url: "#home"
          b.link "Library", current: true
        end
         
        ui_breadcrumb do |b|
          b.link "Home", url: "#home"
          b.link "Library", url: "#library"
          b.link "Data", current: true
        end
      - c.html do
        :plain
          <nav arial-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="active breadcrumb-item" aria-current="page">Home</li>
            </ol>
          </nav>

          <nav arial-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#home">Home</a></li>
              <li class="active breadcrumb-item" aria-current="page">Library</li>
            </ol>
          </nav>

          <nav arial-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#active">Home</a></li>
              <li class="breadcrumb-item"><a href="#library">Library</a></li>
              <li class="active breadcrumb-item" aria-current="page">Data</li>
            </ol>
          </nav>

  - s.section title: "Breadcrumb with store" do
    %p Options are :
    = component_list_options do |clo|
      - clo.list 'link_label', types: %w(symbol string), default: ':name'
      - clo.list 'link_url', types: :string, default: '#'

    %p Option <code>link_url</code> can be written:
    %ul
      %li "/user/:id"
      %li user_path(:id)

    = example do |c|
      - c.header do
        = ui_breadcrumb @users, link_label: :email, link_url: "#/id/edit"
      - c.code do
        ui_breadcrumb store: @users, link_label: :email, link_url: "\#/id/edit"
      - c.html do
        <ol class="breadcrumb">
          <li><a href="#/1/edit">test0@test.com</a></li>
          <li><a href="#/2/edit">test1@test.com</a></li>
          <li aria-current="page">test2@test.com</li>
        </ol>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
