= title 'Pagination'
%blockquote UiBibz::Ui::Core::Navigations::Pagination
%p.bd-callout Pagination is a component to allow navigation between multiple pages.

= code do
  :plain
    ui_pagination options, html_options do |n|
      # by variable
      n.link content, options, html_options
      # or by block
      n.link options, html_options do
        content
      end
    end

= component_options do |co|
  - co.state_link
  - co.list 'type', types: 'symbol', values: %w(:tabs :pills :links)
  - co.list 'position', types: 'symbol', values: %w(:left :center :right)
  - co.list 'stacked', types: 'boolean'
  - co.list 'justify', types: 'boolean'
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

= component_items do |ci|
  - ci.inherit_component 'link', components_navigations_link_path

- @sections = sections do |s|
  - s.section title: "Pagination" do
    = example do |c|
      - c.header do
        = ui_pagination do |n|
          - n.link '«', url: '#<<', state: :disabled
          - n.link 1, url: '#<<', state: :active
          - 5.times.each do |i|
            - n.link i+2, url: "##{ i+2 }", class: 'my-link'
          - n.link '»', url: '#>>'
      - c.code do
        :plain
          ui_pagination do |n|
            n.link '«', url: '#<<', state: :disabled
            n.link 1, url: '#<<', state: :active
        - 5.times.each do |i|
          = "  n.link #{ i+2 }, url: '##{ i+2 }', class: 'my-link'".html_safe
        :plain
            n.link '»', url: '#>>'
          end
      - c.html do
        :plain
          <ul class="pagination">
            <li class="disabled page-item">
              <a class="page-link" href="#&lt;&lt;">«</a>
            </li>
            <li class="active page-item">
              <a class="page-link" href="#&lt;&lt;">1</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#2">2</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#3">3</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#4">4</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#5">5</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#6">6</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#&gt;&gt;">»</a>
            </li>
          </ul>

  - s.section title: "Size" do
    = size_description
    = example do |c|
      - c.header do
        - UiBibzApp::Application::SIZES.each do |size|
          = ui_pagination size: size do |n|
            - n.link '«', url: '#<<', state: :disabled
            - n.link 1, url: '#<<', state: :active
            - 5.times.each do |i|
              - n.link i+2, url: "##{ i+2 }", class: 'my-link'
            - n.link '»', url: '#>>'
      - c.code do
        - UiBibzApp::Application::SIZES.each do |size|
          ui_pagination size: :#{ size } do |n|
            n.link '«', url: '#<<', state: :disabled
            n.link 1, url: '#<<', state: :active
          - 5.times.each do |i|
            = "  n.link #{ i+2 }, url: '##{ i+2 }', class: 'my-link'".html_safe
          = "  n.link '»', url: '#>>'".html_safe
          = "end"
      - c.html do
        :plain
          <ul class="pagination pagination-lg">
            <li class="disabled page-item">
              <a class="page-link" href="#&lt;&lt;">«</a>
            </li>
            <li class="active page-item">
              <a class="page-link" href="#&lt;&lt;">1</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#2">2</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#3">3</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#4">4</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#5">5</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#6">6</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#&gt;&gt;">»</a>
            </li>
          </ul>

  - s.section title: "Position" do
    = position_description
    = example do |c|
      - c.header do
        - %i(left center right).each do |p|
          = ui_pagination position: p do |n|
            - n.link '«', url: '#<<', state: :disabled
            - n.link 1, url: '#<<', state: :active
            - 5.times.each do |i|
              - n.link i+2, url: "##{ i+2 }", class: 'my-link'
            - n.link '»', url: '#>>'
      - c.code do
        - %i(left center right).each do |p|
          ui_pagination size: :#{ p } do |n|
            n.link '«', url: '#<<', state: :disabled
            n.link 1, url: '#<<', state: :active
          - 5.times.each do |i|
            = "  n.link #{ i+2 }, url: '##{ i+2 }', class: 'my-link'".html_safe
          :plain
              n.link '»', url: '#>>'
            end
          :plain

      - c.html do
        :plain
          <ul class="pagination">
            <li class="disabled page-item">
              <a class="page-link" href="#&lt;&lt;">«</a>
            </li>
            <li class="active page-item">
              <a class="page-link" href="#&lt;&lt;">1</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#2">2</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#3">3</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#4">4</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#5">5</a>
            </li>
            <li class="my-link page-item">
              <a class="page-link" href="#6">6</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#&gt;&gt;">»</a>
            </li>
          </ul>


= @sections.render
