= title 'Tab Group'
%blockquote UiBibz::Ui::Core::Navigations::TabGroup
%p.bd-callout Navigation by tabs.

= code do
  :plain
    ui_tab_group options, html_options do |n|
      # by variable
      n.tab content, options, html_options
      # or by block
      n.tab options, html_options do
        content
      end

      n.dropdown name, options, html_options do |d|
        d.link content, options, html_options
      end
    end

= component_options do |co|
  - co.list 'position', types: 'symbol', values: %w(:left :center :right)

= component_items do |ci|
  - ci.inherit_component 'tab', components_navigations_link_path, 'link'
  - ci.inherit_component 'dropdown', components_forms_dropdowns_dropdown_path

- @sections = sections do |s|
  - s.section title: "Tab group" do
    = example do |c|
      - c.header do
        = ui_tab_group do |n|
          - n.tab 'Active', url: '#active', state: :active
          - n.tab url: '#link', class: 'my-link' do
            Link
          - n.tab 'Disabled', url: '#disabled', state: :disabled
          - n.dropdown 'Dropdown' do |d|
            - d.link "Action 1", url: '#action'
            - d.link url: '#another-action' do
              = "Action 2"
            - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
              = "Action 3"
      - c.code do
        :plain
          ui_tab_group do |n|
            n.tab "Active", url: "#active", state: :active
            n.tab url: "#link", class: "my-link" do
              Link
            end
            n.tab "Disabled", url: "#disabled", state: :disabled
            n.dropdown "Dropdown" do |d|
              d.link "Action 1", url: "#action"
              d.link url: "#another-action" do
                "Action 2"
              end
              d.link({ url: "#separate-link"}, { class: "my-link"}) do
                "Action 3"
              end
            end
          end
      - c.html do
        :plain
          <ul class="nav nav-tabs">
            <li class="active nav-item">
              <a class="nav-link" href="#active">Active</a>
            </li>
            <li class="my-link nav-item">
              <a class="my-link nav-link" href="#link">Link</a>
            </li>
            <li class="disabled nav-item">
              <a class="disabled nav-link" href="#disabled">Disabled</a>
            </li>
            <li class="dropdown nav-item">
              <a class="dropdown-toggle nav-link active" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown <span class="caret"></span></a>
              <div class="dropdown-menu" arial-labelledby="dropdown-108193369083803761755352021749111359676" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#action">Action 1</a>
                <a class="dropdown-item" href="#another-action">Action 2</a>
                <a class="my-link dropdown-item" href="#separate-link">Action 3</a>
              </div>
            </li>
          </ul>

  - s.section title: "Position" do
    = example do |c|
      - c.header do
        - %i(left center right).each do |p|
          = ui_tab_group position: p do |n|
            - n.tab 'Active', url: '#active', state: :active
            - n.tab 'Another link', url: '#another-link'
            - n.tab 'Disabled', url: '#disabled', state: :disabled
          %br
      - c.code do
        - %i(left center right).each do |p|
          :plain
            ui_tab_group position: p do |n|
              n.tab "Active", url: "#active", state: :active
              n.tab "Another link", url: "#another-link"
              n.tab "Disabled", url: "#disabled", state: :disabled
            end
      - c.html do
        :plain
          <nav class="nav nav-links justify-content-end">
            <a class="active nav-link" href="#active">Active</a>
            <a class="nav-link" href="#another-link">Another link</a>
            <a class="disabled nav-link" href="#disabled">Disabled</a>
          </nav>

          <nav class="nav nav-links justify-content-center">
            <a class="active nav-link" href="#active">Active</a>
            <a class="nav-link" href="#another-link">Another link</a>
            <a class="disabled nav-link" href="#disabled">Disabled</a>
          </nav>

          <nav class="nav nav-links">
            <a class="active nav-link" href="#active">Active</a>
            <a class="nav-link" href="#another-link">Another link</a>
            <a class="disabled nav-link" href="#disabled">Disabled</a>
          </nav>

  - s.section title: "Spacer" do
    = spacer_values
    = example do |c|
      - c.header do
        = ui_tab_group do |n|
          - n.link 'Active', url: '#active', state: :active
          - n.link 'Another link', url: '#active'
          - n.link 'Disabled', url: '#disabled', state: :disabled
          - n.spacer
          - n.dropdown 'Dropdown' do |d|
            - d.link "Action 1", url: '#action'
            - d.link url: '#another-action' do
              = "Action 2"
            - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
              = "Action 3"
      - c.code do
        :plain
          ui_tab_group do |n|
            n.link "Active", url: "#active", state: :active
            n.link "Another link", url: "#active"
            n.link "Disabled", url: "#disabled", state: :disabled
            n.spacer
            n.dropdown "Dropdown" do |d|
              d.link "Action 1", url: "#action"
              d.link url: "#another-action" do
                "Action 2"
              end
              d.link({ url: "#separate-link"}, { class: "my-link"}) do
                "Action 3"
              end
            end
          end
      - c.html do
        :plain
          <ul class="nav nav-tabs">
            <li class="active nav-item">
              <a class="nav-link" href="#active">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#active">Another link</a>
            </li>
            <li class="disabled  mr-auto nav-item">
              <a class="disabled nav-link" href="#disabled">Disabled</a>
            </li>
            <li class="dropdown nav-item">
              <a class="dropdown-toggle nav-link active" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown <span class="caret"></span></a>
              <div class="dropdown-menu" arial-labelledby="dropdown-215166184182764420015994202772620281414" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#action">Action 1</a>
                <a class="dropdown-item" href="#another-action">Action 2</a>
                <a class="my-link dropdown-item" href="#separate-link">Action 3</a>
              </div>
            </li>
          </ul>

  - s.section title: "Connection" do
    %p For more information see: #{ link_to 'Boostrap nav', 'https://getbootstrap.com/docs/4.0/components/navs/"' }
    = example do |c|
      - c.header do
        = ui_tab_group type: :tabs do |n|
          - n.tab 'Active', url: '#content1', state: :active
          - n.tab 'Link', url: '#content2'
          - n.tab 'Another link', url: '#content3'
          - n.tab 'Disabled', url: '#content4', state: :disabled
        %br
        .tab-content
          = ui_card 'Content 1', { tab: true, state: :active }, { id: 'content1' }
          = ui_card 'Content 2', { tab: true, effect: :fade }, { id: 'content2' }
          = ui_card 'Content 3', { tab: true, effect: :fade }, { id: 'content3' }
          = ui_card 'Content 4', { tab: true }, { id: 'content4' }
      - c.code do
        ui_tab_group type: :tabs do |n|
          n.tab "Active", url: "#content1", state: :active
          n.tab "Link", url: "#content2"
          n.tab "Another link", url: "#content3"
          n.tab "Disabled", url: "#content4", state: :disabled
        end
         
        <div class='tab-content'>
          ui_card "Content 1", { tab: true, state: :active }, { id: "content1" }
          ui_card "Content 2", { tab: true, effect: :fade }, { id: "content2" }
          ui_card "Content 3", { tab: true, effect: :fade }, { id: "content3" }
          ui_card "Content 4", { tab: true }, { id: "content4" }
        </div>
      - c.html do
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="active nav-link" data-toggle="tab" role="tab" href="#content1">Active</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#content2">Link</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#content3">Another link</a></li>
          <li class="nav-item"><a class="disabled nav-link" data-toggle="tab" role="tab" href="#content4">Disabled</a></li>
        </ul>
        <br>
        <div class="tab-content">
          <div id="content1" class="active card card-block tab-pane">Content 1</div>
          <div id="content2" class="fade card card-block tab-pane">Content 2</div>
          <div id="content3" class="fade card card-block tab-pane">Content 3</div>
          <div id="content4" class="card card-block tab-pane">Content 4</div>
        </div>

= @sections.render
