%h1 Buttons choice

%h2 Content
= nav class: 'secondary-nav' do |n|
  - n.link 'Button checkbox', url: '#button-checkbox'
  - n.nav do |na|
    - na.link 'Button checkbox Options', url: '#button-checkbox-options'
  - n.link 'Radio', url: '#button-radio'
  - n.nav do |na|
    - na.link 'Radios Options', url: '#button-radio-options'


= section title: "Button checkbox" do
  = example do |c|
    - c.header do
      = button_group do
        = button_choice 'Checkbox 1'
        = button_choice 'Checkbox 2', status: :active
    - c.code do
      button_group do
        button_choice 'Checkbox 1', state: :primary
        button_choice 'Checkbox 2', state: :primary, status: :active
      end
    - c.footer do
      = documentation_link 'Documentation', '#'


= section title: "Button checkbox options" do
  = example do |c|
    - c.header do
      = button_group do
        = button_choice 'Checkbox 1', state: :success, outline: true, size: :lg
        = button_choice 'Checkbox 2', state: :success, status: :active, outline: true, size: :lg
    - c.code do
      button_group do
        button_choice 'Checkbox 1', state: :primary, outline: true, size: :lg
        button_choice 'Checkbox 2', state: :primary, status: :active, outline: true, size: :lg
      end
    - c.footer do
      = documentation_link 'Documentation', '#'

= section title: "Button radio" do
  = example do |c|
    - c.header do
      = button_group do
        = button_choice 'Radio 1', type: :radio
        = button_choice 'Radio 2', status: :active, type: :radio
    - c.code do
      button_group do
        button_choice 'Radio 1', state: :primary, type: :radio
        button_choice 'Radio 2', state: :primary, status: :active, type: :radio
      end
    - c.footer do
      = documentation_link 'Documentation', '#'


= section title: "Button radio options" do
  = example do |c|
    - c.header do
      = button_group do
        = button_choice 'Radio 1', state: :danger, outline: true, size: :lg, type: :radio
        = button_choice 'Radio 2', state: :danger, status: :active, outline: true, size: :lg, type: :radio
    - c.code do
      button_group do
        button_choice 'Radio 1', state: :danger, outline: true, size: :lg, type: :radio
        button_choice 'Radio 2', state: :danger, status: :active, outline: true, size: :lg, type: :radio
      end
    - c.footer do
      = documentation_link 'Documentation', '#'
