%h1 Buttons choice
%p= extend_of_component 'button_choice', link_to('button', components_buttons_path)

- @sections = sections do |s|
  - s.section title: "Checkbox buttons" do
    :markdown
      Checkbox button has several options:

      * #{ state_link }
      * #{ glyph_link }
      * #{ size_link }
      * #{ status_link }
      * outline (`Boolean`)
      * type (`:checkbox, :radio`)

    = example do |c|
      - c.header do
        = button_group do
          = button_choice 'Checkbox 1'
          = button_choice 'Checkbox 2', status: :active
      - c.code do
        button_group do
          button_choice 'Checkbox 1', state: :primary
          button_choice 'Checkbox 2', state: :primary, status: :active
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-primary btn"><input type="checkbox" autocomplete="off">Checkbox 1</label>
          <label class="active btn-primary btn"><input type="checkbox" autocomplete="off" checked="checked">Checkbox 2</label>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Checkbox buttons options" do
    = example do |c|
      - c.header do
        = button_group do
          = button_choice 'Checkbox 1', state: :success, outline: true, glyph: 'diamond', size: :lg
          = button_choice 'Checkbox 2', state: :success, status: :active, outline: true, size: :lg
      - c.code do
        button_group do
          button_choice 'Checkbox 1', state: :primary, outline: true, size: :lg
          button_choice 'Checkbox 2', state: :primary, status: :active, outline: true, size: :lg
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-success-outline btn btn-lg"><input type="checkbox" autocomplete="off">Checkbox 1</label>
          <label class="active btn-success-outline btn btn-lg"><input type="checkbox" autocomplete="off" checked="checked">Checkbox 2</label>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Radio button" do
    = example do |c|
      - c.header do
        = button_group do
          = button_choice 'Radio 1', type: :radio
          = button_choice 'Radio 2', status: :active, type: :radio
      - c.code do
        button_group do
          button_choice 'Radio 1', state: :primary, type: :radio
          button_choice 'Radio 2', state: :primary, status: :active, type: :radio
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-primary btn"><input type="radio" autocomplete="off">Radio 1</label>
          <label class="active btn-primary btn"><input type="radio" autocomplete="off" checked="checked">Radio 2</label>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Radio buttons options" do
    = example do |c|
      - c.header do
        = button_group do
          = button_choice 'Radio 1', state: :danger, outline: true, size: :lg, type: :radio
          = button_choice 'Radio 2', state: :danger, status: :active, outline: true, size: :lg, type: :radio
      - c.code do
        button_group do
          button_choice 'Radio 1', state: :danger, outline: true, size: :lg, type: :radio
          button_choice 'Radio 2', state: :danger, status: :active, outline: true, size: :lg, type: :radio
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-danger-outline btn btn-lg"><input type="radio" autocomplete="off">Radio 1</label>
          <label class="active btn-danger-outline btn btn-lg"><input type="radio" autocomplete="off" checked="checked">Radio 2</label>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
