%h1 Buttons split dropdown
%p= extend_of_component 'button_dropdown', link_to('dropdown', components_dropdowns_path)
%p  Use any button to trigger a dropdown menu by providing the proper menu markup.

= content_for :third_nav do
  = nav class: 'secondary-nav' do |n|
    - n.link 'Button split dropdown', url: '#button-dropdown'
    - n.nav do |na|
      - na.link 'Button split dropdown options', url: '#button-dropdown-options'

- @sections = sections do |s|
  - s.section title: "Button split dropdown" do
    = example do |c|
      - c.header do
        - %i(primary secondary danger warning info success).each do |state|
          = button_split_dropdown state.to_s.titleize, state: state do |bd|
            - bd.link "Action", url: '#action'
            - bd.link "Another action", url: '#another-action'
            - bd.divider
            - bd.header 'Header'
            - bd.link "Separate link", url: '#separate-link'
      - c.code do
        button_split_dropdown 'Primary' do |bd|
          bd.link "Action", url: '#action'
          bd.link "Another action", url: '#another-action'
          bd.link url: '#another-action' do
            "Another action"
          end
          bd.divider
          bd.header 'Header'
          bd.link "Separate link", url: '#separate-link'
          bd.link({ url: '#separate-link'}, { class: 'my-link'}) do
            "Separate link"
          end
        end
      - c.html do
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-primary">Primary</button>
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-secondary">Secondary</button>
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-danger">Danger</button>
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-warning">Warning</button>
          <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-info">Info</button>
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-success">Success</button>
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Buttonsplit  dropdown options" do
    = example do |c|
      - c.header do
        = button_split_dropdown "Dropdown right", state: :success, size: :lg, position: :right do |bd|
          - bd.link "Confirm action", url: '#action', link_html_options: { data: { confirm: 'Are you sure?' }}, method: :delete
          - bd.link "Another action", url: '#another-action'
          - bd.divider
          - bd.header 'Header'
          - bd.link "Separate link", url: '#separate-link'

        = button_split_dropdown "Dropup", state: :danger, size: :sm, type: :dropup do |bd|
          - bd.link "Action",  { url: '#action' }, { class: 'action' }
          - bd.link "Another action", url: '#another-action'
          - bd.divider
          - bd.header 'Header'
          - bd.link "Separate link", url: '#separate-link'

      - c.code do
        button_split_dropdown "Dropdown right", state: :success, size: :lg, position: :right do |bd|
          bd.link "Confirm action", url: '#action', link_html_options: { data: { confirm: 'Are you sure?' }}, method: :delete
          bd.link "Another action", url: '#another-action'
          bd.divider
          bd.header 'Header'
          bd.link "Separate link", url: '#separate-link'
        end
         
        button_split_dropdown "Dropup", state: :danger, size: :sm, type: :dropup do |bd|
          bd.link "Action",  { url: '#action' }, { class: 'action' }
          bd.link "Another action", url: '#another-action'
          bd.divider
          bd.header 'Header'
          bd.link "Separate link", url: '#separate-link'
        end
      - c.html do
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-success btn-lg">Dropdown right</button>
          <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" data-confirm="Are you sure?" href="#action">Confirm action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropup" role="group">
          <button class="btn btn-danger btn-sm">Dropup</button>
          <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="action dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>

      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
