:markdown
  # Buttons

  Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.
= extend_of_component 'button'

- @sections = sections do |s|
  - s.section title: "Button" do
    :markdown
      The `state` option for agument the following symbols :

      * :primary
      * :secondary
      * :success
      * :warning
      * :danger
      * :link

    = example do |c|
      - c.header do
        = button 'Primary', state: :primary
        = button 'Secondary', state: :secondary
        = button 'Success', state: :success
        = button 'Warning', state: :warning
        = button 'Danger', state: :danger
        = button 'Link', state: :link
      - c.code do
        button 'Primary', state: :primary
        button 'Secondary', state: :secondary
        button 'Success', state: :success
        button 'Warning', state: :warning
        button 'Danger', state: :danger
        button 'Link', state: :link
      - c.footer do
        = documentation_link 'Documentation', '#'

  :markdown
    ##Button options

  - s.section title: "Outline", tag: :h3 do
    :markdown
      The background color of the buttons can be removed through the `outline` option that has for a Boolean argument.
    = example do |c|
      - c.header do
        = button 'Primary', state: :primary, outline: true
        = button 'Secondary', state: :secondary, outline: true
        = button 'Success', state: :success, outline: true
        = button 'Warning', state: :warning, outline: true
        = button 'Danger', state: :danger, outline: true
      - c.code do
        button 'Primary', state: :primary, outline: true
        button 'Secondary', state: :secondary, outline: true
        button 'Success', state: :success, outline: true
        button 'Warning', state: :warning, outline: true
        button 'Danger', state: :danger, outline: true
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Size", tag: :h3 do
    :markdown
      The size can be be defined through the `size` option that has the following two arguments :

      * :lg
      * :sm

    = example do |c|
      - c.header do
        = button 'Large button', state: :primary, size: :lg
        = button 'Medium button', state: :primary
        = button 'Small button', state: :primary, size: :sm
      - c.code do
        button 'Large button', state: :primary, size: :lg
        button 'Medium button', state: :primary
        button 'Small button', state: :primary, size: :sm
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Type", tag: :h3 do
    :markdown
      Buttons can be presented as a block through the `type` option that argument for the symbol `:block`.
    = example do |c|
      - c.header do
        = button 'Block level button', state: :primary, type: :block
        = button 'Block level button', state: :secondary, type: :block
      - c.code do
        button 'Block level button', state: :primary, type: :block
        button 'Block level button', state: :secondary, type: :block
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Status", tag: :h3 do
    :markdown
      The buttons inherits the `status` option, this option is in element [component] (../components/)
      This option lets you disable or enable the element about through these two arguments :

      * :active
      * :disabled

    = example do |c|
      - c.header do
        = button 'Primary', state: :primary, status: :active
        = button 'Primary', state: :primary, status: :disabled
      - c.code do
        button 'Primary', state: :primary, status: :active
        button 'Primary', state: :primary, status: :disabled
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Options and html options" do
    :markdown
      Like the [component] (../ components/), the `bouton` element can be written in two ways :

      * in line
      * in block

    = example do |c|
      - c.header do
        = button 'Success', { state: :success }, { class: 'button' }
        = button({ state: :info }, { class: 'button' }) do
          = 'Info'
      - c.code do
        button 'Primary', { state: :success }, { class: 'button' }
         
        button({ state: :success }, { class: 'button' }) do
          Info
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
