%h1 Buttons
%p Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.

%h2 Contents
= nav class: 'secondary-nav' do |n|
  - n.link 'Button', url: '#button'
  - n.link 'Button options', url: '#button-options'
  - n.nav do |na|
    - na.link 'Outline', url: '#outline'
    - na.link 'Size', url: '#size'
    - na.link 'Type', url: '#type'
    - na.link 'Status', url: '#status'
  - n.link 'Options and html_options', url: '#options-and-html-options'


= section title: "Button" do
  = example do |c|
    - c.header do
      = button 'Primary', state: :primary
      = button 'Secondary', state: :secondary
      = button 'Success', state: :success
      = button 'Warning', state: :warning
      = button 'Danger', state: :danger
      = button 'Link', state: :link
    - c.code do
      button 'Primary', state: :primary
      button 'Secondary', state: :secondary
      button 'Success', state: :success
      button 'Warning', state: :warning
      button 'Danger', state: :danger
      button 'Link', state: :link
    - c.footer do
      = documentation_link 'Documentation', '#'

%h2 Button options

= section title: "Outline", tag: :h3 do
  = example do |c|
    - c.header do
      = button 'Primary', state: :primary, outline: true
      = button 'Secondary', state: :secondary, outline: true
      = button 'Success', state: :success, outline: true
      = button 'Warning', state: :warning, outline: true
      = button 'Danger', state: :danger, outline: true
    - c.code do
      button 'Primary', state: :primary, outline: true
      button 'Secondary', state: :secondary, outline: true
      button 'Success', state: :success, outline: true
      button 'Warning', state: :warning, outline: true
      button 'Danger', state: :danger, outline: true
    - c.footer do
      = documentation_link 'Documentation', '#'

= section title: "Size", tag: :h3 do
  = example do |c|
    - c.header do
      = button 'Large button', state: :primary, size: :lg
      = button 'Medium button', state: :primary
      = button 'Small button', state: :primary, size: :sm
    - c.code do
      button 'Large button', state: :primary, size: :lg
      button 'Medium button', state: :primary
      button 'Small button', state: :primary, size: :sm
    - c.footer do
      = documentation_link 'Documentation', '#'

= section title: "Type", tag: :h3 do
  = example do |c|
    - c.header do
      = button 'Block level button', state: :primary, type: :block
      = button 'Block level button', state: :secondary, type: :block
    - c.code do
      button 'Block level button', state: :primary, type: :block
      button 'Block level button', state: :secondary, type: :block
    - c.footer do
      = documentation_link 'Documentation', '#'

= section title: "Status", tag: :h3 do
  = example do |c|
    - c.header do
      = button 'Primary', state: :primary, status: :active
      = button 'Primary', state: :primary, status: :disabled
    - c.code do
      button 'Primary', state: :primary, status: :active
      button 'Primary', state: :primary, status: :disabled
    - c.footer do
      = documentation_link 'Documentation', '#'

= section title: "Options and html options" do
  = example do |c|
    - c.header do
      = button 'Success', { state: :success }, { class: 'button' }
    - c.code do
      button 'Primary', { state: :success }, { class: 'button' }
    - c.footer do
      = documentation_link 'Documentation', '#'


