:markdown
  # Buttons

  Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.
= extend_of_component 'button'

- @sections = sections do |s|
  - s.section title: "Button" do
    :markdown
      L'option `state` a pour agument les symboles suivants :

      * :primary
      * :secondary
      * :success
      * :warning
      * :danger
      * :link

    = example do |c|
      - c.header do
        = button 'Primary', state: :primary
        = button 'Secondary', state: :secondary
        = button 'Success', state: :success
        = button 'Warning', state: :warning
        = button 'Danger', state: :danger
        = button 'Link', state: :link
      - c.code do
        button 'Primary', state: :primary
        button 'Secondary', state: :secondary
        button 'Success', state: :success
        button 'Warning', state: :warning
        button 'Danger', state: :danger
        button 'Link', state: :link
      - c.footer do
        = documentation_link 'Documentation', '#'

  :markdown
    ##Button options

  - s.section title: "Outline", tag: :h3 do
    :markdown
      Le fond coloré des boutons peut être retiré grâce à l'option `outline` qui possède pour argument un booléan.
    = example do |c|
      - c.header do
        = button 'Primary', state: :primary, outline: true
        = button 'Secondary', state: :secondary, outline: true
        = button 'Success', state: :success, outline: true
        = button 'Warning', state: :warning, outline: true
        = button 'Danger', state: :danger, outline: true
      - c.code do
        button 'Primary', state: :primary, outline: true
        button 'Secondary', state: :secondary, outline: true
        button 'Success', state: :success, outline: true
        button 'Warning', state: :warning, outline: true
        button 'Danger', state: :danger, outline: true
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Size", tag: :h3 do
    :markdown
      La taille peut être être définit â travers l'option `size` qui possède les 2 arguments suivants:

      * :lg
      * :sm

    = example do |c|
      - c.header do
        = button 'Large button', state: :primary, size: :lg
        = button 'Medium button', state: :primary
        = button 'Small button', state: :primary, size: :sm
      - c.code do
        button 'Large button', state: :primary, size: :lg
        button 'Medium button', state: :primary
        button 'Small button', state: :primary, size: :sm
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Type", tag: :h3 do
    :markdown
      Les boutons peuvent être présentés sous forme de block grâce à l'option `type` qui a pour argument le symbole `:block`.
    = example do |c|
      - c.header do
        = button 'Block level button', state: :primary, type: :block
        = button 'Block level button', state: :secondary, type: :block
      - c.code do
        button 'Block level button', state: :primary, type: :block
        button 'Block level button', state: :secondary, type: :block
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Status", tag: :h3 do
    :markdown
      Les boutons hérite de l'option `status` présente dans l'élément [component](../components/)
      Cette option permet de desactiver ou d'activer l'élément concernant à travers ces 2 arguments :

      * :active
      * :disabled

    = example do |c|
      - c.header do
        = button 'Primary', state: :primary, status: :active
        = button 'Primary', state: :primary, status: :disabled
      - c.code do
        button 'Primary', state: :primary, status: :active
        button 'Primary', state: :primary, status: :disabled
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Options and html options" do
    :markdown
      Tout comme le [component](../components/), l'élément `bouton` peut s'écrire de 2 différentes manières:

      * en ligne
      * par block
      
    = example do |c|
      - c.header do
        = button 'Success', { state: :success }, { class: 'button' }
        = button({ state: :info }, { class: 'button' }) do
          = 'Info'
      - c.code do
        button 'Primary', { state: :success }, { class: 'button' }
         
        button({ state: :success }, { class: 'button' }) do
          Info
        end
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
