= title 'Date Picker Field'
%blockquote UiBibz::Ui::Core::Forms::Dates::DatePickerField
%p.bd-callout= based_on link_to "boostrap datepicker", "http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox", target: '_blank'

= code "date_picker_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'multiple', types: 'boolean'
  - co.list 'format', types: 'string'
  - co.list 'days_of_week_disabled', types: %w(integer array)
  - co.list 'today_highlight', types: 'boolean'
  - co.list 'calendar_weeks', types: 'boolean'
  - co.list 'autoclose', types: 'boolean'
  - co.list 'dates_disabled', types: %w(string array)
  - co.list 'range', types: %w(string html)

- @sections = sections do |s|
  - s.section title: "Date Picker Field" do
    = example do |e|
      - e.header do
        = date_picker_field 'search'
      - e.code do
        date_picker_field 'search'
      - e.html do
        <input type="text" name="search" id="search" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field format" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', format: 'dd/mm/yyyy'
      - e.code do
        date_picker_field 'date_at', format: 'dd/mm/yyyy'
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field with glyph" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', append: glyph('calendar'), prepend: glyph('pencil')
      - e.code do
        date_picker_field 'date_at', append: glyph('calendar'), prepend: glyph('pencil')
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field multiple" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', multiple: true
      - e.code do
        date_picker_field 'date_at', multiple: true
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-multidate="true" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field days_of_week_disabled" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', days_of_week_disabled: [1,4]
      - e.code do
        date_picker_field 'date_at', days_of_week_disabled: [1,4]
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-days-of-week-disabled="[1,4]" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  -# s.section title: "Date Picker Field days_of_week_highlighted" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', days_of_week_highlighted: [0,3]
      - e.code do
        date_picker_field 'date_at', days_of_week_highlighted: [0,3]
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-days-of-week-highlighted="[0,3]" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field calendar_weeks" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', calendar_weeks: true
      - e.code do
        date_picker_field 'date_at', calendar_weeks: true
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-calendar-weeks="true" data-date-toggle-active="true" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field today_highlight" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', today_highlight: true
      - e.code do
        date_picker_field 'date_at', today_highlight: true
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-today-highlight="true" data-date-toggle-active="true" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field dates_disabled" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', dates_disabled: [Date.current.to_s,Date.tomorrow.to_s]
      - e.code do
        = "date_picker_field 'date_at', days_of_week_disabled: #{ [Date.current.to_s,Date.tomorrow.to_s]   }".html_safe
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-days-of-week-disabled="[1,4]" class="date_picker form-control">
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field range" do
    = example do |e|
      - e.header do
        = date_picker_field 'range', range: 'to'
      - e.code do
        date_picker_field 'range', range: 'to'
      - e.html do
        <div class="input-group input-daterange">
          <input type="text" name="r" id="r" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control"><span class="input-group-addon input-group-range">to</span>
          <input type="text" name="a" id="a" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control">
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field range with glyph" do
    = example do |e|
      - e.header do
        = date_picker_field 'range', range: glyph('calendar-minus-o'), append: glyph('car'), prepend: glyph('pencil')
      - e.code do
        date_picker_field 'range', range: glyph('calendar-minus-o'), append: glyph('car'), prepend: glyph('pencil')
      - e.html do
        <div class="input-group input-daterange">
          <span class="input-group-addon"><i class="glyph fa fa-car"></i></span>
          <input type="text" name="r" id="r" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control"><span class="input-group-addon input-group-range"><i class="glyph fa fa-calendar-minus-o"></i></span>
          <input type="text" name="a" id="a" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control"><span class="input-group-addon"><i class="glyph fa fa-pencil"></i></span>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "date_picker_field"
    = example do |e|
      - e.header do
        = ui_bibz_form_for(@user) do |f|
          - f.input :updated_at, as: :date_picker_field, append: glyph('calendar')
      - e.code do
        ui_bibz_form_for(@search) do |f|
          ...
          f.input :date, as: :date_picker_field, append: glyph('calendar')
          ...
        end
      - e.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
