= title 'Date Picker Field', logo_name: 'ui bibz', url: "http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox"
%blockquote UiBibz::Ui::Core::Forms::Dates::DatePickerField
%p.bd-callout= based_on link_to "boostrap datepicker", "http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox", target: '_blank', rel: "noopener"

= code "ui_date_picker_field", component_name: "name"

= component_options do |co|
  - co.inherit_options_links except: %i(glyph popover tooltip)
  - co.append_and_prepend_list
  - co.list 'multiple', types: 'boolean'
  - co.list 'format', types: 'string'
  - co.list 'days_of_week_disabled', types: %w(integer array)
  - co.list 'today_highlight', types: 'boolean'
  - co.list 'calendar_weeks', types: 'boolean'
  - co.list 'autoclose', types: 'boolean'
  - co.list 'dates_disabled', types: %w(string array)
  - co.list 'range', types: %w(string html)

- @sections = sections do |s|
  - s.section title: "Date Picker Field" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'search'
      - e.code do
        ui_date_picker_field 'search'
      - e.html do
        <input type="text" name="search" id="search" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control">

  - s.section title: "Format" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', format: 'dd/mm/yyyy'
      - e.code do
        ui_date_picker_field "date_at", format: "dd/mm/yyyy"
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" class="date_picker form-control">

  - s.section title: "Glyph" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', append: ui_glyph('calendar'), prepend: ui_glyph('pencil-alt')
      - e.code do
        ui_date_picker_field "date_at", append: ui_glyph("calendar"), prepend: ui_glyph("pencil-alt")
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control">

  - s.section title: "Multiple" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', multiple: true
      - e.code do
        ui_date_picker_field "date_at", multiple: true
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-multidate="true" class="date_picker form-control">

  - s.section title: "Days of week disabled" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', days_of_week_disabled: [1,4]
      - e.code do
        ui_date_picker_field "date_at", days_of_week_disabled: [1,4]
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-days-of-week-disabled="[1,4]" class="date_picker form-control">

  -# s.section title: "Date Picker Field days_of_week_highlighted" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', days_of_week_highlighted: [0,3]
      - e.code do
        ui_date_picker_field 'date_at', days_of_week_highlighted: [0,3]
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-days-of-week-highlighted="[0,3]" class="date_picker form-control">

  - s.section title: "Calendar weeks" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', calendar_weeks: true
      - e.code do
        ui_date_picker_field "date_at", calendar_weeks: true
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-calendar-weeks="true" data-date-toggle-active="true" class="date_picker form-control">

  - s.section title: "Today highlight" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', today_highlight: true
      - e.code do
        ui_date_picker_field "date_at", today_highlight: true
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-today-highlight="true" data-date-toggle-active="true" class="date_picker form-control">

  - s.section title: "Dates disabled" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', dates_disabled: [Date.current.to_s,Date.tomorrow.to_s]
      - e.code do
        = "ui_date_picker_field \"date_at\", days_of_week_disabled: #{ [Date.current.to_s,Date.tomorrow.to_s]   }".html_safe
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" data-date-toggle-active="true" data-date-days-of-week-disabled="[1,4]" class="date_picker form-control">

  - s.section title: "Field range" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'range', range: 'to'
      - e.code do
        ui_date_picker_field "range", range: 'to'
      - e.html do
        <div class="input-group input-daterange">
          <input type="text" name="r" id="r" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control"><span class="input-group-addon input-group-range">to</span>
          <input type="text" name="a" id="a" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control">
        </div>

  - s.section title: "Status" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', status: :success
      - e.code do
        ui_date_picker_field "date_at", status: :success
      - e.html do
        <div class="input-group has-success input-daterange">
          <input type="text" name="r" id="r" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control"><span class="input-group-addon input-group-range">to</span>
          <input type="text" name="a" id="a" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control">
        </div>

  - s.section title: "Display Mode" do
    %p= "Display mode options (#{ link_to('start view', 'https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox')}):".html_safe
    %ul
      %li days: 0
      %li months: 1
      %li years: 2
      %li decades: 3
      %li centuries: 4

    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', display_mode: :months
      - e.code do
        ui_date_picker_field "date_at", display_mode: :months
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-btn="linked" data-date-toggle-active="true" data-date-start-view="1" class="date_picker form-control">

  - s.section title: "Display Mode min and max" do
    %p= "Display mode min options (#{ link_to('min and max view mode', 'https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox')}):".html_safe
    %ul
      %li days: 0
      %li months: 1
      %li years: 2
      %li decades: 3
      %li centuries: 4

    = example do |e|
      - e.header do
        = ui_date_picker_field 'date_at', display_mode: :months, display_mode_min: :months, display_mode_max: :years
      - e.code do
        ui_date_picker_field "date_at", display_mode: :months, display_mode_min: :months, display_mode_max: :years
      - e.html do
        <input type="text" name="date_at" id="date_at" data-date-locale="en" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-today-btn="linked" data-date-toggle-active="true" data-date-start-view="1" data-date-min-view-mode="1" data-date-max-view-mode="2" class="date_picker form-control">

  - s.section title: "Range with glyph" do
    = example do |e|
      - e.header do
        = ui_date_picker_field 'range', range: ui_glyph('calendar-minus'), append: ui_glyph('car'), prepend: ui_glyph('pencil-alt')
      - e.code do
        ui_date_picker_field "range", range: ui_glyph("calendar-minus"), display_mode: :months, append: ui_glyph("car"), prepend: ui_glyph("pencil-alt")
      - e.html do
        <div class="input-group input-daterange">
          <span class="input-group-addon"><i class="ui_glyph fa fa-car"></i></span>
          <input type="text" name="r" id="r" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control"><span class="input-group-addon input-group-range"><i class="ui_glyph fa fa-calendar-minus"></i></span>
          <input type="text" name="a" id="a" data-date-locale="en" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-btn="linked" class="date_picker form-control"><span class="input-group-addon"><i class="ui_glyph fa fa-pencil-alt"></i></span>
        </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_date_picker_field"
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          - f.input :updated_at, as: :ui_date_picker_field, append: ui_glyph('calendar'), display_mode: :months
      - e.code do
        ui_form_for(@search) do |f|
          ...
          f.input :date, as: :ui_date_picker_field, append: ui_glyph("calendar"), display_mode: :months
          ...
        end

= @sections.render
