= title 'Button link'
%blockquote UiBibz::Ui::Core::Forms::Buttons::ButtonLink
%p.bd-callout A link with button appearance

= code "ui_button_link"

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.state_link
  - co.size_link
  - co.list 'outline', types: 'boolean'
  - co.list 'type', types: 'symbol', values: ':block'

- @sections = sections do |s|
  - s.section title: "Button link" do
    = example do |c|
      - c.header do
        - %w(primary secondary success warning danger link).each do |status|
          = ui_button_link status.titleize, url: "##{ status }", status: status.to_sym
      - c.code do
        - %w(primary secondary success warning danger link).each do |status|
          = "ui_button '#{ status.titleize }', url: '##{ status }', status: :#{status}"
      - c.html do
        <a class="btn-primary btn" href="#primary">Primary</a>
        <a class="btn-secondary btn" href="#secondary">Secondary</a>
        <a class="btn-success btn" href="#success">Success</a>
        <a class="btn-warning btn" href="#warning">Warning</a>
        <a class="btn-danger btn" href="#danger">Danger</a>
        <a class="btn-link btn" href="#link">Link</a>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Outline", tag: :h3 do
    = example do |c|
      - c.header do
        - %w(primary secondary success warning danger link).each do |status|
          = ui_button_link status.titleize, url: "##{ status }", status: status.to_sym, outline: true
      - c.code do
        - %w(primary secondary success warning danger link).each do |status|
          = "ui_button '#{ status.titleize }', url: '##{ status }', status: :#{status}, outline: true"
      - c.html do
        <a class="btn-primary-outline btn" href="#primary">Primary</a>
        <a class="btn-secondary-outline btn" href="#secondary">Secondary</a>
        <a class="btn-success-outline btn" href="#success">Success</a>
        <a class="btn-warning-outline btn" href="#warning">Warning</a>
        <a class="btn-danger-outline btn" href="#danger">Danger</a>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Size", tag: :h3 do
    = example do |c|
      - c.header do
        = ui_button_link 'Large button link', url: 'large-button-link', size: :lg
        = ui_button_link 'Medium button link', url: '#medium-button-link'
        = ui_button_link 'Small button link', url: '#small-button-link', size: :sm
      - c.code do
        ui_button_link 'Large button link', url: '#large-button-link', size: :lg
        ui_button_link 'Medium button link', url: '#medium-button-link'
        ui_button_link 'Small button link', url: '#small-button-link', size: :sm
      - c.html do
        <a class="btn-primary btn btn-lg" href="large-button-link">Large button link</a>
        <a class="btn-primary btn" href="#medium-button-link">Medium button link</a>
        <a class="btn-primary btn btn-sm" href="#small-button-link">Small button link</a>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Type", tag: :h3 do
    = example do |c|
      - c.header do
        = ui_button_link 'Block level button link', url: '#block-level-button-link', status: :primary, type: :block
        = ui_button_link 'Block level button link', url: '#block-level-button-link', status: :secondary, type: :block
      - c.code do
        ui_button_link 'Block level button link', url: '#block-level-button-link', status: :primary, type: :block
        ui_button_link 'Block level button link', url: '#block-level-button-link', status: :secondary, type: :block
      - c.html do
        <a class="btn-primary btn btn-block" href="#block-level-button-link">Block level button link</a>
        <a class="btn-secondary btn btn-block" href="#block-level-button-link">Block level button link</a>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "state", tag: :h3 do
    = example do |c|
      - c.header do
        = ui_button_link 'Primary', url: '#active', state: :active
        = ui_button_link 'Primary', url: '#disabled', state: :disabled
      - c.code do
        ui_button_link 'Primary', url: '#active', state: :active
        ui_button_link 'Primary', url: '#disabled', state: :disabled
      - c.html do
        <a class="active btn-primary btn" href="#active">Primary</a>
        <a class="disabled btn-primary btn" href="#disabled">Primary</a>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Options and html options" do
    = example do |c|
      - c.header do
        = ui_button_link 'Success', { url: '#', status: :success, glyph: 'diamond' }, { class: 'button_link' }
      - c.code do
        ui_button_link 'Primary', { url: '#', status: :success, glyph: 'diamond' }, { class: 'button_link' }
      - c.html do
        <a class="button_link btn-success btn" href="#"><i class="glyph fa fa-diamond"></i> Success</a>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
