= title 'Button'
%blockquote UiBibz::Ui::Core::Forms::Buttons::Button
%p.bd-callout Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.

= code "ui_button"

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.state_link
  - co.size_link
  - co.list 'outline', types: 'boolean'
  - co.list 'type', types: 'symbol', values: ':block'

- @sections = sections do |s|
  - s.section title: "Button" do
    :markdown
      The `status` option for agument the following symbols :

      * :primary
      * :secondary
      * :success
      * :warning
      * :danger
      * :link

    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_button status.to_s.titleize, status: status
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_button '#{ status.to_s.titleize }', status: :#{status}".html_safe
      - c.html do
        <button class="btn-primary btn">Primary</button>
        <button class="btn-secondary btn">Secondary</button>
        <button class="btn-success btn">Success</button>
        <button class="btn-danger btn">Danger</button>
        <button class="btn-warning btn">Warning</button>
        <button class="btn-info btn">Info</button>
        <button class="btn-light btn">Light</button>
        <button class="btn-dark btn">Dark</button>

  - s.section title: "Outline", tag: :h3 do
    :markdown
      The background color of the buttons can be removed through the `outline` option that has for a Boolean argument.
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_button status.to_s.titleize, status: status.to_sym, outline: true
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_button '#{ status.to_s.titleize }', status: :#{status}, outline: true".html_safe
      - c.html do
        <button class="btn-outline-primary btn">Primary</button>
        <button class="btn-outline-secondary btn">Secondary</button>
        <button class="btn-outline-success btn">Success</button>
        <button class="btn-outline-danger btn">Danger</button>
        <button class="btn-outline-warning btn">Warning</button>
        <button class="btn-outline-info btn">Info</button>
        <button class="btn-outline-light btn">Light</button>
        <button class="btn-outline-dark btn">Dark</button>

  - s.section title: "Size", tag: :h3 do
    :markdown
      The size can be be defined through the `size` option that has the following two arguments :

      * :lg
      * :md
      * :sm

    = example do |c|
      - c.header do
        = ui_button 'Large button', status: :primary, size: :lg
        = ui_button 'Medium button', status: :primary, size: :md
        = ui_button 'Small button', status: :primary, size: :sm
      - c.code do
        ui_button 'Large button', status: :primary, size: :lg
        ui_button 'Medium button', status: :primary, size: :md
        ui_button 'Small button', status: :primary, size: :sm
      - c.html do
        <button class="btn-primary btn btn-lg">Large button</button>
        <button class="btn-primary btn">Medium button</button>
        <button class="btn-primary btn btn-sm">Small button</button>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Type", tag: :h3 do
    :markdown
      Buttons can be presented as a block through the `type` option that argument for the symbol `:block`.
    = example do |c|
      - c.header do
        = ui_button 'Block level button', status: :primary, type: :block
        = ui_button 'Block level button', status: :secondary, type: :block
      - c.code do
        ui_button 'Block level button', status: :primary, type: :block
        ui_button 'Block level button', status: :secondary, type: :block
      - c.html do
        <button class="btn-primary btn btn-block">Block level button</button>
        <button class="btn-secondary btn btn-block">Block level button</button>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "state", tag: :h3 do
    :markdown
      The buttons inherits the `state` option, this option is in element [component] (../components/)
      This option lets you disable or enable the element about through these two arguments :

      * :active
      * :disabled

    = example do |c|
      - c.header do
        = ui_button 'Primary', status: :primary, state: :active
        = ui_button 'Primary', status: :primary, state: :disabled
      - c.code do
        ui_button 'Primary', status: :primary, state: :active
        ui_button 'Primary', status: :primary, state: :disabled
      - c.html do
        <button class="active btn-primary btn">Primary</button>
        <button class="disabled btn-primary btn">Primary</button>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Options and html options" do
    :markdown
      Like the [component] (../ components/), the `bouton` element can be written in two ways :

      * in line
      * in block

    = example do |c|
      - c.header do
        = ui_button 'Success', { status: :success }, { class: 'button' }
        = ui_button({ status: :info }, { class: 'button' }) do
          = 'Info'
      - c.code do
        ui_button 'Primary', { status: :success }, { class: 'button' }
         
        ui_button({ status: :success }, { class: 'button' }) do
          Info
        end
      - c.html do
        <button class="button btn-success btn">Success</button>
        <button class="button btn-info btn">Info</button>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
