= title 'Button button'
%blockquote UiBibz::Ui::Core::Forms::Buttons::Buttonbutton
%p.bd-callout Allow use checkbox or radio inputs throught button element.

= code do
  :plain
    ui_button_choice do |bc|
      bc.button content, options, html_options
      # or
      bc.button options, html_options do
        content
      end
    end

= component_options do |co|
  - co.status_link
  - co.size_link
  - co.list 'type', types: 'symbol', values: %w(:radio, :checkbox)
  - co.list 'outline', types: 'boolean'

- @sections = sections do |s|
  - s.section title: "Checkbox buttons" do
    = example do |c|
      - c.header do
        = ui_button_choice do |bc|
          - bc.button 'Checkbox 1'
          - bc.button 'Checkbox 2', state: :active
      - c.code do
        :plain
          ui_button_choice do |bc|
            bc.button 'Checkbox 1', status: :primary
            bc.button 'Checkbox 2', status: :primary, state: :active
          end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-primary btn"><input type="checkbox" autocomplete="off">Checkbox 1</label>
          <label class="active btn-primary btn"><input type="checkbox" autocomplete="off" checked="checked">Checkbox 2</label>
        </div>

  - s.section title: "Button choice blocks" do
    %p Button choice has on block type:
    %ul
      %li= inherit_specific_component_link 'button', components_forms_buttons_button_path

  - s.section title: "Checkbox buttons options" do
    = example do |c|
      - c.header do
        = ui_button_choice size: :sm, outline: true, status: :success do |bc|
          - bc.button 'Checkbox 1'
          - bc.button 'Checkbox 2', state: :active
      - c.code do
        ui_button_choice size: :sm, outline: true do |bc|
          bc.button 'Checkbox 1', status: :primary
          bc.button 'Checkbox 2', status: :primary, state: :active
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-success-outline btn btn-lg"><input type="checkbox" autocomplete="off">Checkbox 1</label>
          <label class="active btn-success-outline btn btn-lg"><input type="checkbox" autocomplete="off" checked="checked">Checkbox 2</label>
        </div>

  - s.section title: "Radio button" do
    = example do |c|
      - c.header do
        = ui_button_choice type: :radio do |bc|
          - bc.button 'Radio 1'
          - bc.button 'Radio 2', state: :active
      - c.code do
        ui_button_choice do |bc|
          - bc.button 'Radio 1', status: :primary
          - bc.button 'Radio 2', status: :primary, state: :active
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-primary btn"><input type="radio" autocomplete="off">Radio 1</label>
          <label class="active btn-primary btn"><input type="radio" autocomplete="off" checked="checked">Radio 2</label>
        </div>


  - s.section title: "Radio buttons options" do
    = example do |c|
      - c.header do
        = ui_button_choice size: :lg, type: :radio, outline: true do |bc|
          - bc.button 'Radio 1', status: :danger, glyph: 'diamond'
          - bc.button 'Radio 2', status: :danger, state: :active
      - c.code do
        ui_button_choice size: :lg, outline: true, type: :radio do |bc|
          bc.button 'Radio 1', status: :danger, glyph: 'diamond'
          bc.button 'Radio 2', status: :danger, state: :active
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-danger-outline btn btn-lg"><input type="radio" autocomplete="off">Radio 1</label>
          <label class="active btn-danger-outline btn btn-lg"><input type="radio" autocomplete="off" checked="checked">Radio 2</label>
        </div>

  - s.section title: "Radio buttons options" do
    = example do |c|
      - c.header do
        = ui_button_choice size: :lg, status: :primary, type: :radio, outline: true do |bc|
          - bc.button 'Radio 1', glyph: 'diamond', state: :active
          - bc.button 'Radio 2', status: :danger
          - bc.button 'Radio 3'
          - bc.button 'Radio 4', status: :danger
      - c.code do
        :plain
          ui_button_choice size: :lg, status: :primary, outline: true, type: :radio do |bc|
            bc.button 'Radio 1', glyph: 'diamond', state: :active
            bc.button 'Radio 2', status: :danger
            bc.button 'Radio 3'
            bc.button 'Radio 4', status: :danger
          end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <label class="btn-danger-outline btn btn-lg"><input type="radio" autocomplete="off">Radio 1</label>
          <label class="active btn-danger-outline btn btn-lg"><input type="radio" autocomplete="off" checked="checked">Radio 2</label>
        </div>

= @sections.render
