= title 'Button link'
%blockquote UiBibz::Ui::Core::Forms::Buttons::ButtonLink
%p.bd-callout A link with button appearance.

= code "ui_button_link"

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.state_link
  - co.size_link
  - co.list 'toggle', types: 'boolean'
  - co.list 'outline', types: 'boolean'
  - co.list 'type', types: 'symbol', values: ':block'

- @sections = sections do |s|
  - s.section title: "Button link" do
    = status_description
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_button_link status.to_s.titleize, url: "##{ status }", status: status
        = ui_button_link 'Link', url: '#link', status: :link
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_button_link '#{ status.to_s.titleize }', url: '##{ status }', status: :#{status}".html_safe
        ui_button_link 'Link', url: '#link', status: :link
      - c.html do
        <a class="btn-primary btn" role="button" href="#primary">Primary</a>
        <a class="btn-secondary btn" role="button" href="#secondary">Secondary</a>
        <a class="btn-success btn" role="button" href="#success">Success</a>
        <a class="btn-danger btn" role="button" href="#danger">Danger</a>
        <a class="btn-warning btn" role="button" href="#warning">Warning</a>
        <a class="btn-info btn" role="button" href="#info">Info</a>
        <a class="btn-light btn" role="button" href="#light">Light</a>
        <a class="btn-dark btn" role="button" href="#dark">Dark</a>
        <a class="btn-link btn" role="button" href="#link">Link</a>

  - s.section title: "Outline", tag: :h3 do
    :markdown
      The background color of the buttons can be removed through the `outline` option that has for a Boolean argument.
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_button_link status.to_s.titleize, url: "##{ status }", status: status, outline: true
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_button_link '#{ status.to_s.titleize }', url: '##{ status }', outline: true, status: :#{status}".html_safe
      - c.html do
        <a class="btn-outline-primary btn" role="button" href="#primary">Primary</a>
        <a class="btn-outline-secondary btn" role="button" href="#secondary">Secondary</a>
        <a class="btn-outline-success btn" role="button" href="#success">Success</a>
        <a class="btn-outline-danger btn" role="button" href="#danger">Danger</a>
        <a class="btn-outline-warning btn" role="button" href="#warning">Warning</a>
        <a class="btn-outline-info btn" role="button" href="#info">Info</a>
        <a class="btn-outline-light btn" role="button" href="#light">Light</a>
        <a class="btn-outline-dark btn" role="button" href="#dark">Dark</a>

  - s.section title: "Size", tag: :h3 do
    = size_description
    = example do |c|
      - c.header do
        = ui_button_link 'Large button link', url: 'large-button-link', size: :lg
        = ui_button_link 'Medium button link', url: '#medium-button-link'
        = ui_button_link 'Small button link', url: '#small-button-link', size: :sm
      - c.code do
        ui_button_link 'Large button link', url: '#large-button-link', size: :lg
        ui_button_link 'Medium button link', url: '#medium-button-link'
        ui_button_link 'Small button link', url: '#small-button-link', size: :sm
      - c.html do
        <a class="btn-primary btn btn-lg" href="large-button-link">Large button link</a>
        <a class="btn-primary btn" href="#medium-button-link">Medium button link</a>
        <a class="btn-primary btn btn-sm" href="#small-button-link">Small button link</a>

  - s.section title: "Type", tag: :h3 do
    = example do |c|
      - c.header do
        = ui_button_link 'Block level button link', url: '#block-level-button-link', status: :primary, type: :block
        = ui_button_link 'Block level button link', url: '#block-level-button-link', status: :secondary, type: :block
      - c.code do
        ui_button_link 'Block level button link', url: '#block-level-button-link', status: :primary, type: :block
        ui_button_link 'Block level button link', url: '#block-level-button-link', status: :secondary, type: :block
      - c.html do
        <a class="btn-primary btn btn-block" href="#block-level-button-link">Block level button link</a>
        <a class="btn-secondary btn btn-block" href="#block-level-button-link">Block level button link</a>

  - s.section title: "state", tag: :h3 do
    :markdown
      The buttons inherits the `state` option, this option is in element [component] (../components/)
      This option lets you disable or enable the element about through these two arguments :

      * :active
      * :disabled
    = example do |c|
      - c.header do
        = ui_button_link 'Primary', url: '#active', state: :active
        = ui_button_link 'Primary', url: '#disabled', state: :disabled
      - c.code do
        ui_button_link 'Primary', url: '#active', state: :active
        ui_button_link 'Primary', url: '#disabled', state: :disabled
      - c.html do
        <a class="active btn-primary btn" href="#active">Primary</a>
        <a class="disabled btn-primary btn" href="#disabled">Primary</a>

  - s.section title: "Options and html options" do
    :markdown
      Like the [component] (../ components/), the `bouton` element can be written in two ways :

      * in line
      * in block
    = example do |c|
      - c.header do
        = ui_button_link 'Primary Active', status: :primary, state: :active
        = ui_button_link 'Toggle Danger', { status: :danger, glyph: :diamond, toggle: true }, { class: 'button' }
        = ui_button_link({ badge: 2 }, { class: 'button' }) do
          = 'Info'
      - c.code do
        ui_button_link 'Primary Active', status: :primary, state: :active
        ui_button_link 'Toggle Danger', { status: :danger, glyph: :diamond, toggle: true }, { class: 'button' }
         
        ui_button_link({ status: :success, badge: 2 }, { class: 'button' }) do
          Info
        end
      - c.html do
        <a class="button_link btn-success btn" href="#"><i class="glyph fa fa-diamond"></i> Success</a>

= @sections.render
