= title 'Button group', url: bootstrap_start_url("components/button-group/")
%blockquote UiBibz::Ui::Core::Forms::Buttons::ButtonGroup
%p.bd-callout Group a series of buttons together on a single line with the button group.

= code do
  :plain
    ui_button_group options, html_options do |bg|
      # by variable
      bg.button content, options, html_options
      # by block
      bg.button options, html_options do
        content
      end
    end

= component_options do |co|
  - co.inherit_options_links except: %i(glyph state)
  - co.list 'position', types: 'symbol', values: %w(:horizontal :vertical), default: ':horizontal'

= component_items do |ci|
  - ci.inherit_component 'button', components_forms_buttons_button_path
  - ci.inherit_component 'button_link', components_forms_buttons_button_link_path
  - ci.inherit_component 'dropdown', components_forms_dropdowns_dropdown_path
  - ci.inherit_component 'input', simple_form_path
  - ci.html_link

- @sections = sections do |s|
  - s.section title: "Button group" do
    = example do |c|
      - c.header do
        = ui_button_group do |bg|
          - bg.button 'Left'
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        :plain
          ui_button_group do |bg|
            bg.button "Left"
            bg.button "Middle"
            bg.button "Right"
          end
      - c.html do
        <div class="btn-group" role="group">
          <button class="btn-primary btn">Left</button>
          <button class="btn-primary btn">Middle</button>
          <button class="btn-primary btn">Right</button>
        </div>


  - s.section title: "Status" do
    = status_description
    = example do |c|
      - c.header do
        = ui_button_group status: :success do |bg|
          - bg.button 'Left'
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        ui_button_group status: :success do |bg|
          bg.button "Left"
          bg.button "Middle"
          bg.button "Right"
        end
      - c.html do
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn-primary btn">Left</button>
          <button class="btn-primary btn">Middle</button>
          <button class="btn-primary btn">Right</button>
        </div>

  - s.section title: "Size" do
    = size_description
    = example do |c|
      - c.header do
        = ui_button_group size: :sm do |bg|
          - bg.button 'Left', state: :active
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        ui_button_group size: :sm do |bg|
          bg.button "Left", state: :active
          bg.button "Middle"
          bg.button "Right"
        end
      - c.html do
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn-primary btn active">Left</button>
          <button class="btn-primary btn">Middle</button>
          <button class="btn-primary btn">Right</button>
        </div>

  - s.section title: "Outline" do
    = example do |c|
      - c.header do
        = ui_button_group outline: true do |bg|
          - bg.button 'Left'
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        ui_button_group outline: true do |bg|
          bg.button "Left"
          bg.button "Middle"
          bg.button "Right"
        end
      - c.html do
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn-outline-secondary btn">Left</button>
          <button class="btn-outline-secondary btn">Middle</button>
          <button class="btn-outline-secondary btn">Right</button>
        </div>

  - s.section title: "Position" do
    = component_list_options do |co|
      - co.list 'position', types: 'symbol', values: %w(:horizontal :vertical), default: ':horizontal'
    = example do |c|
      - c.header do
        = ui_button_group position: :vertical do |bg|
          - bg.button 'Left'
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        ui_button_group position: :vertical do |bg|
          bg.button "Left"
          bg.button "Middle"
          bg.button "Right"
        end
      - c.html do
        <div class="btn-group-vertical" role="group">
          <button class="btn-primary btn">Left</button>
          <button class="btn-primary btn">Middle</button>
          <button class="btn-primary btn">Right</button>
        </div>

  - s.section title: "Nesting" do

    = example do |c|
      - c.header do
        = ui_button_group status: :primary do |bg|
          - bg.button 'Dark', status: :dark
          - bg.button_link 'Link', url: '#button-link'
          - bg.dropdown "Dropdown" do |bd|
            - bd.link "Action", url: '#action'
            - bd.link "Another action", url: '#another-action'
            - bd.divider
            - bd.header 'Header'
            - bd.link "Separate link", url: '#separate-link'
      - c.code do
        ui_button_group status: :primary do |bg|
          bg.button "Dark", status: :dark
          bg.button_link "Link", url: "#button-link"
          bg.dropdown "Dropdown" do |bd|
            bd.link "Action", url: "#action"
            bd.link "Another action", url: "#another-action"
            bd.divider
            bd.header "Header"
            bd.link "Separate link", url: "#separate-link"
          end
        end
      - c.html do
        :plain
          <div class="btn-group" role="group">
            <button class="btn-dark btn">Dark</button>
            <a class="btn-primary btn" role="button" href="#button-link">Link</a>
            <div class="dropdown btn-group">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-left" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#action">Action</a>
                <a class="dropdown-item" href="#another-action">Another action</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header" role="presentation">Header</h6>
                <a class="dropdown-item" href="#separate-link">Separate link</a>
              </div>
            </div>
          </div>

  - s.section title: "Button on toolbar" do
    %p See #{ link_to "the button section", components_navigations_toolbar_path() }

= @sections.render
