= title 'Button group'
%blockquote UiBibz::Ui::Core::Forms::Buttons::ButtonGroup
%p.bd-callout Group a series of buttons together on a single line with the button group.

= code do
  :plain
    ui_button_group options, html_options do |bg|
      bg.button content, options, html_options
      bg.button options, html_options do
        content
      end
    end

= component_options do |co|
  - co.size_link
  - co.list 'position', types: 'symbol', values: %w(:horizontal :vertical)

- @sections = sections do |s|
  - s.section title: "Button group" do
    = example do |c|
      - c.header do
        = ui_button_group do |bg|
          - bg.button 'Left'
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        :plain
          ui_button_group do |bg|
            bg.button 'Left'
            bg.button 'Middle'
            bg.button 'Right'
          end
      - c.html do
        <div class="btn-group" role="group">
          <button class="btn-primary btn">Left</button>
          <button class="btn-primary btn">Middle</button>
          <button class="btn-primary btn">Right</button>
        </div>

  - s.section title: "Nesting" do
    :markdown
      Button group has several block type:

      * [button](#{ components_forms_buttons_button_path })
      * [button_link](#{ components_forms_buttons_button_link_path })
      * [dropdown](#{ components_dropdowns_dropdown_path })
      * [input](#{ components_forms_simple_form_inputs_path }) (Use with simple form)

    = example do |c|
      - c.header do
        = ui_button_group do |bg|
          - bg.button 'Button'
          - bg.button_link 'Button link', url: '#button-link'
          - bg.dropdown "Dropdown" do |bd|
            - bd.link "Action", url: '#action'
            - bd.link "Another action", url: '#another-action'
            - bd.divider
            - bd.header 'Header'
            - bd.link "Separate link", url: '#separate-link'
      - c.code do
        ui_button_group do |bg|
          bg.button 'Button'
          bg.button_link 'Button link', url: '#button-link'
          bg.dropdown "Dropdown" do |bd|
            bd.link "Action", url: '#action'
            bd.link "Another action", url: '#another-action'
            bd.divider
            bd.header 'Header'
            bd.link "Separate link", url: '#separate-link'
          end
        end
      - c.html do
        <div data-toggle="buttons" class="btn-group" role="group">
          <button class="btn-primary btn">Button</button>
          <a class="btn-primary btn" href="#button-link">Button link</a>
          <div class="btn-group dropdown" role="group">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item" href="#action">Action</a>
              <a class="dropdown-item" href="#another-action">Another action</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header" role="presentation">Header</h6>
              <a class="dropdown-item" href="#separate-link">Separate link</a>
            </div>
          </div>
        </div>


  - s.section title: "Size" do
    = component_list_options do |co|
      - co.size_link

    = example do |c|
      - c.header do
        = ui_button_group size: :sm do |bg|
          - bg.button 'Left'
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        ui_button_group size: :sm do |bg|
          bg.button 'Left'
          bg.button 'Middle'
          bg.button 'Right'
        end
      - c.html do
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn-primary btn">Left</button>
          <button class="btn-primary btn">Middle</button>
          <button class="btn-primary btn">Right</button>
        </div>


  - s.section title: "Position" do
    = component_list_options do |co|
      - co.list 'position', types: 'symbol', values: %w(:horizontal :vertical)
    = example do |c|
      - c.header do
        = ui_button_group position: :vertical do |bg|
          - bg.button 'Left'
          - bg.button 'Middle'
          - bg.button 'Right'
      - c.code do
        ui_button_group position: :vertical do |bg|
          bg.button 'Left'
          bg.button 'Middle'
          bg.button 'Right'
        end
      - c.html do
        <div class="btn-group-vertical" role="group">
          <button class="btn-primary btn">Left</button>
          <button class="btn-primary btn">Middle</button>
          <button class="btn-primary btn">Right</button>
        </div>

= @sections.render
