= title 'Star'
%blockquote UiBibz::Ui::Core::Icones::Star
%p.bd-callout Star is a component to displaying stars grade with different sizes and pre-built styles.

= code 'star', component_name: 'number'

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.size_link
  - co.list 'num', types: 'number'

- @sections = sections do |s|
  - s.section title: "Star" do
    = example do |c|
      - c.header do
        = ui_star 2
      - c.code do
        ui_star 2
      - c.html do
        <span class="stars-notation">
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star-o"></i>
          <i class="glyph fa fa-star-o"></i>
          <i class="glyph fa fa-star-o"></i>
        </span>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Size" do
    = size_description
    = example do |c|
      - c.header do
        = ui_star 4, size: 1
        = ui_star 4, size: :md
        = ui_star 4, size: :lg
      - c.code do
        ui_star 4, size: :1
        ui_star 4, size: :md
        ui_star 4, size: :lg
      - c.html do
        <span class="stars-notation">
          <i class="glyph fa fa-star fa-1x"></i>
          <i class="glyph fa fa-star fa-1x"></i>
          <i class="glyph fa fa-star fa-1x"></i>
          <i class="glyph fa fa-star fa-1x"></i>
        <i class="glyph fa fa-star-o fa-1x"></i>
        </span>
        <span class="stars-notation">
          <i class="glyph fa fa-star fa-3x"></i>
          <i class="glyph fa fa-star fa-3x"></i>
          <i class="glyph fa fa-star fa-3x"></i>
          <i class="glyph fa fa-star fa-3x"></i>
        <i class="glyph fa fa-star-o fa-3x"></i>
        </span>
        <span class="stars-notation">
          <i class="glyph fa fa-star fa-5x"></i>
          <i class="glyph fa fa-star fa-5x"></i>
          <i class="glyph fa fa-star fa-5x"></i>
          <i class="glyph fa fa-star fa-5x"></i>
        <i class="glyph fa fa-star-o fa-5x"></i>
        </span>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Status" do
    = example do |c|
      - c.header do
        - %w(secondary danger warning primary success).each_with_index do |status, i|
          = ui_star i , status: status.to_sym
          %br
      - c.code do
        ui_star 0
        ui_star 1, status: :danger
        ui_star 2, status: :warning
        ui_star 3, status: :primary
        ui_star 4, status: :success
      - c.html do
        <span class="stars-notation">
          <i class="glyph-secondary glyph fa fa-star-o"></i>
          <i class="glyph-secondary glyph fa fa-star-o"></i>
          <i class="glyph-secondary glyph fa fa-star-o"></i>
          <i class="glyph-secondary glyph fa fa-star-o"></i>
          <i class="glyph-secondary glyph fa fa-star-o"></i>
        </span>
        <br>
        <span class="stars-notation">
          <i class="glyph-danger glyph fa fa-star"></i>
          <i class="glyph-danger glyph fa fa-star-o"></i>
          <i class="glyph-danger glyph fa fa-star-o"></i>
          <i class="glyph-danger glyph fa fa-star-o"></i>
          <i class="glyph-danger glyph fa fa-star-o"></i>
        </span>
        <br>
        <span class="stars-notation">
          <i class="glyph-warning glyph fa fa-star"></i>
          <i class="glyph-warning glyph fa fa-star"></i>
          <i class="glyph-warning glyph fa fa-star-o"></i>
          <i class="glyph-warning glyph fa fa-star-o"></i>
          <i class="glyph-warning glyph fa fa-star-o"></i>
        </span>
        <br>
        <span class="stars-notation">
          <i class="glyph-primary glyph fa fa-star"></i>
          <i class="glyph-primary glyph fa fa-star"></i>
          <i class="glyph-primary glyph fa fa-star"></i>
          <i class="glyph-primary glyph fa fa-star-o"></i>
          <i class="glyph-primary glyph fa fa-star-o"></i>
        </span>
        <br>
        <span class="stars-notation">
          <i class="glyph-success glyph fa fa-star"></i>
          <i class="glyph-success glyph fa fa-star"></i>
          <i class="glyph-success glyph fa fa-star"></i>
          <i class="glyph-success glyph fa fa-star"></i>
          <i class="glyph-success glyph fa fa-star-o"></i>
        </span>
        <br>
      - c.footer do
        = documentation_link 'Documentation', '#'


  - s.section title: "Float" do
    = example do |c|
      - c.header do
        = ui_star 3.5
      - c.code do
        ui_star 3.5
      - c.html do
        <span class="stars-notation">
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star-half-o"></i>
          <i class="glyph fa fa-star-o"></i>
        </span>
      - c.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Other range" do
    = example do |c|
      - c.header do
        = ui_star 6, num: 8
      - c.code do
        ui_star 6, num: 8
      - c.html do
        <span class="stars-notation">
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star"></i>
          <i class="glyph fa fa-star-o"></i>
          <i class="glyph fa fa-star-o"></i>
        </span>
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
