= container do

  = navbar(state: :danger, title: 'Toto', type: :dark, position: :bottom) do |nb|
    - nb.nav do |n|
      - n.link 'Link 1', url: '#link-1', glyph: 'diamond'
      - n.link 'Link 2', url: '#link-2', glyph: 'diamond'
    -#= nb.form({ url: '/search', type: :form_tag }) do
      -#.form-group
        -#= text_field_tag 'search', nil, { class: 'form-control', placeholder: 'Search' }
      -#= button 'Submit', type: :submit
    - nb.nav({ position: :right }, { class: 'nav2'}) do |n|
      - n.dropdown 'Dropdown' do |d|
        - d.link 'Link 2', { url: '#test', glyph: 'diamond' }
        - d.link(url: '#link-2', status: :active) do
          Link 3
  .bd-example-modal
    = modal do |m|
      - m.header 'My title'
      - m.body 'My body'
      - m.footer do
        = button_link 'Close', url: '#', state: :link
        = button_link 'Save', url: '#', state: :primary


  = etiquette 'label'
  = etiquette 'label 2', state: :success, type: :pill
  = etiquette 'label 2', state: :success, size: :xs

  %br
  %br
  = progress_bar 30

  = progress_bar(state: :info, sr_only: true, type: :animated) do
    = 70

  = progress_bar(tap: true) do |pb|
    - pb.bar 10, { state: :success, sr_only: false, label: 'Loading...' },{ class: 'test' }
    - pb.bar 30, state: :warning
    - pb.bar(type: :striped) do
      = 10

  = notify 'toto', glyph: 'diamond', close: true

  %br
  %br

  = button_group position: :vertical, size: :xs do
    = button 'toto', status: :active
    = button 'momo'
    = button 'lolo'

  = button_group do
    = button 'toto', status: :active
    = button 'momo'
    = button 'lolo'
    = button_dropdown 'Button Dropdown', type: :dropup do |bd|
      - bd.header 'header'
      - bd.link 'momo', url: '#'
      - bd.divider
      - bd.link 'lolo', url: '#'

  %br
  %br

  = dropdown 'Dropdown', state: :success, open: true do |d|
    - d.link(url: "#") do
      = 'toto'
    - d.header 'header'
    - d.link 'momo', url: '#'
    - d.divider
    - d.link 'lolo', url: '#'


  %br
  %br

  = button_split_dropdown 'Dropdown', state: :primary do |d|
    - d.link 'toto', url: '#', glyph: 'diamond'
    - d.header 'header'
    - d.link 'momo', url: '#'
    - d.divider
    - d.link 'lolo', url: '#'



  %br
  %br
  = button_link 'test 1', url: '#', state: :success, outline: true

  %br
  %br
  = button_group do
    = button_choice 'toto', type: :radio
    = button_choice 'tata', type: :radio

  = nav position: :justified do |n|
    - n.link 'toto', { url: '#toto', status: :active, glyph: 'diamond' }
    - n.link 'momo', { url: '#mono' }

  %br
  = nav type: :tabs do |n|
    - n.link 'toto', { url: '#toto', status: :active, glyph: 'diamond' }
    - n.link 'momo', { url: '#mono' }

  %br
  = nav type: :pills do |n|
    - n.link 'toto', url: '#toto', status: :active, glyph: 'diamond'
    - n.link 'momo', url: '#mono', badge: 30
    - n.dropdown('Dropdown', state: :primary) do |d|
      - d.link 'toto', url: '#', glyph: 'diamond'
      - d.header 'header'
      - d.link 'momo', url: '#'
      - d.divider
      - d.link 'lolo', url: '#'

  %br
  %br
  %br
  = breadcrumb do |b|
    - b.link 'toto', url: '#toto', glyph: 'home'
    - b.link 'momo', url: '#momo'
    - b.link 'nono', status: :active

  = list_group type: :link do |lg|
    - lg.list 'Momo', { state: :success, glyph: 'home' }, { href: '#Momo' }
    - lg.list({ tap: true, status: :active }, { href: '#Toto' }) do |l|
      - l.header 'My title'
      - l.body 'My title'

  = list_group do |lg|
    - lg.list 'Momo', glyph: 'home'
    - lg.list 'Toto'

  %h1 Cards

  = card(tap: true) do |c|
    - c.image 'image.svg'
    - c.block do
      %h4.card-title Card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    - c.list_group do |lg|
      - lg.list "Cras justo odio"
      - lg.list "Dapibas ac facilisis in"
      - lg.list "vestibulum at eros"
    - c.block do
      = link_to "Card link", '#', class: "card-link"
      = link_to "Card link", '#', class: "card-link"

  = card(state: :danger, tap: true, class: 'toto') do |p|
    - p.header 'toto', glyph: 'diamond'
    - p.block 'toto'
    - p.footer 'toto'

  = card 'toto', block: true, state: :danger, glyph: 'home', class: 'toto'

  = card block: true, class: 'uei' do
    = "danger"

  = card_group do |cg|
    - cg.card 'Test 1', block: true
    - cg.card 'Test 2', block: true
    - cg.card 'Test 3', block: true

  %br

  = card_deck do |cg|
    - cg.card 'Test 1', block: true
    - cg.card 'Test 2', block: true
    - cg.card 'Test 3', block: true

  %br

  = card_column do |cg|
    - cg.card 'Test 1', block: true
    - cg.card 'Test 2', block: true
    - cg.card 'Test 3', block: true

  %br

  = table_card({ store: @users, tap: true, glyph: 'home' }) do |g|
    - g.columns do |cls|
      - cls.column :id, name: '#'
      - cls.column :name
      - cls.column :email
      - cls.column :company
    - g.actions do |acs|
      - acs.link 'Toto', url: edit_user_path(:id), glyph: 'pencil'
      - acs.divider
      - acs.link 'momo', url: user_path(:id), glyph: 'diamond'

  = table_search_field store: @users
  %br
  = table store: @users, tap: true do |g|
    - g.columns do |cls|
      - cls.column :id, name: '#'
      - cls.column :name
      - cls.column :email
      - cls.column :company
  = table_pagination store: @users
  = table_pagination_per_page store: @users


