= title 'Checkbox Field',  url: bootstrap_start_url("components/forms/#custom-forms")
%blockquote UiBibz::Ui::Core::Forms::Choices::CheckboxField
%p.bd-callout Custom Checkboxes for form.

= code "ui_checkbox_field", component_name: "name"

= component_options do |co|
  - co.state_link
  - co.list 'value', types: %w(boolean string integer)
  - co.list 'label', types: 'string'
  - co.list 'intermediate', types: 'boolean'
  - co.list 'inline', types: 'boolean'
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

- @sections = sections do |s|
  - s.section title: "Checkbox" do
    = example do |e|
      - e.header do
        = ui_checkbox_field :custom_check
      - e.code do
        ui_checkbox_field :custom_check
      - e.html do
        :plain
          <div class="custom-control custom-checkbox">
            <input type="hidden" name="custom_check" id="custom_check-hidden" value="0">
            <input type="checkbox" name="custom_check" id="custom_check" value="1" class="custom-control-input">
            <label class="custom-control-label" for="custom_check">custom_check</label>
          </div>

  - s.section title: "Inline" do
    = example do |e|
      - e.header do
        - 5.times.each do |i|
          = ui_checkbox_field "inline-#{i}", value: "checkbox-#{ i }", inline: true, label: "Checkbox #{ i }", checked: true
      - e.code do
        ui_checkbox_field :checkbox_1, value: 'Checkbox 1', inline: true, checked: true
      - e.html do
        :plain
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="hidden" name="inline-1" id="inline-1-hidden" value="0">
            <input type="checkbox" name="inline-1" id="inline-1" value="checkbox-1" class="custom-control-input" checked="checked">
            <label class="custom-control-label" for="inline-1">Checkbox 1</label>
          </div>

  - s.section title: "State" do
    = example do |e|
      - e.header do
        = ui_checkbox_field :state_1, value: true, state: :disabled, label: 'choice 1'
        = ui_checkbox_field :state_2, value: false, state: :disabled, label: 'choice 2', checked: true
      - e.code do
        ui_checkbox_field :state,  value: true, state: :disabled, label: 'active'
        ui_checkbox_field :state,  value: false, state: :disabled, label: 'disabled', checked: true
      - e.html do
        :plain
          <div class="disabled custom-control custom-checkbox">
            <input type="hidden" name="state_1" id="state_1-hidden" value="0">
            <input type="checkbox" name="state_1" id="state_1" value="true" disabled="disabled" class="custom-control-input">
            <label class="custom-control-label" for="state_1">choice 1</label>
          </div>
          <div class="disabled custom-control custom-checkbox">
            <input type="hidden" name="state_2" id="state_2-hidden" value="0">
            <input type="checkbox" name="state_2" id="state_2" value="1" disabled="disabled" class="custom-control-input" checked="checked">
            <label class="custom-control-label" for="state_2">choice 2</label>
          </div>

  - s.section title: "Label" do
    = example do |e|
      - e.header do
        = ui_checkbox_field :check, label: 'My label'
      - e.code do
        ui_checkbox_field :check, label: 'My label'
      - e.html do
        :plain
          <div class="custom-control custom-checkbox">
            <input type="hidden" name="check" id="check-hidden" value="0">
            <input type="checkbox" name="check" id="check" value="1" class="custom-control-input">
            <label class="custom-control-label" for="check">My label</label>
          </div>

= @sections.render
