= title 'Checkbox Field',  url: bootstrap_start_url("components/forms/#custom-forms")
%blockquote UiBibz::Ui::Core::Forms::Choices::CheckboxField
%p.bd-callout Custom Checkboxes for form.

= code "ui_checkbox_field", component_name: "name"

= component_options do |co|
  - co.inherit_options_links except: %i(size glyph popover tooltip)
  - co.list 'value', types: %w(boolean string integer)
  - co.list 'label', types: %w(string boolean)
  - co.list 'intermediate', types: 'boolean'
  - co.list 'inline', types: 'boolean'
  - co.list "boolean", types: "boolean", description: "If your checkbox is for a boolean"

- @sections = sections do |s|
  - s.section title: "Checkbox" do
    = example do |e|
      - e.header do
        = ui_checkbox_field :custom_check
      - e.code do
        ui_checkbox_field :custom_check
      - e.html do
        :plain
          <div class="custom-control custom-checkbox">
            <input type="hidden" name="custom_check" id="custom_check-hidden" value="0">
            <input type="checkbox" name="custom_check" id="custom_check" value="1" class="custom-control-input">
            <label class="custom-control-label" for="custom_check">custom_check</label>
          </div>

  - s.section title: "Inline" do
    = example do |e|
      - e.header do
        - 5.times.each do |i|
          = ui_checkbox_field "inline-#{i}", value: "checkbox-#{ i }", inline: true, label: "Checkbox #{ i }", checked: true
      - e.code do
        ui_checkbox_field :checkbox_1, value: 'Checkbox 1', inline: true, checked: true
      - e.html do
        :plain
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="hidden" name="inline-1" id="inline-1-hidden" value="0">
            <input type="checkbox" name="inline-1" id="inline-1" value="checkbox-1" class="custom-control-input" checked="checked">
            <label class="custom-control-label" for="inline-1">Checkbox 1</label>
          </div>

  - s.section title: "State" do
    = example do |e|
      - e.header do
        = ui_checkbox_field :state_1, value: true, state: :disabled, label: 'choice 1'
        = ui_checkbox_field :state_2, value: false, state: :disabled, label: 'choice 2', checked: true
      - e.code do
        ui_checkbox_field :state,  value: true, state: :disabled, label: 'active'
        ui_checkbox_field :state,  value: false, state: :disabled, label: 'disabled', checked: true
      - e.html do
        :plain
          <div class="disabled custom-control custom-checkbox">
            <input type="hidden" name="state_1" id="state_1-hidden" value="0">
            <input type="checkbox" name="state_1" id="state_1" value="true" disabled="disabled" class="custom-control-input">
            <label class="custom-control-label" for="state_1">choice 1</label>
          </div>
          <div class="disabled custom-control custom-checkbox">
            <input type="hidden" name="state_2" id="state_2-hidden" value="0">
            <input type="checkbox" name="state_2" id="state_2" value="1" disabled="disabled" class="custom-control-input" checked="checked">
            <label class="custom-control-label" for="state_2">choice 2</label>
          </div>


  - s.section title: "Status" do
    = status_description
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_checkbox_field status, checked: true, inline: true, status: status
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_checkbox_field :#{status}, checked: true, inline: true, status: :#{status}"
      - c.html do
        :plain
          <div class="form-check-input-primary form-check form-check-inline">
            <input type="checkbox" name="primary" id="primary" value="1" class="form-check-input form-check-input-primary" checked="checked">
            <label class="form-check-label" for="primary">primary</label>
          </div>
          <div class="form-check-input-secondary form-check form-check-inline">
            <input type="checkbox" name="secondary" id="secondary" value="1" class="form-check-input form-check-input-secondary" checked="checked">
            <label class="form-check-label" for="secondary">secondary</label>
          </div>
          <div class="form-check-input-success form-check form-check-inline">
            <input type="checkbox" name="success" id="success" value="1" class="form-check-input form-check-input-success" checked="checked">
            <label class="form-check-label" for="success">success</label>
          </div>
          <div class="form-check-input-danger form-check form-check-inline">
            <input type="checkbox" name="danger" id="danger" value="1" class="form-check-input form-check-input-danger" checked="checked">
            <label class="form-check-label" for="danger">danger</label>
          </div>
          <div class="form-check-input-warning form-check form-check-inline">
            <input type="checkbox" name="warning" id="warning" value="1" class="form-check-input form-check-input-warning" checked="checked">
            <label class="form-check-label" for="warning">warning</label>
          </div>
          <div class="form-check-input-info form-check form-check-inline">
            <input type="checkbox" name="info" id="info" value="1" class="form-check-input form-check-input-info" checked="checked">
            <label class="form-check-label" for="info">info</label>
          </div>
          <div class="form-check-input-light form-check form-check-inline">
            <input type="checkbox" name="light" id="light" value="1" class="form-check-input form-check-input-light" checked="checked">
            <label class="form-check-label" for="light">light</label>
          </div>
          <div class="form-check-input-dark form-check form-check-inline">
            <input type="checkbox" name="dark" id="dark" value="1" class="form-check-input form-check-input-dark" checked="checked">
            <label class="form-check-label" for="dark">dark</label>
          </div>

  - s.section title: "Label" do
    = example do |e|
      - e.header do
        = ui_checkbox_field :check, label: 'My label'
      - e.code do
        ui_checkbox_field :check, label: 'My label'
      - e.html do
        :plain
          <div class="custom-control custom-checkbox">
            <input type="hidden" name="check" id="check-hidden" value="0">
            <input type="checkbox" name="check" id="check" value="1" class="custom-control-input">
            <label class="custom-control-label" for="check">My label</label>
          </div>

= @sections.render
