= title 'Radio Fields', true, 'ui bibz'
%blockquote UiBibz::Ui::Core::Forms::Choices::RadioField
%p.bd-callout= based_on link_to "Awesome Bootstrap Checkbox", "https://github.com/flatlogic/awesome-bootstrap-checkbox", target: '_blank'

= code "ui_radio_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'value', types: %w(boolean string integer)
  - co.list 'label', types: 'string'
  - co.list 'inline', types: 'boolean'
  - co.list 'type', types: 'symbol', values: ':square'

- @sections = sections do |s|
  - s.section title: "Status" do
    = example do |e|
      - e.header do
        - UiBibzApp::Application::STATUSES[0..-3].each_with_index do |status, i|
          = ui_radio_field :status, value: status, label: status.to_s, status: status, checked: i == 0
      - e.code do
        - UiBibzApp::Application::STATUSES[0..-3].each_with_index do |status, i|
          = "ui_radio_field :status, value: \"#{ status }\", status: :#{ status }".html_safe
      - e.html do
        <div class="abc-radio-primary radio abc-radio">
          <input type="radio" name="status" id="status_primary" value="primary">
          <label for="status_primary">primary</label>
        </div>

  - s.section title: "Square" do
    = example do |e|
      - e.header do
        - UiBibzApp::Application::STATUSES[0..-3].each_with_index do |status, i|
          = ui_radio_field "status-square", value: status, label: status.to_s, status: status, type: :square, checked: i == 0
      - e.code do
        - UiBibzApp::Application::STATUSES[0..-3].each_with_index do |status, i|
          = "ui_radio_field :status, value: \"#{ status }\", type: square, status: :#{ status }".html_safe
      - e.html do
        <div class="abc-checkbox-success checkbox abc-checkbox">
          <input type="radio" name="status-square" id="status-square_success" value="success">
          <label for="status-square_success">success</label>
        </div>

  - s.section title: "State" do
    = example do |e|
      - e.header do
        = ui_radio_field :state, value: true, state: :disabled, label: 'choice 1'
        = ui_radio_field :state, value: false, state: :disabled, label: 'choice 2', checked: true
      - e.code do
        ui_radio_field :state, value: true, state: :disabled, label: "active"
        ui_radio_field :state, value: false, state: :disabled, label: "disabled", checked: true
      - e.html do
        <div class="disabled abc-radio-default radio abc-radio">
          <input type="radio" name="state" id="state_true" value="true" disabled="disabled">
          <label for="state_true">choice 1</label>
        </div>
        <div class="disabled abc-radio-default radio abc-radio">
          <input type="radio" name="state" id="state_false" value="false" disabled="disabled" checked="checked">
          <label for="state_false">choice 2</label>
        </div>

  - s.section title: "Inline" do
    = example do |e|
      - e.header do
        - UiBibzApp::Application::STATUSES[0..-3].each_with_index do |status, i|
          = ui_radio_field "inline-status", value: status.to_s, inline: true, label: status.to_s, status: status, checked: i == 0
      - e.code do
        - UiBibzApp::Application::STATUSES[0..-3].each_with_index do |status, i|
          = "ui_radio_field :inline_status, value: \"#{ status }\", inline: true, status: :#{ status }".html_safe
      - e.html do
        <div class="abc-radio-primary radio abc-radio radio-inline">
          <input type="radio" name="inline-status" id="inline-status_primary" value="primary" checked="checked">
          <label for="inline-status_primary">primary</label>
        </div>

= @sections.render
