= title 'Radio Fields', url: bootstrap_start_url("components/buttons/#checkbox-and-radio-buttons")
%blockquote UiBibz::Ui::Core::Forms::Choices::RadioField
%p.bd-callout Custom Radio Buttons for form.

= code "ui_radio_field", component_name: "name"

= component_options do |co|
  - co.inherit_options_links except: %i(size glyph popover tooltip)
  - co.list 'value', types: %w(boolean string integer)
  - co.list 'label', types: 'string'
  - co.list 'inline', types: 'boolean'
  - co.list "wrapper_html", types: "hash", description: "Html options for the wrapper"
  - co.list "label_html", types: "hash", description: "Html options for the label"

- @sections = sections do |s|
  - s.section title: "Radio" do
    = example do |e|
      - e.header do
        = ui_radio_field :custom_radio
      - e.code do
        ui_radio_field :custom_radio
      - e.html do
        :plain
          <div class="form-check">
            <input type="radio" name="custom_radio" id="custom_radio_" class="form-check-input">
            <label class="form-check-label" for="custom_radio_">custom_radio</label>
          </div>

  - s.section title: "Inline" do
    = example do |e|
      - e.header do
        - 5.times.each do |i|
          = ui_radio_field "inline-radio", value: "radio-#{ i }", inline: true, label: "Radio #{ i }", checked: i == 0
      - e.code do
        ui_radio_field "inline-radio", value: 'Radio 1', inline: true
      - e.html do
        :plain
          <div class="form-check form-check-inline">
            <input type="radio" name="inline-radio" id="inline-radio_radio-0" value="radio-0" class="form-check-input" checked="checked">
            <label class="form-check-label" for="inline-radio_radio-0">Radio 0</label>
          </div>

  - s.section title: "State" do
    = example do |e|
      - e.header do
        = ui_radio_field :state, value: true, state: :disabled, label: 'choice 1'
        = ui_radio_field :state, value: false, state: :disabled, label: 'choice 2', checked: true
      - e.code do
        ui_radio_field :state, value: true, state: :disabled, label: "active"
        ui_radio_field :state, value: false, state: :disabled, label: "disabled", checked: true
      - e.html do
        :plain
          <div class="disabled form-check">
            <input type="radio" name="state" id="state_true" value="true" disabled="disabled" class="form-check-input">
            <label class="form-check-label" for="state_true">choice 1</label>
          </div>
          <div class="disabled form-check">
            <input type="radio" name="state" id="state_false" value="false" disabled="disabled" class="form-check-input" checked="checked">
            <label class="form-check-label" for="state_false">choice 2</label>
          </div>

  - s.section title: "Status" do
    = status_description
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_radio_field status, checked: true, inline: true, status: status
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_radio_field :#{status}, checked: true, inline: true, status: :#{status}"
      - c.html do
        :plain
          <div class="form-check-input-primary form-check form-check-inline">
            <input type="radio" name="primary" id="primary_" class="form-check-input form-check-input-primary" checked="checked">
            <label class="form-check-label" for="primary_">primary</label>
          </div>
          <div class="form-check-input-secondary form-check form-check-inline">
            <input type="radio" name="secondary" id="secondary_" class="form-check-input form-check-input-secondary" checked="checked">
            <label class="form-check-label" for="secondary_">secondary</label>
          </div>
          <div class="form-check-input-success form-check form-check-inline">
            <input type="radio" name="success" id="success_" class="form-check-input form-check-input-success" checked="checked">
            <label class="form-check-label" for="success_">success</label>
          </div>
          <div class="form-check-input-danger form-check form-check-inline">
            <input type="radio" name="danger" id="danger_" class="form-check-input form-check-input-danger" checked="checked">
            <label class="form-check-label" for="danger_">danger</label>
          </div>
          <div class="form-check-input-warning form-check form-check-inline">
            <input type="radio" name="warning" id="warning_" class="form-check-input form-check-input-warning" checked="checked">
            <label class="form-check-label" for="warning_">warning</label>
          </div>
          <div class="form-check-input-info form-check form-check-inline">
            <input type="radio" name="info" id="info_" class="form-check-input form-check-input-info" checked="checked">
            <label class="form-check-label" for="info_">info</label>
          </div>
          <div class="form-check-input-light form-check form-check-inline">
            <input type="radio" name="light" id="light_" class="form-check-input form-check-input-light" checked="checked">
            <label class="form-check-label" for="light_">light</label>
          </div>
          <div class="form-check-input-dark form-check form-check-inline">
            <input type="radio" name="dark" id="dark_" class="form-check-input form-check-input-dark" checked="checked">
            <label class="form-check-label" for="dark_">dark</label>
          </div>

  - s.section title: "Label" do
    = example do |e|
      - e.header do
        = ui_radio_field :radio, label: 'My label'
      - e.code do
        ui_radio_field :radio, label: 'My label'
      - e.html do
        :plain
          <div class="form-check">
            <input type="radio" name="radio" id="radio_" class="form-check-input">
            <label class="form-check-label" for="radio_">My label</label>
          </div>

  - s.section title: "Wrapper_html & Label_html" do
    = example do |e|
      - e.header do
        = ui_radio_field :radio, wrapper_html: { title: 'My title'}, label_html: { class: 'test' }
      - e.code do
        ui_radio_field :radio, wrapper_html: { title: 'My title'}, label_html: { class: 'test' }
      - e.html do
        :plain
          <div title="My title" class="form-check">
            <input type="radio" name="radio" id="radio_" class="form-check-input">
            <label class="form-check-label test" for="check">check</label>
          </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_radio_field"
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          = f.input :name, as: :ui_radio_field, label: "Radio 1", input_html: { checked: true, id: 'radio_1' }
          = f.input :name, as: :ui_radio_field, label: "Radio 2", input_html: { id: 'radio_2' }
      - e.code do
        :plain
          ui_bibz_form_for(@user) do |f|
            ...
            f.input :name, as: :ui_radio_field, label: "Radio 1", input_html: { checked: true, id: 'radio_1' }
            f.input :name, as: :ui_radio_field, label: "Radio 2", input_html: { id: 'radio_2' }
            ...
          end

= @sections.render
