= title 'Switch Field', display_ui: true, logo_name: 'ui bibz', url: bootstrap_start_url("components/forms/#switches")
%blockquote UiBibz::Ui::Core::Forms::Choices::SwitchField
%p.bd-callout A switch has the markup of a custom checkbox but uses the .custom-switch class to render a toggle switch.

= code "ui_switch_field", component_name: "name"

= component_options do |co|
  - co.inherit_options_links except: %i(size glyph status popover tooltip)
  - co.list 'inline', types: 'boolean'
  - co.list 'checked', types: 'boolean'

= component_html_options do |cho|
  - cho.list 'readonly', types: 'boolean'
  - cho.list 'checked', types: 'boolean'

- @sections = sections do |s|
  - s.section title: "Switch Field" do
    = example do |e|
      - e.header do
        = ui_switch_field 'example_basic'
      - e.code do
        ui_switch_field 'example_basic'
      - e.html do
        :plain
          <div class="custom-control custom-switch">
            <input type="hidden" name="example_basic" id="example_basic-hidden" value="0">
            <input type="checkbox" name="example_basic" id="example_basic" value="1" class="custom-control-input">
            <label class="custom-control-label" for="example_basic">example_basic</label>
          </div>


  - s.section title: "Inline" do
    = example do |e|
      - e.header do
        = ui_switch_field 'example_inline', inline: true
        = ui_switch_field 'example_inline_2', inline: true, checked: true
      - e.code do
        ui_switch_field "example_inline", inline: true
        ui_switch_field "example_inline_2", inline: true, checked: true
      - e.html do
        :plain
          <div class="custom-control custom-switch custom-control-inline">
            <input type="hidden" name="example_inline" id="example_inline-hidden" value="0">
            <input type="checkbox" name="example_inline" id="example_inline" value="1" class="custom-control-input">
            <label class="custom-control-label" for="example_inline">example_inline</label>
          </div>
          <div class="custom-control custom-switch custom-control-inline">
            <input type="hidden" name="example_inline_2" id="example_inline_2-hidden" value="0">
            <input type="checkbox" name="example_inline_2" id="example_inline_2" value="1" class="custom-control-input" checked="checked">
            <label class="custom-control-label" for="example_inline_2">example_inline_2</label>
          </div>

  - s.section title: "State" do
    = example do |e|
      - e.header do
        = ui_switch_field 'example_state', state: :active
        = ui_switch_field 'example_state_2', state: :disabled
      - e.code do
        ui_switch_field "example_state", state: :active
        ui_switch_field "example_state_2", state: :disabled
      - e.html do
        :plain
          <div class="active custom-control custom-switch">
            <input type="hidden" name="example_state" id="example_state-hidden" value="0">
            <input type="checkbox" name="example_state" id="example_state" value="1" class="custom-control-input">
            <label class="custom-control-label" for="example_state">example_state</label>
          </div>
          <div class="disabled custom-control custom-switch">
            <input type="hidden" name="example_state_2" id="example_state_2-hidden" value="0">
            <input type="checkbox" name="example_state_2" id="example_state_2" value="1" disabled="disabled" class="custom-control-input">
            <label class="custom-control-label" for="example_state_2">example_state_2</label>
          </div>


  - s.section title: "Checked" do
    = example do |e|
      - e.header do
        = ui_switch_field 'example_checked', checked: true
      - e.code do
        ui_switch_field "example_checked", checked: true
      - e.html do
        :plain
          <div class="custom-control custom-switch"><input type="hidden" name="example_checked" id="example_checked-hidden" value="0">
            <input type="checkbox" name="example_checked" id="example_checked" value="1" class="custom-control-input" checked="checked">
            <label class="custom-control-label" for="example_checked">example_checked</label>
          </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_switch_field"
    = example do |e|
      - e.header do
        - @user.active = true
        = ui_form_for(@user) do |f|
          = f.input :active, as: :ui_switch_field
      - e.code do
        ui_bibz_form_for(@user) do |f|
          ...
          f.input :active, as: :ui_switch_field
          ...
        end

= @sections.render
