= col num: 8  do
  %h1 Getting Started
  %h2 Install

  %p Add these lines in your Gemfile:

  = card class: 'highlight code code-index' do
    %pre.codehilite
      %code
        %span
          :plain
            source 'https://rubygems.org'

            ...
            gem "ui_bibz", '~> #{ @ui_bibz.version }'
            ...

  %p Run this command:
  = card class: 'highlight code code-index' do
    %pre.codehilite
      %code
        %span
          :plain
            bundle install

  %h2 Assets Install

  %p Put this line in: <code>/app/assets/stylesheets/applications.css</code>
  = card class: 'highlight code code-index' do
    %pre.codehilite
      %code
        %span
          :plain
            *= require ui_bibz

  %p Put this line in: <code>/app/assets/javascripts/applications.js</code>
  = card class: 'highlight code code-index' do
    %pre.codehilite
      %code
        %span
          :plain
            //= require ui_bibz

  <em>Ps: You can use sass variables into Boostrap.</em>

= col num: 4 do
  %div
    :markdown

      ##Compatibility

      Gem is compatible with [**Ruby**](https://www.ruby-lang.org/ "Ruby") version 2.x.x and [**Ruby On Rails**](http://rubyonrails.org/ "Rails") 4.2.x and 5.x.x.

  %div
    :markdown

      ##Simple form

      Gem is compatible with  [simple_form](https://github.com/plataformatec/simple_form).
      All inputs fields can be used with **simple_form**.
