= ui_row do
  = ui_col md: { num: 8 }, sm: { num: 12 }  do
    = title 'Getting Started ', display_ui: false
    %h2 Install

    Add these lines in your Gemfile:
    = example do |c|
      - c.code title: 'Code' do
        :plain
          # Gemfile
          gem "ui_bibz"
    Run command:
    = example  do |c|
      - c.code title: 'Terminal' do
        :plain
          bundle install
          yarn add ui-bibz-js

    %h2 Assets with webpack

    Put this line in: <code>app/javascript/packs/applications.js</code>
    = example  do |c|
      - c.code title: 'Code' do
        :plain
          # app/javascript/packs/applications.js
          ...
          require("ui-bibz-js").start()
          ...


      - c.code title: 'Code' do
        :plain
          # app/javascript/stylesheets/application.sass
          ...
          @import "~ui-bibz-js/sass/ui-bibz"
          ...

  = ui_col md: { num: 4 }, sm: { num: 12 } do
    %div
      :markdown

        ##Compatibility

        Gem is compatible with [**Ruby**](https://www.ruby-lang.org/ "Ruby") version 2.x.x and [**Ruby On Rails**](http://rubyonrails.org/ "Rails") 6.x.x.

    %div
      :markdown

        ##Simple form

        Gem is compatible with [simple_form](#{ simple_form_path }).
        All inputs fields can be used with this [gem](https://github.com/plataformatec/simple_form).
