.pageheader-white
  = ui_container do
    = ui_row do
      = ui_col md: 2, sm: 12 do
        = image_tag 'ui-bibz-logo.png', alt: "Ui Bibz logo", class: "img-fluid", title: "Ui Bibz"
      = ui_col md: 8, sm: 12 do
        %h1 Build your own interface without writting HTML, CSS or Javascript.
        %p
          Design through many components your own web interface thanks to Ui Bibz.
          %br
          <strong>Ui Bibz</strong> is based on <strong>Bootstrap v#{ UiBibzApp::Application::BOOTSTRAP_VERSION }</strong> and <strong>Ruby on Rails 6.x.x</strong>.
          %br
          No need to write html or update your code anymore.

        = ui_button_link "Get Started", url: getting_started_path, status: :primary
        = ui_button_link "Docs", outline: true, url: components_boxes_card_path
        %br
        %small
          %em.text-muted Currently <strong>v#{ UiBibzApp::Application::VERSION }</strong>.
        %br
        %br
      = ui_col 12 do
        = ui_card_grid num: 1, sm: { num: 1 }, md: { num: 3}, gutters: 4 do |cg|
          - cg.card do |c|
            - c.row gutters: 0 do |r|
              - r.col num: 1, class: "bg-primary text-white"
              - r.col num: 11 do |col|
                - col.body do
                  %h2 Ruby on Rails
                  A Ruby on Rails gem to facilitate the integration of your own interface.
                  Compatible with Simple Form and Will Paginate.
          - cg.card do |c|
            - c.row gutters: 0 do |r|
              - r.col num: 1, class: "bg-primary text-white"
              - r.col num: 11 do |col|
                - col.body do
                  %h2 Bootstrap
                  Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit.
          - cg.card do |c|
            - c.row gutters: 0 do |r|
              - r.col num: 1, class: "bg-primary text-white"
              - r.col num: 11 do |col|
                - col.body do
                  %h2 Font Awesome
                  Get vector icons and social logos on your website with Font Awesome, the web's most popular icon set and toolkit.
        %br
        %br
