.pageheader-blue
  = ui_container do
    //= image_tag 'ui-bibz-logo-without-border.png'
    = image_tag 'ui-bibz-logo.png', class: 'logo'
    %br
    //= image_tag 'ruby-white.png', width: 50, class: 'icon'
    %h1
      = image_tag 'http://data.bloggif.com/distant/user/store/1/0/a/0/0d998a1a4600b113847fca3f0d0e0a01.png', alt: "Ui Bibz"
      = "#{ UiBibzApp::Application::NAME } v#{ UiBibzApp::Application::VERSION }"
    %p.description
      #{ UiBibzApp::Application::DESCRIPTION }
      <br/>
      #{ UiBibzApp::Application::SUMMARY }
    = ui_button_link "Get #{ UiBibzApp::Application::NAME }", url: getting_started_path, status: :light, outline: true
    %p
      %span.littlemsg For Bootstrap and Ruby lovers
.pageheader-white
  = ui_container do
    %h3.slogan Code less, do more, code better
    %br
    = ui_row class: 'columns-white' do
      = ui_col num: 4 do
        = image_tag "https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg", alt: "Ruby On Rails", class: "logo-rails", title: "Ruby On Rails"
        %br
        Ruby on Rails...is both revolutionary as a language as well as a framework
      = ui_col num: 4 do
        = image_tag 'ui-bibz-logo.png', alt: "Ui-Bibz", class: "loco-uibibz", title: "ui bibz"
        %br
        Ui Bibz easily to understand, respect the logic of ruby development to allow quick to use bootstrap components without HTML.
      = ui_col num: 4 do
        = image_tag "https://sdz-upload.s3.amazonaws.com/prod/upload/bootstrap_responsive.jpeg", alt: "Bootstrap", class: "logo-bootstrap", title: "Bootstrap"
        %br
        One framework, every device
    %hr.little-hr
    = ui_button_link 'View GitHub Project', url: 'https://github.com/thooams/Ui-Bibz', status: :primary
    %p
      %span.littlemsg Ui Bibz Open Source Project available on GitHub
