- image = 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22241%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20241%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f6c72b839%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f6c72b839%22%3E%3Crect%20width%3D%22241%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2289.765625%22%20y%3D%2294.2%22%3E241x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'

%h1 Bootstrap Theme


%h2 Boxes
%h3 Jumbotron
= ui_jumbotron do
  %h1 Bootstrap #{ UiBibzApp::Application::BOOTSTRAP_VERSION } elements page example template
  %p A quick preview of everything Bootstrap has to offer.
  = ui_button_link "See Boostrap 4!" , { url: "https://getbootstrap.com/" }, { target: '_blank' }

%h2 Notifications
%h3 Alerts
= ui_row do
  = ui_col num: 12 do
    = ui_alert status: :success, glyph: 'thumbs-o-up', closable: true, tap: true do |a|
      - a.header 'Well done!'
      - a.body "Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content."
  - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
    - if i%4
      = ui_col num: 3 do
        = ui_alert "This is a #{ status.to_s } alert", status: status
    - else
      = ui_alert "This is a #{ status.to_s } alert", status: status

%h3 Badges
= ui_row do
  = ui_col do
    - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
      = ui_badge status.to_s.titleize, status: status, glyph: 'diamond'
  = ui_col do
    - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
      = ui_badge status.to_s.titleize, status: status, type: :pill, glyph: 'diamond'

%h3 Progress bars

%h2 Navs
//= ui_breadcrumb store: User.all.limit(1), link_label: :email, link_url: "#/id/edit"
= ui_row do
  = ui_col do
    %h3 Breadcrumbs
    = ui_breadcrumb do |b|
      - b.link 'Home', glyph: 'home'
    = ui_breadcrumb do |b|
      - b.link 'Home', glyph: 'home'
      - b.link 'Library', url: '#library'
    = ui_breadcrumb do |b|
      - b.link 'Home', glyph: 'home'
      - b.link 'Library', url: '#library'
      - b.link 'Data', url: '#data'
  = ui_col do
    %h3 Pagination
    = ui_table_pagination store: @users


= ui_card_column do |cc|


  // Breadcrumb component
  - cc.card tap: true do |c|
    - c.header "Breadcrumbs"
    - c.body do
      = ui_breadcrumb store: User.all.limit(3), link_label: :email, link_url: "#/id/edit"

  // ui_button component
  - cc.card tap: true do |c|
    - c.header "Buttons"
    - c.body do
      - UiBibzApp::Application::STATUSES.each do |status|
        = ui_button status.to_s.titleize, status: status, ui_glyph: 'diamond'
    - c.body do
      - UiBibzApp::Application::STATUSES.each do |status|
        = ui_button status.to_s.titleize, status: status, outline: true, ui_glyph: 'diamond'
    - c.body do
      - UiBibzApp::Application::SIZES.each do |size|
        = ui_button "Button #{ size }", status: :primary, size: size
    - c.body do
      = ui_button 'Block level ui_button', status: :primary, type: :block
      = ui_button 'Block level ui_button', status: :secondary, type: :block
    - c.body do
      = ui_button 'Primary', status: :primary, state: :active
      = ui_button 'Primary', status: :primary, state: :disabled
    - c.footer see_component components_forms_buttons_button_path



  // ui_button component
  - cc.card tap: true do |c|
    - c.header "Buttons Choice"
    - c.body do
      = ui_button_choice do |bc|
        - bc.button 'Checkbox 1', status: :primary, state: :active
        - bc.button 'Checkbox 2', status: :primary
    - c.body do
      = ui_button_group do |bc|
        - bc.button 'Radio 1', type: :radio, status: :success, state: :active
        - bc.button 'Radio 2', type: :radio, status: :success
    - c.body do
      = ui_button_group do |bc|
        - bc.button 'Radio 1', type: :radio, size: :lg, outline: true, status: :danger, state: :active
        - bc.button 'Radio 2', type: :radio, size: :lg, outline: true, status: :danger
    - c.footer see_component components_forms_buttons_button_choice_path

  // Dropdown component
  - cc.card tap: true do |c|
    - c.header "Dropdowns"
    - c.body do
      - %w(primary secondary success warning danger info).each do |s|
        = ui_dropdown s.titleize, glyph: 'diamond', inline: true, status: s.to_sym do |d|
          - d.link "Action", url: '#action', ui_glyph: 'diamond'
          - d.link "Another action", url: '#another-action'
          - d.divider
          - d.header 'Header'
          - d.html "     Normal Text"
          - d.link "Separate link", url: '#separate-link'
    - c.body do
      = ui_dropdown "Dropdown Right", size: :lg, position: :right, status: :success do |d|
        - d.link "Action", url: '#action', glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
      = ui_dropdown "Dropdown Up", size: :sm, type: :dropup, status: :danger do |d|
        - d.link "Action", url: '#action', glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
    - c.footer see_component components_dropdowns_dropdown_path

  // ui_button Group component
  - cc.card tap: true do |c|
    - c.header "Buttons Group"
    - c.body do
      = ui_button_group do
        = ui_button 'Button'
        = ui_button_link 'Button link', url: '#button-link'
        = ui_dropdown "Dropdown" do |bd|
          - bd.link "Action", url: '#action'
          - bd.link "Another action", url: '#another-action'
          - bd.divider
          - bd.header 'Header'
          - bd.link "Separate link", url: '#separate-link'
    - c.body do
      = ui_button_group size: :sm do
        = ui_button 'Left', outline: true
        = ui_button 'Middle', outline: true
        = ui_button 'Right', outline: true
    - c.body do
      = ui_button_group position: :vertical do
        = ui_button 'Left'
        = ui_button 'Middle'
        = ui_button 'Right'
    - c.footer see_component components_forms_buttons_button_group_path

  // ui_button link component
  - cc.card tap: true do |c|
    - c.header "Buttons link"
    - c.body do
      - UiBibzApp::Application::STATUSES.each do |status|
        = ui_button_link status.to_s.titleize, url: "##{ status }", status: status, glyph: 'diamond'
    - c.body do
      - UiBibzApp::Application::STATUSES.each do |status|
        = ui_button_link status.to_s.titleize, url: "##{ status }", status: status.to_sym, outline: true, glyph: 'diamond'
    - c.body do
      - UiBibzApp::Application::SIZES.each do |size|
        = ui_button "Button #{ size }", url: "##{ size }", status: :primary, size: size.to_sym
    - c.body do
      = ui_button 'Block level ui_button', url: '#', status: :primary, type: :block
      = ui_button 'Block level ui_button', url: '#', status: :secondary, type: :block
    - c.body do
      = ui_button 'Primary', url: '#active', status: :primary, state: :active
      = ui_button 'Primary', url: '#disabled', status: :primary, state: :disabled
    - c.footer see_component components_forms_buttons_button_link_path

  // ui_button split dropdown component
  - cc.card tap: true do |c|
    - c.header "Split Dropdowns"
    - c.body do
      - %w(primary secondary success warning danger info).each do |s|
        = ui_split_dropdown s.titleize, ui_glyph: 'diamond', status: s.to_sym do |d|
          - d.link "Action", url: '#action', ui_glyph: 'diamond'
          - d.link "Another action", url: '#another-action'
          - d.divider
          - d.header 'Header'
          - d.html "     Normal Text"
          - d.link "Separate link", url: '#separate-link'
    - c.body do
      = ui_split_dropdown "Split Dropdown Right", size: :lg, position: :right, status: :success do |d|
        - d.link "Action", url: '#action', ui_glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
      = ui_split_dropdown "Split Dropdown Up", size: :sm, type: :dropup, status: :danger do |d|
        - d.link "Action", url: '#action', ui_glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
    - c.footer see_component components_dropdowns_split_dropdown_path

  // ui_glyph component
  - cc.card tap: true do |c|
    - c.header "Glyphs"
    - c.body do
      - %w(primary secondary success warning danger info).each do |s|
        = ui_glyph 'diamond', status: s.to_sym
    - c.body do
      - 4.times do |i|
        = ui_glyph 'diamond', size: i
    - c.body do
      = ui_glyph 'square', stack: 2
      = ui_glyph 'diamond', stack: 1, status: :danger
    - c.body do
      = ui_glyph 'diamond', rotate: 90
      = ui_glyph 'diamond', rotate: 180
      = ui_glyph 'diamond', rotate: 270
    - c.footer see_component components_glyph_path


  // ui_badge component
  - cc.card tap: true do |c|
    - c.header "Badges"
    - c.body do
      - %w(primary default success warning danger info).each do |s|
        = ui_badge s.titleize, status: s.to_sym
    - c.body do
      - %w(primary default success warning danger info).each do |s|
        = ui_badge s.titleize, ui_glyph: 'diamond', status: s.to_sym, type: :pill
    - c.footer see_component components_badge_path

  // List group component
  - cc.card tap: true do |c|
    - c.header "Lists group"
    - c.body do
      = ui_list_group do |lg|
        - lg.list 'Cras justo odio', badge: 14
        - lg.list 'Dapibus ac facilisis in', ui_glyph: 'diamond'
        - lg.list 'Morbi leo risus', state: :active
        - lg.list 'Porta ac consectetur ac', state: :disabled
        - lg.list 'Vestibulum at eros', status: :success
      %br
      = ui_list_group  do |lg|
        - lg.list tap: true, state: :active do |l|
          - l.header 'List group item heading'
          - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
        - lg.list tap: true do |l|
          - l.header class: 'my-header' do
            = 'List group item heading'
          - l.body class: 'my-body' do
            = 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
        - lg.list tap: true do |l|
          - l.header 'List group item heading'
          - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
    - c.footer see_component components_list_group_path

  // Modal component
  - cc.card tap: true do |c|
    - c.header "Modals"
    - c.body do
      = ui_modal class: 'modal-example' do |m|
        - m.header 'Modal title'
        - m.body 'One fine body'
        - m.footer do
          = ui_button 'Close', status: :secondary
          = ui_button 'Save changes'
      = ui_modal class: 'modal-example', size: :sm do |m|
        - m.header do
          = 'Modal title'
        - m.body do
          = 'One fine body'
      = ui_button_link 'click here to open modal', { url: '#' }, { data: { toggle: 'modal', target: '#modal-test' }}
      = ui_modal({ effect: :fade }, { id: 'modal-test' }) do |m|
        - m.header do
          = 'Modal title'
        - m.body do
          = 'One fine body'
    - c.footer see_component components_windows_modal_path

  // Nav component
  - cc.card tap: true do |c|
    - c.header "Navs"
    - c.body do
      = ui_nav do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.link url: '#link', class: 'my-link' do
          Link
        - n.nav do |na|
          - na.link 'Another link', url: '#another-link'
          - na.link 'Disabled', url: '#disabled', state: :disabled
        - n.link 'Another link 2', url: '#another-link2'
        - n.link 'Another link 3', url: '#another-link3'

    - c.body do
      = ui_nav type: :links do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.link url: '#link', class: 'my-link' do
          Link
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled

    - c.body do
      = ui_nav type: :tabs do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.dropdown 'Dropdown' do |d|
          - d.link "Action 1", url: '#action'
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled
    - c.body do
      = ui_nav type: :pills do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.dropdown 'Dropdown' do |d|
          - d.link "Action 1", url: '#action'
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled
    - c.body do
      = ui_nav type: :pills, stacked: true do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.link 'Link', url: '#link'
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled
    - c.body do
      = ui_nav type: :tabs do |n|
        - n.link 'Active', url: '#content1', state: :active
        - n.link 'Link', url: '#content2'
        - n.link 'Another link', url: '#content3'
        - n.link 'Disabled', url: '#content4', state: :disabled
      %br
      .tab-content
        = ui_card 'Content 1', { tab: true, state: :active }, { id: 'content1' }
        = ui_card 'Content 2', { tab: true, effect: :fade }, { id: 'content2' }
        = ui_card 'Content 3', { tab: true, effect: :fade }, { id: 'content3' }
        = ui_card 'Content 4', { tab: true }, { id: 'content4' }
    - c.footer see_component components_navs_nav_path

  // Navbar component
  - cc.card tap: true do |c|
    - c.header "Navbars"
    - c.body do
      = ui_navbar title: 'Navbar' do |nb|
        - nb.nav do |n|
          - n.link 'Home', url: '#active', state: :active
        - nb.form '#', { method: :get, type: :form_tag, position: :right } do
          = ui_text_field 'Search', class: 'mr-2'
          = ui_button 'Search', status: :success, outline: true
    - c.body do
      = ui_navbar title: 'Navbar' do |nb|
        - nb.nav do |n|
          - n.link 'Home', url: '#active', state: :active
          - n.link url: '#link', class: 'my-link' do
            Features
          - n.link 'Pricing', url: '#another-link'
          - n.dropdown 'Dropdown' do |d|
            - d.link "Action 1", url: '#action'
            - d.link url: '#another-action' do
              = "Action 2"
            - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
              = "Action 3"
    - c.body do
      - UiBibzApp::Application::STATUSES.each do |status|
        = ui_navbar title: 'Navbar', status: status do |nb|
          - nb.nav do |n|
            - n.link 'Home', url: '#active', state: :active
            - n.link url: '#link', class: 'my-link' do
              Features
            - n.link 'Pricing', url: '#another-link'
            - n.dropdown 'Dropdown' do |d|
              - d.link "Action 1", url: '#action'
              - d.link url: '#another-action' do
                = "Action 2"
              - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
                = "Action 3"
        %br
      - UiBibzApp::Application::STATUSES.each do |status|
        = ui_navbar title: 'Navbar', status: status, type: :dark do |nb|
          - nb.nav do |n|
            - n.link 'Home', url: '#active', state: :active
            - n.link url: '#link', class: 'my-link' do
              Features
            - n.link 'Pricing', url: '#another-link'
            - n.dropdown 'Dropdown' do |d|
              - d.link "Action 1", url: '#action'
              - d.link url: '#another-action' do
                = "Action 2"
              - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
                = "Action 3"
        %br
    - c.footer see_component components_navs_navbar_path

  // Progress component
  - cc.card tap: true do |c|
    - c.header "Progress"
    - c.body do
      - [[:secondary, 0], [:success, 20], [:primary, 40], [:info, 60], [:warning, 80], [:danger, 100]].each do |i|
        = ui_progress_bar i[1], status: i[0].to_sym
    - c.body do
      - [[:secondary, 0], [:success, 20], [:primary, 40], [:info, 60], [:warning, 80], [:danger, 100]].each do |i|
        = ui_progress_bar i[1], status: i[0].to_sym, striped: true, animated: true
    - c.footer see_component components_progress_path

  // ui_stars component
  - cc.card tap: true do |c|
    - c.header "Stars"
    - c.body do
      - %i(xs sm md lg).each do |i|
        = ui_star 4, size: i
        %br
    - c.body do
      - [[:secondary, 0], [:success, 1], [:primary, 2], [:info, 3], [:warning, 4], [:danger, 5]].each do |i|
        = ui_star i[1], status: i[0].to_sym
        %br
    - c.body do
      = ui_star 3.5
      %br
      = ui_star 6, num: 8
    - c.footer see_component components_star_path

  // Forms components
  - cc.card tap: true do |c|
    - c.header "Forms"
    - c.body do
      %label ui_auto_complete_field
      = ui_auto_complete_field 'example1', { option_tags: options_for_select(5.times.map{ |i| "option #{i}" }) }, { placeholder: 'Type option..' }
    - c.body do
      %label ui_dropdown_select_field
      = ui_dropdown_select_field 'example1', searchable: true, option_tags: options_for_select(5.times.map{ |i| "option #{i}" })
    - c.body do
      %label ui_date_picker_field
      = ui_date_picker_field 'range', range: ui_glyph('calendar-minus-o'), append: ui_glyph('car'), prepend: ui_glyph('pencil')
    - c.body do
      %label ui_formula_field
      = ui_formula_field 'value', {}, { placeholder: 'Type your formula...(2+3/2)'}
    - c.body do
      %label ui_markdown_editor_field
      = ui_markdown_editor_field 'comments'
    - c.body do
      %label ui_multi_column_field
      - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
      = ui_multi_column_field 'example', { option_tags: grouped_options_for_select(grouped_options), searchable: true, selectable_opt_group: true }
    - c.body do
      %label ui_multi_select_field
      %br
      - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
      = ui_multi_select_field 'example', select_all_option: true, searchable: true, collapsible_opt_group: true, option_tags: grouped_options_for_select(grouped_options)
    - c.body do
      %label ui_text_field
      = text_field 'search', { append: ui_glyph('pencil'), prepend: ui_glyph('camera-retro') }, { placeholder: 'Type your search...' }
    - c.body do
      %label switch_field
      %br
      = ui_switch_field 'examplecolor'
    - c.body do
      %label input file
      %label.custom-file
        = file_field_tag :file, class: 'custom-file-input'
        %span.custom-file-control
    - c.body do
      = ui_row do
        = ui_col num: 6 do
          %label checkbox_field
          - UiBibzApp::Application::STATUSES.each do |status|
            = ui_checkbox_field "#{status}", { status: status, checked: true, inline: true }
        = ui_col num: 6 do
          %label radio_field
          - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
            = ui_radio_field :status, { value: status, label: status.to_s.humanize, status: status, inline: true, checked: i == 0 }

%br.clearfix
= ui_card_deck do |cd|

  // ui_card component
  - cd.card do
    = ui_card tap: true do |c|
      - c.header 'Card', ui_glyph: 'diamond'
      - c.body  'Content 2'
      - c.footer 'Footer 2', muted: true

    %br
    = ui_card status: :success do
      Content

  - cd.card tap: true do |c|
    - c.header 'Card'
    - c.image image
    - c.body tap: true do |b|
      - b.title "Card title"
      - b.text "Some quick example text to build on the ui_card title and make up the bulk of the ui_card's content."
    - c.list_group do |lg|
      - lg.list "Cras justo odio"
      - lg.list "Dapibas ac facilisis in"
      - lg.list "vestibulum at eros"
    - c.body tap: true do |b|
      - b.link "Card link", url: '#', class: "card-link"
      - b.link "Card link", url: '#', class: "card-link"
    - c.footer see_component components_cards_card_path

%br.clearfix
= ui_card_group do |cg|
  - cg.card(tap: true) do |c|
    - c.header 'header 1'
    - c.body 'content 1'
    - c.footer 'footer 1'
  - cg.card tap: true do |c|
    - c.image image
    - c.body tap: true do |b|
      - b.title 'card title'
      - b.text 'this is a wider ui_card with supporting text below as a natural lead-in to additional content. this content is a little bit longer.'
      - b.text "<small class='text-muted'>last updated 3 mins ago</small>"
  - cg.card tap: true do |c|
    - c.list_group do |lg|
      - lg.list "cras justo odio"
      - lg.list "Dapibas ac facilisis in", state: :active
      - lg.list tap: true do |l|
        - l.header 'Header list'
        - l.body "vestibulum at eros"
  - cg.card "content 4 <br/> some quick example text to build on the ui_card title and make up the bulk of the ui_card's content."
  - cg.card status: :primary, type: :inverse, text_position: :center do
    = '<blockquote class="card-blockquote"><p>lorem ipsum dolor sit amet, consectetur adipiscing elit. integer posuere erat a ante.</p><footer>someone famous in <cite title="source title">source title</cite></footer></blockquote>'.html_safe

%br.clearfix
= ui_card_deck do |cd|
  - cd.card tap: true do |c|
    - c.body tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."
      - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
  - cd.card tap: true, text: { position: :center } do |c|
    - c.body tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."
      - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
  - cd.card tap: true, text: { position: :right } do |c|
    - c.body tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."
      - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

%br.clearfix
= ui_card_deck do |cd|
  - UiBibzApp::Application::STATUSES.each do |status|
    - cd.card tap: true, status: status do |c|
      - c.body tap: true do |b|
        - b.title "Special title treatment"
        - b.text "With supporting text below as a natural lead-in to additional content."


%br.clearfix
%br.clearfix
// Table component
= ui_card tap: true, class: 'table-test' do |c|
  - c.header "Tables"
  - c.body do
    = ui_col num: 6 do
      = ""
    = ui_col num: 6 do
      = ui_table_search_field store: @users
    = ui_table({ store: @users, tap: true }) do |b|
      - b.columns do |cls|
        - cls.column :id
        - cls.column :email
        - cls.column :active
        - cls.column :company
        - cls.column :created_at
        - cls.column :updated_at
      - b.actions do |acs|
        - acs.link 'Show', url: '#show', ui_glyph: 'eye'
        - acs.link 'Edit', url: '#show', ui_glyph: 'pencil'
        - acs.link 'Delete', url: '#show', ui_glyph: 'trash',  link_html_options: { data: { confirm: 'Are you sure?' }}

    = ui_col num: 8 do
      = ui_table_pagination store: @users
    = ui_col num: 4 do
      = ui_table_pagination_per_page store: @users
  - c.footer see_component components_table_path

%br.clear
%br
%br
= ui_table_card store: @users, title: 'Table card', class: 'table-test', tap: true do |b|
  - b.columns do |cls|
    - cls.column :id
    - cls.column :email
    - cls.column :active
    - cls.column :company
    - cls.column :created_at
    - cls.column :updated_at
  - b.actions do |acs|
    - acs.link 'Show', url: '#show', ui_glyph: 'eye'
    - acs.link 'Edit', url: '#show', ui_glyph: 'pencil'
    - acs.link 'Delete', url: '#show', ui_glyph: 'trash',  link_html_options: { data: { confirm: 'Are you sure?' }}
