= jumbotron do
  %h1 Bootstrap #{ UiBibzApp::Application::Gems.bootstrap.version } elements page example template
  %p A quick preview of everything Bootstrap has to offer.
  = button_link "See Boostrap 4!" , { url: "http://v4-alpha.getbootstrap.com/" }, { target: '_blank' }

= card_column do |cc|

  // Alert component
  - cc.card tap: true do |c|
    - c.header "Alerts"
    - c.block do
      - %w(success warning danger info).each do |s|
        = notify s.titleize, status: s.to_sym, glyph: 'diamond', closable: true
    - c.footer see_component components_alert_notify_path

  // Breadcrumb component
  - cc.card tap: true do |c|
    - c.header "Breadcrumb"
    - c.block do
      = breadcrumb store: User.all.limit(3), link_label: :email, link_url: "#/id/edit"

  // Button component
  - cc.card tap: true do |c|
    - c.header "Button"
    - c.block do
      - %w(primary secondary success warning danger info link).each do |s|
        = button s.titleize, status: s.to_sym, glyph: 'diamond'
    - c.block do
      - %w(primary secondary success warning info danger).each do |s|
        = button s.titleize, status: s.to_sym, outline: true, glyph: 'diamond'
    - c.block do
      - %w(lg md sm xs).each do |s|
        = button "Button #{ s }", status: :primary, size: s.to_sym
    - c.block do
      = button 'Block level button', status: :primary, type: :block
      = button 'Block level button', status: :secondary, type: :block
    - c.block do
      = button 'Primary', status: :primary, state: :active
      = button 'Primary', status: :primary, state: :disabled
    - c.footer see_component components_forms_buttons_button_path



  // Button component
  - cc.card tap: true do |c|
    - c.header "Button Choice"
    - c.block do
      = button_group do
        = button_choice 'Checkbox 1', status: :primary, state: :active
        = button_choice 'Checkbox 2', status: :primary
    - c.block do
      = button_group do
        = button_choice 'Radio 1', type: :radio, status: :success, state: :active
        = button_choice 'Radio 2', type: :radio, status: :success
    - c.block do
      = button_group do
        = button_choice 'Radio 1', type: :radio, size: :lg, outline: true, status: :danger, state: :active
        = button_choice 'Radio 2', type: :radio, size: :lg, outline: true, status: :danger
    - c.footer see_component components_forms_buttons_button_choice_path

  // Dropdown component
  - cc.card tap: true do |c|
    - c.header "Dropdown"
    - c.block do
      - %w(primary secondary success warning danger info).each do |s|
        = dropdown s.titleize, glyph: 'diamond', status: s.to_sym do |d|
          - d.link "Action", url: '#action', glyph: 'diamond'
          - d.link "Another action", url: '#another-action'
          - d.divider
          - d.header 'Header'
          - d.html "     Normal Text"
          - d.link "Separate link", url: '#separate-link'
    - c.block do
      = dropdown "Dropdown Right", size: :lg, position: :right, status: :success do |d|
        - d.link "Action", url: '#action', glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
      = dropdown "Dropdown Up", size: :sm, type: :dropup, status: :danger do |d|
        - d.link "Action", url: '#action', glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
    - c.footer see_component components_dropdowns_dropdown_path

  // Button Group component
  - cc.card tap: true do |c|
    - c.header "Button Group"
    - c.block do
      = button_group do
        = button 'Button'
        = button_link 'Button link', url: '#button-link'
        = dropdown "Dropdown" do |bd|
          - bd.link "Action", url: '#action'
          - bd.link "Another action", url: '#another-action'
          - bd.divider
          - bd.header 'Header'
          - bd.link "Separate link", url: '#separate-link'
    - c.block do
      = button_group size: :sm do
        = button 'Left', outline: true
        = button 'Middle', outline: true
        = button 'Right', outline: true
    - c.block do
      = button_group position: :vertical do
        = button 'Left'
        = button 'Middle'
        = button 'Right'
    - c.footer see_component components_forms_buttons_button_group_path

  // Button link component
  - cc.card tap: true do |c|
    - c.header "Button link"
    - c.block do
      - %w(primary secondary success warning danger info link).each do |s|
        = button_link s.titleize, url: "##{ s }", status: s.to_sym, glyph: 'diamond'
    - c.block do
      - %w(primary secondary success warning info danger).each do |s|
        = button s.titleize, url: "##{ s }", status: s.to_sym, outline: true, glyph: 'diamond'
    - c.block do
      - %w(lg md sm xs).each do |s|
        = button "Button #{ s }", url: "##{ s }", status: :primary, size: s.to_sym
    - c.block do
      = button 'Block level button', url: '#', status: :primary, type: :block
      = button 'Block level button', url: '#', status: :secondary, type: :block
    - c.block do
      = button 'Primary', url: '#active', status: :primary, state: :active
      = button 'Primary', url: '#disabled', status: :primary, state: :disabled
    - c.footer see_component components_forms_buttons_button_link_path

  // Button split dropdown component
  - cc.card tap: true do |c|
    - c.header "Split Dropdown"
    - c.block do
      - %w(primary secondary success warning danger info).each do |s|
        = split_dropdown s.titleize, glyph: 'diamond', status: s.to_sym do |d|
          - d.link "Action", url: '#action', glyph: 'diamond'
          - d.link "Another action", url: '#another-action'
          - d.divider
          - d.header 'Header'
          - d.html "     Normal Text"
          - d.link "Separate link", url: '#separate-link'
    - c.block do
      = split_dropdown "Split Dropdown Right", size: :lg, position: :right, status: :success do |d|
        - d.link "Action", url: '#action', glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
      = split_dropdown "Split Dropdown Up", size: :sm, type: :dropup, status: :danger do |d|
        - d.link "Action", url: '#action', glyph: 'diamond'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
    - c.footer see_component components_dropdowns_split_dropdown_path

  // Glyph component
  - cc.card tap: true do |c|
    - c.header "Glyph"
    - c.block do
      - %w(primary secondary success warning danger info).each do |s|
        = glyph 'diamond', status: s.to_sym
    - c.block do
      - 4.times do |i|
        = glyph 'diamond', size: i
    - c.block do
      = glyph 'square', stack: 2
      = glyph 'diamond', stack: 1, status: :danger
    - c.block do
      = glyph 'diamond', rotate: 90
      = glyph 'diamond', rotate: 180
      = glyph 'diamond', rotate: 270
    - c.footer see_component components_glyph_path


  // Etiquette component
  - cc.card tap: true do |c|
    - c.header "Etiquette"
    - c.block do
      - %w(primary default success warning danger info).each do |s|
        = etiquette s.titleize, status: s.to_sym
    - c.block do
      - %w(primary default success warning danger info).each do |s|
        = etiquette s.titleize, glyph: 'diamond', status: s.to_sym, type: :pill
    - c.footer see_component components_label_etiquette_path

  // List group component
  - cc.card tap: true do |c|
    - c.header "List group"
    - c.block do
      = list_group do |lg|
        - lg.list 'Cras justo odio', tag: 14
        - lg.list 'Dapibus ac facilisis in', glyph: 'diamond'
        - lg.list 'Morbi leo risus', state: :active
        - lg.list 'Porta ac consectetur ac', state: :disabled
        - lg.list 'Vestibulum at eros', status: :success
      %br
      = list_group  do |lg|
        - lg.list tap: true, state: :active do |l|
          - l.header 'List group item heading'
          - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
        - lg.list tap: true do |l|
          - l.header class: 'my-header' do
            = 'List group item heading'
          - l.body class: 'my-body' do
            = 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
        - lg.list tap: true do |l|
          - l.header 'List group item heading'
          - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
    - c.footer see_component components_list_group_path

  // Modal component
  - cc.card tap: true do |c|
    - c.header "Modal"
    - c.block do
      = modal class: 'modal-example' do |m|
        - m.header 'Modal title'
        - m.body 'One fine body'
        - m.footer do
          = button 'Close', status: :secondary
          = button 'Save changes'
      = modal class: 'modal-example', size: :sm do |m|
        - m.header do
          = 'Modal title'
        - m.body do
          = 'One fine body'
      = button_link 'click here to open modal', { url: '#' }, { data: { toggle: 'modal', target: '#modal-test' }}
      = modal({ effect: :fade }, { id: 'modal-test' }) do |m|
        - m.header do
          = 'Modal title'
        - m.body do
          = 'One fine body'
    - c.footer see_component components_windows_modal_path

  // Nav component
  - cc.card tap: true do |c|
    - c.header "Nav"
    - c.block do
      = nav do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.link url: '#link', class: 'my-link' do
          Link
        - n.nav do |na|
          - na.link 'Another link', url: '#another-link'
          - na.link 'Disabled', url: '#disabled', state: :disabled
        - n.link 'Another link 2', url: '#another-link2'
        - n.link 'Another link 3', url: '#another-link3'

    - c.block do
      = nav type: :links do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.link url: '#link', class: 'my-link' do
          Link
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled

    - c.block do
      = nav type: :tabs do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.dropdown 'Dropdown' do |d|
          - d.link "Action 1", url: '#action'
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled
    - c.block do
      = nav type: :pills do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.dropdown 'Dropdown' do |d|
          - d.link "Action 1", url: '#action'
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled
    - c.block do
      = nav type: :pills, stacked: true do |n|
        - n.link 'Active', url: '#active', state: :active
        - n.link 'Link', url: '#link'
        - n.link 'Another link', url: '#another-link'
        - n.link 'Disabled', url: '#disabled', state: :disabled
    - c.block do
      = nav type: :tabs do |n|
        - n.link 'Active', url: '#content1', state: :active
        - n.link 'Link', url: '#content2'
        - n.link 'Another link', url: '#content3'
        - n.link 'Disabled', url: '#content4', state: :disabled
      %br
      .tab-content
        = card 'Content 1', { tab: true, state: :active }, { id: 'content1' }
        = card 'Content 2', { tab: true, effect: :fade }, { id: 'content2' }
        = card 'Content 3', { tab: true, effect: :fade }, { id: 'content3' }
        = card 'Content 4', { tab: true }, { id: 'content4' }
    - c.footer see_component components_navs_nav_path

  // Navbar component
  - cc.card tap: true do |c|
    - c.header "Nav"
    - c.block do
      = navbar title: 'Navbar' do |nb|
        - nb.nav do |n|
          - n.link 'Home', url: '#active', state: :active
        - nb.form '#', { method: :get, type: :form_tag, position: :right } do
          = surround_field 'Search'
          = button 'Search', status: :success, outline: true
    - c.block do
      = navbar title: 'Navbar' do |nb|
        - nb.nav do |n|
          - n.link 'Home', url: '#active', state: :active
          - n.link url: '#link', class: 'my-link' do
            Features
          - n.link 'Pricing', url: '#another-link'
          - n.dropdown 'Dropdown' do |d|
            - d.link "Action 1", url: '#action'
            - d.link url: '#another-action' do
              = "Action 2"
            - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
              = "Action 3"
    - c.block do
      - %w(primary inverse success warning danger info).each do |s|
        = navbar title: 'Navbar', status: s.to_sym do |nb|
          - nb.nav do |n|
            - n.link 'Home', url: '#active', state: :active
            - n.link url: '#link', class: 'my-link' do
              Features
            - n.link 'Pricing', url: '#another-link'
            - n.dropdown 'Dropdown' do |d|
              - d.link "Action 1", url: '#action'
              - d.link url: '#another-action' do
                = "Action 2"
              - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
                = "Action 3"
        %br
      - %w(primary inverse success warning danger info).each do |s|
        = navbar title: 'Navbar', status: s.to_sym, type: :dark do |nb|
          - nb.nav do |n|
            - n.link 'Home', url: '#active', state: :active
            - n.link url: '#link', class: 'my-link' do
              Features
            - n.link 'Pricing', url: '#another-link'
            - n.dropdown 'Dropdown' do |d|
              - d.link "Action 1", url: '#action'
              - d.link url: '#another-action' do
                = "Action 2"
              - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
                = "Action 3"
        %br
    - c.footer see_component components_navs_navbar_path

  // Progress component
  - cc.card tap: true do |c|
    - c.header "Progress"
    - c.block do
      - [[:secondary, 0], [:success, 20], [:primary, 40], [:info, 60], [:warning, 80], [:danger, 100]].each do |i|
        = progress i[1], status: i[0].to_sym
    - c.block do
      - [[:secondary, 0], [:success, 20], [:primary, 40], [:info, 60], [:warning, 80], [:danger, 100]].each do |i|
        = progress i[1], status: i[0].to_sym, striped: true, animated: true
    - c.footer see_component components_progress_path

  // Stars component
  - cc.card tap: true do |c|
    - c.header "Star"
    - c.block do
      - %i(xs sm md lg).each do |i|
        = star 4, size: i
        %br
    - c.block do
      - [[:secondary, 0], [:success, 1], [:primary, 2], [:info, 3], [:warning, 4], [:danger, 5]].each do |i|
        = star i[1], status: i[0].to_sym
        %br
    - c.block do
      = star 3.5
      %br
      = star 6, num: 8
    - c.footer see_component components_star_path

  // Forms components
  - cc.card tap: true do |c|
    - c.header "Forms"
    - c.block do
      %label auto_complete_field
      = auto_complete_field 'example1', { option_tags: options_for_select(5.times.map{ |i| "option #{i}" }) }, { placeholder: 'Type option..' }
    - c.block do
      %label dropdown_select_field
      = dropdown_select_field 'example1', searchable: true, option_tags: options_for_select(5.times.map{ |i| "option #{i}" })
    - c.block do
      %label date_picker_field
      = date_picker_field 'range', range: glyph('calendar-minus-o'), append: glyph('car'), prepend: glyph('pencil')
    - c.block do
      %label formula_field
      = formula_field 'value', {}, { placeholder: 'Type your formula...(2+3/2)'}
    - c.block do
      %label markdown_editor_field
      = markdown_editor_field 'comments'
    - c.block do
      %label multi_column_field
      - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
      = multi_column_field 'example', { option_tags: grouped_options_for_select(grouped_options), searchable: true, selectable_opt_group: true }
    - c.block do
      %label multi_select_field
      %br
      - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
      = multi_select_field 'example', select_all_option: true, searchable: true, collapsible_opt_group: true, option_tags: grouped_options_for_select(grouped_options)
    - c.block do
      %label surround_field
      = surround_field 'search', { append: glyph('pencil'), prepend: glyph('camera-retro') }, { placeholder: 'Type your search...' }
    - c.block do
      %label switch_field
      %br
      = switch_field 'examplecolor'
    - c.block do
      %label input file
      %label.custom-file
        = file_field_tag :file, class: 'custom-file-input'
        %span.custom-file-control
    - c.block do
      = row do
        = col num: 6 do
          %label checkbox_field
          - UiBibzApp::Application::STATUSES.each do |status|
            = checkbox_field eval(status), { status: eval(status), checked: true, inline: true }
        = col num: 6 do
          %label radio_field
          - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
            = radio_field :status, { value: status, label: eval(status), status: eval(status), inline: true, checked: i == 0 }

= card_deck do |cd|

  // Card component
  - cd.card do
    = card tap: true do |c|
      - c.header 'Card', glyph: 'diamond'
      - c.block  'Content 2'
      - c.footer 'Footer 2', muted: true

    = card status: :success do
      Content

  - cd.card tap: true do |c|
    - c.header 'Card'
    - c.image 'image.svg'
    - c.block tap: true do |b|
      - b.title "Card title"
      - b.text "Some quick example text to build on the card title and make up the bulk of the card's content."
    - c.list_group do |lg|
      - lg.list "Cras justo odio"
      - lg.list "Dapibas ac facilisis in"
      - lg.list "vestibulum at eros"
    - c.block tap: true do |b|
      - b.link "Card link", url: '#', class: "card-link"
      - b.link "Card link", url: '#', class: "card-link"
    - c.footer see_component components_cards_card_path

= card_group do |cg|
  - cg.card(tap: true) do |c|
    - c.header 'header 1'
    - c.block 'content 1'
    - c.footer 'footer 1'
  - cg.card tap: true do |c|
    - c.image 'image.svg'
    - c.block tap: true do |b|
      - b.title 'card title'
      - b.text 'this is a wider card with supporting text below as a natural lead-in to additional content. this content is a little bit longer.'
      - b.text "<small class='text-muted'>last updated 3 mins ago</small>"
  - cg.card tap: true do |c|
    - c.list_group do |lg|
      - lg.list "cras justo odio"
      - lg.list "Dapibas ac facilisis in", state: :active
      - lg.list tap: true do |l|
        - l.header 'Header list'
        - l.body "vestibulum at eros"
  - cg.card "content 4 <br/> some quick example text to build on the card title and make up the bulk of the card's content."
  - cg.card status: :primary, type: :inverse, text_position: :center do
    = '<blockquote class="card-blockquote"><p>lorem ipsum dolor sit amet, consectetur adipiscing elit. integer posuere erat a ante.</p><footer>someone famous in <cite title="source title">source title</cite></footer></blockquote>'.html_safe

%br
= card_deck do |cd|
  - cd.card tap: true do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."
      - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
  - cd.card tap: true, text: { position: :center } do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."
      - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
  - cd.card tap: true, text: { position: :right } do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."
      - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

= card_deck do |cd|
  - cd.card({ tap: true, type: :inverse }, { style: "background-color: #333; border-color: #333;" }) do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."

  - cd.card tap: true, type: :inverse, status: :primary do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."

  - cd.card tap: true, type: :inverse, status: :success do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."

  - cd.card tap: true, type: :inverse, status: :danger do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."

  - cd.card tap: true, type: :inverse, status: :info do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."

  - cd.card tap: true, type: :inverse, status: :warning do |c|
    - c.block tap: true do |b|
      - b.title "Special title treatment"
      - b.text "With supporting text below as a natural lead-in to additional content."

// Table component
= card tap: true do |c|
  - c.header "Table"
  - c.block do
    = col num: 6 do
      = ""
    = col num: 6 do
      = table_search_field store: @users
    = table({ store: @users, tap: true }) do |b|
      - b.columns do |cls|
        - cls.column :id
        - cls.column :email
        - cls.column :active
        - cls.column :company
        - cls.column :created_at
        - cls.column :updated_at
      - b.actions do |acs|
        - acs.link 'Show', url: '#show', glyph: 'eye'
        - acs.link 'Edit', url: '#show', glyph: 'pencil'
        - acs.link 'Delete', url: '#show', glyph: 'trash',  link_html_options: { data: { confirm: 'Are you sure?' }}

    = col num: 8 do
      = table_pagination store: @users
    = col num: 4 do
      = table_pagination_per_page store: @users
  - c.footer see_component components_table_path


= table_card store: @users, title: 'Table card', tap: true do |b|
  - b.columns do |cls|
    - cls.column :id
    - cls.column :email
    - cls.column :active
    - cls.column :company
    - cls.column :created_at
    - cls.column :updated_at
  - b.actions do |acs|
    - acs.link 'Show', url: '#show', glyph: 'eye'
    - acs.link 'Edit', url: '#show', glyph: 'pencil'
    - acs.link 'Delete', url: '#show', glyph: 'trash',  link_html_options: { data: { confirm: 'Are you sure?' }}
