- image = 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22241%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20241%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15f6c72b839%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15f6c72b839%22%3E%3Crect%20width%3D%22241%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2289.765625%22%20y%3D%2294.2%22%3E241x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'

= title 'Bootstrap Theme', false

%h2 Boxes
%h3 Jumbotron
= ui_jumbotron do
  %h1 Bootstrap #{ UiBibzApp::Application::BOOTSTRAP_VERSION } elements page example template
  %p A quick preview of everything Bootstrap has to offer.
  = ui_button_link "See Boostrap 4!" , { url: "https://getbootstrap.com/" }, { target: '_blank' }

%h3 Cards
= ui_row do
  = ui_col do
    = ui_card tap: true do |c|
      - c.header 'Card'
      - c.image image
      - c.body tap: true do |b|
        - b.title "Card title"
        - b.text "Some quick example text to build on the ui_card title and make up the bulk of the ui_card's content."
      - c.list_group do |lg|
        - lg.list "Cras justo odio"
        - lg.list "Dapibas ac facilisis in"
        - lg.list "vestibulum at eros"
      - c.body tap: true do |b|
        - b.link "Card link", url: '#', class: "card-link"
        - b.link "Card link", url: '#', class: "card-link"
      - c.footer "Footer"

  = ui_col do
    = ui_card tap: true do |c|
      - c.body tap: true do |b|
        - b.title "Special title treatment"
        - b.text "With supporting text below as a natural lead-in to additional content."
        - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
    %br
    = ui_card tap: true, text: { position: :center } do |c|
      - c.body tap: true do |b|
        - b.title "Special title treatment"
        - b.text "With supporting text below as a natural lead-in to additional content."
        - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
    %br
    = ui_card tap: true, text: { position: :right } do |c|
      - c.body tap: true do |b|
        - b.title "Special title treatment"
        - b.text "With supporting text below as a natural lead-in to additional content."
        - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

%br.clearfix

%h3 Card groups
= ui_card_group do |cg|
  - cg.card(tap: true) do |c|
    - c.header 'header 1'
    - c.body 'content 1'
    - c.footer 'footer 1'
  - cg.card tap: true do |c|
    - c.image image
    - c.body tap: true do |b|
      - b.title 'card title'
      - b.text 'this is a wider ui_card with supporting text below as a natural lead-in to additional content. this content is a little bit longer.'
      - b.text "<small class='text-muted'>last updated 3 mins ago</small>"
  - cg.card tap: true do |c|
    - c.list_group do |lg|
      - lg.list "cras justo odio"
      - lg.list "Dapibas ac facilisis in", state: :active
      - lg.list tap: true do |l|
        - l.header 'Header list'
        - l.body "vestibulum at eros"
  - cg.card "content 4 <br/> some quick example text to build on the ui_card title and make up the bulk of the ui_card's content."
  - cg.card status: :primary, text_position: :center do
    = '<p>lorem ipsum dolor sit amet, consectetur adipiscing elit. integer posuere erat a ante.</p><footer>someone famous in <cite title="source title">source title</cite></footer>'.html_safe

%br.clearfix

%h3 Card decks
= ui_card_deck do |cd|
  - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
    - if i.even?
      - cd.card tap: true, status: status do |c|
        - c.body tap: true do |b|
          - b.title "Special title treatment"
          - b.text "With supporting text below as a natural lead-in to additional content."

= ui_card_deck do |cd|
  - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
    - if i.odd?
      - cd.card tap: true, status: status do |c|
        - c.body tap: true do |b|
          - b.title "Special title treatment"
          - b.text "With supporting text below as a natural lead-in to additional content."

%h3 Card columns
= ui_card_column class: 'card-column-theme' do |cc|
  - cc.card tap: true do |c|
    - c.header 'header 1'
    - c.body "content 1"
    - c.footer 'footer 1'
  - cc.card tap: true do |c|
    - c.image image
    - c.body tap: true do |b|
      - b.title 'Card title'
      - b.text 'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'
      - b.text "<small class='text-muted'>Last updated 3 mins ago</small>"
  - cc.card tap: true do |c|
    - c.list_group do |lg|
      - lg.list "Cras justo odio"
      - lg.list "Dapibas ac facilisis in", state: :active
      - lg.list tap: true do |l|
        - l.header 'Header list'
        - l.body "vestibulum at eros"
  - cc.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
  - cc.card status: :primary, type: :inverse, text_position: :center do
    = '<bodyquote class="card-bodyquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></bodyquote>'.html_safe
  - cc.card tap: true do |c|
    - c.header 'header 1'
    - c.body "content 1"
    - c.footer 'footer 1'
  - cc.card tap: true do |c|
    - c.image image
    - c.body tap: true do |b|
      - b.title 'Card title'
      - b.text 'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'
      - b.text "<small class='text-muted'>Last updated 3 mins ago</small>"
  - cc.card tap: true do |c|
    - c.list_group do |lg|
      - lg.list "Cras justo odio"
      - lg.list "Dapibas ac facilisis in", state: :active
      - lg.list tap: true do |l|
        - l.header 'Header list'
        - l.body "vestibulum at eros"
  - cc.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
  - cc.card status: :primary, type: :inverse, text_position: :center do
    = '<bodyquote class="card-bodyquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></bodyquote>'.html_safe

%h2 Notifications
%h3 Alerts (#{ link_to 'Doc', components_notifications_alert_path })
= ui_row do
  = ui_col num: 12 do
    = ui_alert status: :success, glyph: 'thumbs-o-up', closable: true, tap: true do |a|
      - a.header 'Well done!'
      - a.body "Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content."
  - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
    - if i%4
      = ui_col num: 3 do
        = ui_alert "This is a #{ status.to_s } alert", status: status
    - else
      = ui_alert "This is a #{ status.to_s } alert", status: status

= ui_row do
  = ui_col do
    %h3 Badges
    - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
      = ui_badge status.to_s.titleize, status: status, glyph: 'gem'
    %br
    - UiBibzApp::Application::STATUSES.each_with_index do |status, i|
      = ui_badge status.to_s.titleize, status: status, type: :pill, glyph: 'gem'
  = ui_col do
    %h3 Progress bars
    = ui_progress_bar 25, status: :success
    %br
    = ui_progress_bar 100, stacked: true, animated: true, striped: true
    %br
    = ui_progress_bar 75, status: :danger, line: true

%h2 Navigations
//= ui_breadcrumb store: User.all.limit(1), link_label: :email, link_url: "#/id/edit"
= ui_row do
  = ui_col do
    %h3 Breadcrumbs
    = ui_breadcrumb do |b|
      - b.link 'Home', glyph: 'home'
    = ui_breadcrumb do |b|
      - b.link 'Home', glyph: 'home'
      - b.link 'Library', url: '#library'
    = ui_breadcrumb do |b|
      - b.link 'Home', glyph: 'home'
      - b.link 'Library', url: '#library'
      - b.link 'Data', url: '#data'
  = ui_col do
    %h3 Paginations
    = ui_pagination do |p|
      - p.link '«', url: '#<', state: :disabled
      - p.link '1', url: '#1', state: :active
      - p.link '2', url: '#1'
      - p.link '3', url: '#1'
      - p.link '4', url: '#1'

    = ui_pagination do |p|
      - p.link '«', url: '#<', state: :disabled
      - p.link '1', url: '#1', state: :active
      - p.link '2', url: '#1'
      - p.link '…', url: '#1', state: :disabled
      - p.link '20', url: '#1'
      - p.link '»', url: '#>'

= ui_row do
  = ui_col do
    %h3 Toolbars
    = ui_toolbar justify: true do |bt|
      - bt.button_group status: :success  do |bg|
        - bg.button '', text: false, glyph: 'copy'
        - bg.button '', text: false, glyph: 'paste', status: :danger
        - bg.button '', text: false, glyph: 'cut'
      - bt.button_group do |bg|
        - bg.button '', status: :dark, glyph: 'car'
        - bg.button '', status: :dark, glyph: 'star'
      - bt.button_group do |bg|
        - bg.button 'Edit', status: :dark
        - bg.button 'Delete', status: :dark
        - bg.dropdown 'Dropdown', status: :primary do |d|
          - d.link 'link', url: '#link'
  = ui_col do
    %h3 Tabs
    = ui_tab_group do |n|
      - n.tab 'Home', url: '#home', state: :active
      - n.tab 'Profil', url: '#profil'
      - n.tab 'Disabled', url: '#profil', state: :disabled
      - n.dropdown 'Dropdown' do |d|
        - d.link 'Action'
        - d.link 'Another action'
        - d.link 'Something else here'
        - d.divider
        - d.link 'Separted link'

= ui_row do
  = ui_col do
    %h3 Pills
    = ui_nav type: :pills do |n|
      - n.link 'Home', url: '#home', state: :active
      - n.link 'Profil', url: '#profil'
      - n.link 'Disabled', url: '#profil', state: :disabled
      - n.dropdown 'Dropdown' do |d|
        - d.link 'Action'
        - d.link 'Another action'
        - d.link 'Something else here'
        - d.divider
        - d.link 'Separted link'
    %br
    = ui_nav type: :pills, stacked: true do |n|
      - n.link 'Home', url: '#home', state: :active
      - n.link 'Profil', url: '#profil'
      - n.link 'Disabled', url: '#profil', state: :disabled
      - n.dropdown 'Dropdown' do |d|
        - d.link 'Action'
        - d.link 'Another action'
        - d.link 'Something else here'
        - d.divider
        - d.link 'Separted link'
  = ui_col do
    %h3 Links
    = ui_nav do |n|
      - n.link 'Home', url: '#home', state: :active
      - n.link 'Profil', url: '#profil'
      - n.link 'Disabled', url: '#profil', state: :disabled
      - n.dropdown 'Dropdown' do |d|
        - d.link 'Action'
        - d.link 'Another action'
        - d.link 'Something else here'
        - d.divider
        - d.link 'Separted link'
    %br
    = ui_nav stacked: true do |n|
      - n.link 'Home', url: '#home', state: :active
      - n.link 'Profil', url: '#profil'
      - n.link 'Disabled', url: '#profil', state: :disabled
      - n.dropdown 'Dropdown' do |d|
        - d.link 'Action'
        - d.link 'Another action'
        - d.link 'Something else here'
        - d.divider
        - d.link 'Separted link'

= ui_row do
  = ui_col num: 12 do
    %h3 Navbars
    = ui_navbar title: 'Navbar', justify: true, status: :dark, type: :dark do |nb|
      - nb.nav class: 'mr-auto' do |n|
        - n.link 'Home', url: '#active', state: :active
        - n.link 'Profil', url: '#profil'
        - n.link 'Disabled', url: '#profil', state: :disabled
        - n.dropdown 'Dropdown' do |d|
          - d.link 'Action'
          - d.link 'Another action'
          - d.link 'Something else here'
          - d.divider
          - d.link 'Separted link'
      - nb.form '#', { method: :get, type: :form_tag, position: :right } do
        = ui_text_field 'Search', class: 'mr-2'
        = ui_button 'Search', status: :success, outline: true

    %br
    = ui_navbar title: 'Navbar', justify: true, status: :info, type: :dark do |nb|
      - nb.nav class: 'mr-auto' do |n|
        - n.link 'Home', url: '#active', state: :active
        - n.link 'Profil', url: '#profil'
        - n.link 'Disabled', url: '#profil', state: :disabled
        - n.dropdown 'Dropdown' do |d|
          - d.link 'Action'
          - d.link 'Another action'
          - d.link 'Something else here'
          - d.divider
          - d.link 'Separted link'
      - nb.form '#', { method: :get, type: :form_tag, position: :right } do
        = ui_text_field 'Search', class: 'mr-2'
        = ui_button 'Search', status: :light, outline: true

    %br
    = ui_navbar title: 'Navbar', justify: true, status: :warning do |nb|
      - nb.nav class: 'mr-auto' do |n|
        - n.link 'Home', url: '#active', state: :active
        - n.link 'Profil', url: '#profil'
        - n.link 'Disabled', url: '#profil', state: :disabled
        - n.dropdown 'Dropdown' do |d|
          - d.link 'Action'
          - d.link 'Another action'
          - d.link 'Something else here'
          - d.divider
          - d.link 'Separted link'
      - nb.form '#', { method: :get, type: :form_tag, position: :right } do
        = ui_text_field 'Search', class: 'mr-2'
        = ui_button 'Search', status: :danger, outline: true

%h2 Icons
= ui_row do
  = ui_col do
    %h3 Glyphs  #{ exclusiveness }
    - UiBibzApp::Application::STATUSES.each do |status|
      = ui_glyph 'gem', status: status
    %br
    = ui_glyph 'gem', rotate: 90
    = ui_glyph 'gem', rotate: 180
    = ui_glyph 'gem', rotate: 270
    %br
    - UiBibzApp::Application::SIZES.each do |size|
      = ui_glyph 'gem', size: size
  = ui_col do
    %h3 Stars #{ exclusiveness }
    = ui_row do
      = ui_col do
        - UiBibzApp::Application::STATUSES.each_with_index do |status,i|
          = ui_star i, status: status
          %br
      = ui_col do
        - UiBibzApp::Application::SIZES.each_with_index do |size,i|
          %br
          = ui_star i+1, size: size

%h2 Lists
%h3 List groups
= ui_row do
  = ui_col do
    = ui_list_group do |lg|
      - lg.list 'Cras justo odio', badge: 14
      - lg.list 'Dapibus ac facilisis in', ui_glyph: 'gem'
      - lg.list 'Morbi leo risus', state: :active
      - lg.list 'Porta ac consectetur ac', state: :disabled
      - lg.list 'Vestibulum at eros', status: :success
  = ui_col do
    = ui_list_group  do |lg|
      - lg.list tap: true, state: :active do |l|
        - l.header 'List group item heading'
        - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
      - lg.list tap: true do |l|
        - l.header class: 'my-header' do
          = 'List group item heading'
        - l.body class: 'my-body' do
          = 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'
      - lg.list tap: true do |l|
        - l.header 'List group item heading'
        - l.body 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.'

%br

%h2 Windows
%h3 Modal
= ui_row do
  = ui_col do
    = ui_modal class: 'modal-example' do |m|
      - m.header 'Modal title'
      - m.body 'One fine body'
      - m.footer do
        = ui_button 'Close', status: :secondary
        = ui_button 'Save', status: :danger
  = ui_col do
    = ui_modal class: 'modal-example', size: :sm do |m|
      - m.header do
        = 'Modal title'
      - m.body do
        = 'One fine body'
    = ui_button_link 'click here to open modal', { url: '#' }, { data: { toggle: 'modal', target: '#modal-test' }}
    = ui_modal({ effect: :fade }, { id: 'modal-test' }) do |m|
      - m.header do
        = 'Modal title'
      - m.body do
        = 'One fine body'

%h2 Forms
%h3 Buttons
= ui_row class: 'buttons-theme' do
  = ui_col do
    - UiBibzApp::Application::STATUSES.each do |status|
      = ui_button status.to_s.titleize, status: status, ui_glyph: 'gem'
  = ui_col do
    - UiBibzApp::Application::STATUSES.each do |status|
      = ui_button status.to_s.titleize, status: status, outline: true, ui_glyph: 'gem'
  = ui_col do
    - UiBibzApp::Application::SIZES.each do |size|
      = ui_button "Button #{ size }", status: :primary, size: size
    = ui_button 'Block level button', status: :primary, type: :block
    = ui_button 'Block level button', status: :secondary, type: :block

= ui_row do
  = ui_col do
    %h3 Choice Groups
    = ui_choice_group status: :primary do |bc|
      - bc.choice 'Checkbox 1'
      - bc.choice 'Checkbox 2'
    %br
    = ui_choice_group type: :radio, status: :success do |bc|
      - bc.choice 'Radio 1'
      - bc.choice 'Radio 2'
  = ui_col do
    %h3 Button Groups
    = ui_button_group do |bg|
      - bg.button 'Button'
      - bg.button_link 'Button link', url: '#button-link'
      - bg.dropdown "Dropdown" do |bd|
        - bd.link "Action", url: '#action'
        - bd.link "Another action", url: '#another-action'
        - bd.divider
        - bd.header 'Header'
        - bd.link "Separate link", url: '#separate-link'

= ui_row class: 'buttons-theme' do
  = ui_col do
    %h3 Dropdowns
    - UiBibzApp::Application::STATUSES.each do |status|
      = ui_dropdown status.to_s.titleize, glyph: 'gem', inline: true, status: status do |d|
        - d.link "Action", url: '#action', ui_glyph: 'gem'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
    %br
    - UiBibzApp::Application::STATUSES.each do |status|
      = ui_dropdown status.to_s.titleize, glyph: 'gem', inline: true, outline: true, status: status do |d|
        - d.link "Action", url: '#action', ui_glyph: 'gem'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
    %br
    = ui_dropdown "Dropdown Right", size: :lg, position: :right, inline: true, status: :success do |d|
      - d.link "Action", url: '#action', glyph: 'gem'
      - d.link "Another action", url: '#another-action'
      - d.divider
      - d.header 'Header'
      - d.html "     Normal Text"
      - d.link "Separate link", url: '#separate-link'
    = ui_dropdown "Dropdown Up", size: :sm, type: :dropup, status: :danger do |d|
      - d.link "Action", url: '#action', glyph: 'gem'
      - d.link "Another action", url: '#another-action'
      - d.divider
      - d.header 'Header'
      - d.html "     Normal Text"
      - d.link "Separate link", url: '#separate-link'

  = ui_col do
    %h3 Split Dropdowns
    - UiBibzApp::Application::STATUSES.each do |status|
      = ui_split_dropdown status.to_s.titleize, glyph: 'gem', inline: true, status: status do |d|
        - d.link "Action", url: '#action', ui_glyph: 'gem'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'
    %br
    - UiBibzApp::Application::STATUSES.each do |status|
      = ui_split_dropdown status.to_s.titleize, glyph: 'gem', inline: true, outline: true, status: status do |d|
        - d.link "Action", url: '#action', ui_glyph: 'gem'
        - d.link "Another action", url: '#another-action'
        - d.divider
        - d.header 'Header'
        - d.html "     Normal Text"
        - d.link "Separate link", url: '#separate-link'

= ui_row do
  = ui_col do
    %h3 Chexboxes
    - UiBibzApp::Application::STATUSES[0..-3].each do |status|
      = ui_checkbox_field "#{status}", { status: status, checked: true, inline: true }
  = ui_col do
    %h3 Radios
    - UiBibzApp::Application::STATUSES[0..-3].each_with_index do |status, i|
      = ui_radio_field :status, { value: status, label: status.to_s.humanize, status: status, inline: true, checked: i == 0 }

%br.clearfix

%h3 Inputs
= ui_row do
  = ui_col num: 3 do
    %h4 Auto Complete #{ exclusiveness }
    = ui_auto_complete_field 'example1', { option_tags: options_for_select(5.times.map{ |i| "option #{i}" }) }, { placeholder: 'Type option..' }
  = ui_col num: 3 do
    %h4 Dropdown Select #{ exclusiveness }
    = ui_dropdown_select_field 'example1', searchable: true, option_tags: options_for_select(5.times.map{ |i| "option #{i}" })
  = ui_col num: 3 do
    %h4 Formula  #{ exclusiveness }
    = ui_formula_field 'value', {}, { placeholder: 'Type your formula...(2+3/2)'}
  = ui_col num: 3 do
    %h4 Multi Select #{ exclusiveness }
    - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
    = ui_multi_select_field 'example', select_all_option: true, searchable: true, collapsible_opt_group: true, option_tags: grouped_options_for_select(grouped_options)
%br
= ui_row do
  = ui_col num: 3 do
    %h4 Text  #{ exclusiveness }
    = ui_text_field 'search', { append: ui_glyph('pencil-alt'), prepend: ui_glyph('camera-retro') }, { placeholder: 'Type your search...' }
  = ui_col num: 3 do
    %h4 Switch  #{ exclusiveness }
    = ui_switch_field 'examplecolor'
    %br
  = ui_col num: 3 do
    %h4 Input File
    %label.custom-file
      = file_field_tag :file, class: 'custom-file-input'
      %span.custom-file-control
  = ui_col num: 3 do
    %h4 Surround  #{ exclusiveness }
    = ui_surround_field do |s|
      - s.glyph 'gem'
      - s.text_field 'text'
      - s.addon 'To'
      - s.text_field 'text'
      - s.addon '€'

  = ui_col num: 6 do
    %h4 Markdown Html Editor  #{ exclusiveness }
    = ui_markdown_editor_field 'comments'
    %br
    %h4 Date Picker  #{ exclusiveness }
    = ui_date_picker_field 'range', range: ui_glyph('calendar-minus-o'), append: ui_glyph('car'), prepend: ui_glyph('pencil-alt')
  = ui_col num: 6 do
    %h4 Multi column  #{ exclusiveness }
    - grouped_options = { 'North America' => [['United statuss','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }
    = ui_multi_column_field 'example', { option_tags: grouped_options_for_select(grouped_options), searchable: true, selectable_opt_group: true }

%h2 Tables
%br.clearfix
// Table component
.table-test
  = ui_row do
    %h3 Tables  #{ exclusiveness }
    = ui_col num: 12 do
      = ui_table({ store: @users, tap: true }) do |b|
        - b.columns do |cls|
          - cls.column :id
          - cls.column :email
          - cls.column :active
          - cls.column :company
          - cls.column :created_at
          - cls.column :updated_at
        - b.actions do |acs|
          - acs.link 'Show', url: '#show', ui_glyph: 'eye'
          - acs.link 'Edit', url: '#show', ui_glyph: 'pencil-alt'
          - acs.link 'Delete', url: '#show', ui_glyph: 'trash',  link_html_options: { data: { confirm: 'Are you sure?' }}

    = ui_col num: 4 do
      %h4 Table Paginations
      = ui_table_pagination store: @users
    = ui_col num: 4 do
      %h4 Table Searches
      = ui_table_search_field store: @users
    = ui_col num: 4 do
      %h4 Table Pagination Per Page
      = ui_table_pagination_per_page store: @users

%br.clear
%h3 Table Cards  #{ exclusiveness }
= ui_table_card store: @users, title: 'Table card', class: 'table-test', tap: true do |b|
  - b.columns do |cls|
    - cls.column :id
    - cls.column :email
    - cls.column :active
    - cls.column :company
    - cls.column :created_at
    - cls.column :updated_at
  - b.actions do |acs|
    - acs.link 'Show', url: '#show', ui_glyph: 'eye'
    - acs.link 'Edit', url: '#show', ui_glyph: 'pencil-alt'
    - acs.link 'Delete', url: '#show', ui_glyph: 'trash',  link_html_options: { data: { confirm: 'Are you sure?' }}
