= title 'Autocomplete Field'
%blockquote UiBibz::Ui::Core::Inputs::Texts::AutocompleteField
%p.bd-callout
  Autocomplete field is a text_field and use html datalist to autocomplete results.
  %br
  = link_to 'Datalist info', 'http://www.w3schools.com/tags/tag_datalist.asp'
  %br
  eq.: Tap "<em>option</em>"

= code "autocomplete_field", component_name: "name"

= component_options do |co|
  - co.state_link
  - co.list 'option_tags', types: 'html'

- @sections = sections do |s|
  - s.section title: "Autocomplete Field" do
    = example do |e|
      - e.header do
        = autocomplete_field 'example1', option_tags: options_for_select(10.times.map{ |i| "option #{i}" })
      - e.code do
        autocomplete_field 'example1', option_tags: options_for_select(10.times.map{ |i| "option \#{i}" })
      - e.html do
        <input type="text" name="example1" id="example1" class="form-control" autocomplete="true" list="example1-datalist">
        <datalist id="example1-datalist">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
          <option value="option 5">option 5</option>
          <option value="option 6">option 6</option>
          <option value="option 7">option 7</option>
          <option value="option 8">option 8</option>
          <option value="option 9">option 9</option>
        </datalist>
      - e.footer do
        = documentation_link 'Documentation', '#'

    = example do |e|
      - e.header do
        = autocomplete_field 'example1', status: :success, state: :disabled, option_tags: options_for_select(10.times.map{ |i| "option #{i}" })
      - e.code do
        autocomplete_field 'example1', option_tags: options_for_select(10.times.map{ |i| "option \#{i}" })
      - e.html do
        <input type="text" name="example1" id="example1" class="form-control" autocomplete="true" list="example1-datalist">
        <datalist id="example1-datalist">
          <option value="option 0">option 0</option>
          <option value="option 1">option 1</option>
          <option value="option 2">option 2</option>
          <option value="option 3">option 3</option>
          <option value="option 4">option 4</option>
          <option value="option 5">option 5</option>
          <option value="option 6">option 6</option>
          <option value="option 7">option 7</option>
          <option value="option 8">option 8</option>
          <option value="option 9">option 9</option>
        </datalist>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Simple form" do
    :markdown
      You can use the autocomplete field input with gem [simple form](https://github.com/plataformatec/simple_form).

      You must add this line in the file `"config/initializers/simple_form.rb"`

    = example do |e|
      - e.code do
        \...
        config.custom_inputs_namespaces << "CustomInputs"
        \...
    %p
      Then in your view, you can insert your input autocomplete field.
      This simple form component is based on simple_form
      = link_to "collection", "https://github.com/plataformatec/simple_form#collections"
      %br
      Collection inputs accept two other options beside collections:
      %ul
        %li label_method => the label method to be applied to the collection to retrieve the label (use this instead of the text_method option in collection_select)
        %li value_method => the value method to be applied to the collection to retrieve the value
      %i label_method and value_method are optional


    = example do |e|
      - e.code do
        simple_form(@search) do |f|
          ...
          f.input :price, as: :autocomplete, collection: @collection, label_method: :name, value_method: :id
          ...
        end


    %p
      You can use `grouped: true` option to group collection
      %br
      Grouped collection inputs accept the same :label_method and :value_method options, which will be used to retrieve label/value attributes for the option tags. Besides that, you can give:
      %ul
        %li group_method => the method to be called on the given collection to generate the options for each group (required)
        %li group_label_method => the label method to be applied on the given collection to retrieve the label for the optgroup (Simple Form will attempt to guess the best one the same way it does with :label_method)


    = example do |e|
      - e.code do
        simple_form(@search) do |f|
          ...
          f.input :country, as: :autocomplete, grouped: true, collection: @collection,  group_method: :last, label_method: :name, value_method: :value
          ...
        end

= @sections.render
