= title 'Modal', url: "components/modal/"
%blockquote UiBibz::Ui::Core::Windows::Modal
%p.bd-callout Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.

= code do
  :plain
    ui_modal options, html_options do |m|
      # by variable
      m.header content, options, html_options
      # or by block
      m.header options, html_options do
        content
      end

      # by variable
      m.body content, options, html_options
      # or by block
      m.body options, html_options do
        content
      end

      # by variable
      m.footer content, options, html_options
      # or by block
      m.footer options, html_options do
        content
      end
    end

= component_options do |co|
  - co.list 'effect', types: 'symbol', values: %w(:fade)
  - co.size_link
  - co.tap_link
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

= component_items do |ci|
  - ci.inherit_component "header"
  - ci.inherit_component "body"
  - ci.inherit_component "footer"

- @sections = sections do |s|
  - s.section title: "Modal" do
    = example do |c|
      - c.header do
        = ui_modal class: 'modal-example' do |m|
          - m.header 'Modal title'
          - m.body 'One fine body'
          - m.footer do
            = ui_button 'Close', status: :danger
            = ui_button 'Save changes', status: :success
      - c.code do
        ui_modal class: "modal-example" do |m|
          m.header "Modal itle"
          m.body "One fine body"
          m.footer do
            button "Close", status: :secondary
            button "Save changes"
          end
        end
      - c.html do
        <div class="modal-example ui_modal">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <div class="modal-body">One fine body</div>
              <div class="modal-footer">
                <button class="btn-secondary btn">Close</button>
                <button class="btn-primary btn">Save changes</button>
              </div>
            </div>
          </div>
        </div>


  - s.section title: "Size" do
    = example do |c|
      - c.header do
        = ui_modal class: 'modal-example', size: :sm do |m|
          - m.header do
            = 'Modal title'
          - m.body do
            = 'One fine body'
      - c.code do
        ui_modal class: "modal-example" do |m|
          m.header do
            "Modal itle"
          end
          m.body do
            "One fine body"
          end
        end
      - c.html do
        <div class="modal-example ui_modal">
          <div class="modal-dialog ui_modal-sm" role="document">
            <div class="modal-content"><div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <div class="modal-body">One fine body</div>
            </div>
          </div>
        </div>

  - s.section title: "Effect" do
    = example do |c|
      - c.header do
        = ui_button_link 'click here', { url: '#' }, { data: { toggle: 'modal', target: '#modal-test' }}
        = ui_modal({ effect: :fade }, { id: 'modal-test' }) do |m|
          - m.header do
            = 'Modal title'
          - m.body do
            = 'One fine body'
      - c.code do
        ui_button_link "click here", { url: "#" }, { data: { toggle: "modal", target: "#modal-test" }}
        ui_modal({ effect: :fade }, { id: "modal-test" }) do |m|
          m.header do
            "Modal itle"
          end
          m.body do
            "One fine body"
          end
        end
      - c.html do
        <a data-toggle="modal" data-target="#modal-test" class="btn-primary btn" href="#">click here</a>
        <div id="modal-test" class="fade ui_modal" style="display: none;">
          <div class="modal-dialog " role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
                </button>
              </div>
              <div class="modal-body">One fine body</div>
            </div>
          </div>
        </div>

= @sections.render
