= title 'Surround Field'
%blockquote UiBibz::Ui::Core::Forms::Texts::SurroundField

= code "surround_field", component_name: "name"

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.list 'append', types: 'html'
  - co.list 'prepend', types: 'html'

- @sections = sections do |s|
  - s.section title: "Surround Field" do
    = example do |e|
      - e.header do
        = surround_field 'search', { append: glyph('pencil'), prepend: glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.code do
        surround_field 'search', { append: glyph('pencil'), prepend: glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.html do
        <div class="input-group">
          <span class="input-group-addon"><i class="glyph fa fa-pencil"></i></span>
          <input type="text" name="search" id="search" placeholder="Type your search..." class="form-control">
          <span class="input-group-addon"><i class="glyph fa fa-camera-retro"></i></span>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Surround Field Options" do
    = example do |e|
      - e.header do
        = surround_field 'search', { state: :disabled, status: :danger, append: glyph('pencil'), prepend: glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.code do
        surround_field 'search', { state: :disabled, status: :danger, append: glyph('pencil'), prepend: glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.html do
        <div class="input-group has-danger">
          <span class="input-group-addon"><i class="glyph fa fa-pencil"></i></span>
          <input type="text" name="search" id="search" placeholder="Type your search..." class="disabled has-danger form-control" disabled="disabled">
          <span class="input-group-addon"><i class="glyph fa fa-camera-retro"></i></span>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Simple form" do
    :markdown
      You can use the `surround_field` input gem with [simple form](https://github.com/plataformatec/simple_form).
      You must add this line to the `"config/initializers/simple_form.rb"`
    = example do |e|
      - e.code do
        \...
        config.custom_inputs_namespaces << "CustomInputs"
        \...

    %p Then in your view , you can insert your input.
    = example do |e|
      - e.header do
        = simple_form_for(@user) do |f|
          - f.input :email, as: :surround_field, append: glyph('envelope')
      - e.code do
        simple_form(@search) do |f|
          ...
          f.input :email, as: :surround_field, append: glyph('envelope')
          ...
        end
      - e.footer do
        = documentation_link 'Documentation', '#'



= @sections.render
