= title 'Text Field', logo_name: 'ui bibz'
%blockquote UiBibz::Ui::Core::Forms::Texts::TextField

= code "ui_text_field", component_name: "name"

= component_options do |co|
  - co.inherit_options_links except: %i(glyph popover status tooltip)
  - co.list 'value', types: 'string', description: "Input's value"
  - co.append_and_prepend_list

- @sections = sections do |s|
  - s.section title: "Text Field" do
    = example do |e|
      - e.header do
        = ui_text_field 'search'
      - e.code do
        ui_text_field "search"
      - e.html do
        <input type="text" name="search" id="search" placeholder="Type your search..." class="form-control">

  - s.section title: "Text Field surrounded" do
    = example do |e|
      - e.header do
        = ui_text_field 'search', { append: ui_glyph('pencil-alt'), prepend: ui_glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.code do
        ui_text_field "search", { append: ui_glyph("pencil-alt"), prepend: ui_glyph("camera-retro") }, { placeholder: "Type your search..." }
      - e.html do
        <div class="input-group">
          <span class="input-group-addon"><i class="glyph fa fa-pencil-alt"></i></span>
          <input type="text" name="search" id="search" placeholder="Type your search..." class="form-control">
          <span class="input-group-addon"><i class="glyph fa fa-camera-retro"></i></span>
        </div>

  - s.section title: "Text Field Options" do
    = example do |e|
      - e.header do
        = ui_text_field 'search', { state: :disabled, status: :danger, append: ui_glyph('pencil-alt'), prepend: ui_glyph('camera-retro') }, { placeholder: 'Type your search...' }
      - e.code do
        ui_text_field "search", { state: :disabled, status: :danger, append: ui_glyph("pencil-alt"), prepend: ui_glyph("camera-retro") }, { placeholder: "Type your search..." }
      - e.html do
        <div class="input-group has-danger">
          <span class="input-group-addon"><i class="glyph fa fa-pencil-alt"></i></span>
          <input type="text" name="search" id="search" placeholder="Type your search..." class="disabled has-danger form-control" disabled="disabled">
          <span class="input-group-addon"><i class="glyph fa fa-camera-retro"></i></span>
        </div>

  - s.section title: "Simple form" do
    %p= simple_form_text_with_input "ui_text_field"
    = example do |e|
      - e.header do
        = ui_form_for(@user) do |f|
          - f.input :email, as: :ui_text_field, append: ui_glyph('envelope')
      - e.code do
        ui_form_for(@search) do |f|
          ...
          f.input :email, as: :ui_text_field, append: ui_glyph("envelope")
          ...
        end



= @sections.render
