= title 'Glyph', logo_name: 'ui bibz'
%blockquote UiBibz::Ui::Core::Icons::Glyph
%p.bd-callout Icon component includes over 634 glyphs in font format from the #{ link_to 'fontawesome.io', 'http://fontawesome.io/icons/'} set (<em>version #{ UiBibzApp::Application::FONTAWESOME_VERSION }</em>).

= code do
  :plain
    # by variable
    ui_glyph name, options, html_options

    # or by block
    ui_glyph options, html_options do
      content
    end

    # or by hash
    ui_glyph options

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.size_link
  - co.list 'flip', types: 'symbol', values: %w(:horizontal :vertical)
  - co.list 'name', types: 'string'
  - co.list 'rotate', types: 'number'
  - co.list 'stack', types: 'integer'
  - co.list 'label', types: 'string'
  - co.list 'style', types: 'symbol'
  - co.cache_link
  - co.popover_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

- @sections = sections do |s|
  - s.section title: "Glyph" do
    = example do |c|
      - c.header do
        = ui_glyph 'gem'
      - c.code do
        ui_glyph "gem"
      - c.html do
        <i class="glyph fa fa-gem"></i>

  - s.section title: "Size" do
    %p The size can be be defined through the `size` option that has the following arguments :
    %ul
      - UiBibzApp::Application::SIZES.each do |size|
        %li= ":#{ size }"
      - 5.times.each do |i|
        %li= i + 1

    = example do |c|
      - c.header do
        %br
        - UiBibzApp::Application::SIZES.each do |size|
          = ui_glyph 'gem', size: size
        - 5.times.each do |i|
          = ui_glyph 'gem', size: i + 1
        %br
        %br
        %br
      - c.code do
        - UiBibzApp::Application::SIZES.each do |size|
          = "ui_glyph \"gem\", size: :#{ size }".html_safe
        - 5.times.each do |i|
          = "ui_glyph \"gem\", size: #{ i + 1 }".html_safe
      - c.html do
        <i class="glyph fa fa-gem fa-1x"></i>
        <i class="glyph fa fa-gem fa-2x"></i>
        <i class="glyph fa fa-gem fa-3x"></i>
        <i class="glyph fa fa-gem fa-5x"></i>

  - s.section title: "Type" do
    = example do |c|
      :markdown
        * `fw` : fixed width icon
      - c.header do
        = ui_glyph 'gem', type: 'fw'
      - c.code do
        ui_glyph "gem", type: "fw"
      - c.html do
        <i class="glyph fa fa-gem fa-fw"></i>

  - s.section title: "status" do
    = status_description
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_glyph 'gem', status: status
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_glyph \"gem\", status: :#{ status }".html_safe
      - c.html do
        <i class="glyph-primary glyph fa fa-gem"></i>
        <i class="glyph-secondary glyph fa fa-gem"></i>
        <i class="glyph-success glyph fa fa-gem"></i>
        <i class="glyph-danger glyph fa fa-gem"></i>
        <i class="glyph-warning glyph fa fa-gem"></i>
        <i class="glyph-info glyph fa fa-gem"></i>
        <i class="glyph-light glyph fa fa-gem"></i>
        <i class="glyph-dark glyph fa fa-gem"></i>

  - s.section title: "Rotate" do
    = example do |c|
      - c.header do
        = ui_glyph 'gem', rotate: 90
        = ui_glyph 'gem', rotate: 180
        = ui_glyph 'gem', rotate: 270
      - c.code do
        ui_glyph "gem", rotate: 90
        ui_glyph "gem", rotate: 180
        ui_glyph "gem", rotate: 270
      - c.html do
        <i class="glyph fa fa-gem fa-rotate-90"></i>
        <i class="glyph fa fa-gem fa-rotate-180"></i>
        <i class="glyph fa fa-gem fa-rotate-270"></i>

  - s.section title: "Flip" do
    = example do |c|
      - c.header do
        = ui_glyph 'gem', flip: :horizontal
        = ui_glyph 'gem', flip: :vertical
      - c.code do
        ui_glyph "gem", flip: :horizontal
        ui_glyph "gem", flip: :vertical
      - c.html do
        <i class="glyph fa fa-gem fa-flip-horizontal"></i>
        <i class="glyph fa fa-gem fa-flip-vertical"></i>

  - s.section title: "Stack" do
    = example do |c|
      - c.header do
        = ui_glyph 'square', stack: 2
        = ui_glyph 'gem', stack: 1, status: :danger
      - c.code do
        ui_glyph "square", stack: 2
        ui_glyph "gem", stack: 1, status: :danger
      - c.html do
        <i class="glyph fa fa-square fa-stack-2x"></i>
        <i class="glyph-danger ui_glyph fa fa-gem fa-stack-1x"></i>

  - s.section title: "Label" do
    = example do |c|
      - c.header do
        = ui_glyph 'gem', label: 'gem'
      - c.code do
        ui_glyph "gem", label: 'gem'
      - c.html do
        <i class="glyph fa fa-gem"></i> gem

  - s.section title: "Style" do
    %ul
      %li :solid
      %li :regular
      %li :light
      %li :brands

    = example do |c|
      - c.header do
        = ui_glyph 'bluetooth', style: :brands
      - c.code do
        ui_glyph 'bluethooth', style: :brands
      - c.html do
        <i class="glyph fa fa-gem fa-1x"></i> gem

  - s.section title: "Hash" do
    %p You can create a ui_glyph with only one hash.
    = example do |c|
      - c.header do
        = ui_glyph({ name: 'gem', size: :sm, label: 'gem' })
      - c.code do
        ui_glyph { name: "gem", size: :sm, label: "gem" }
      - c.html do
        <i class="glyph fa fa-gem fa-1x"></i> gem

= @sections.render
