= title 'Glyph'
%blockquote UiBibz::Ui::Core::Icons::Glyph
%p.bd-callout Icon component includes over 634 glyphs in font format from the #{ link_to 'fontawesome.io', 'http://fontawesome.io/icons/'} set (<em>version #{ UiBibzApp::Application::FONTAWESOME_VERSION }</em>).

= code do
  :plain
    # by variable
    ui_glyph name, options, html_options

    # or by block
    ui_glyph options, html_options do
      content
    end

    # or by hash
    ui_glyph options

= component_options do |co|
  - co.status_link
  - co.state_link
  - co.size_link
  - co.list 'flip', types: 'symbol', values: %w(:horizontal :vertical)
  - co.list 'name', types: 'string'
  - co.list 'rotate', types: 'number'
  - co.list 'stack', types: 'integer'
  - co.list 'label', types: 'string'

- @sections = sections do |s|
  - s.section title: "Glyph" do
    = example do |c|
      - c.header do
        = ui_glyph 'diamond'
      - c.code do
        ui_glyph 'diamond'
      - c.html do
        <i class="glyph fa fa-diamond"></i>

  - s.section title: "Size" do
    %p The size can be be defined through the `size` option that has the following arguments :
    %ul
      - UiBibzApp::Application::SIZES.each do |size|
        %li= ":#{ size }"
      - 5.times.each do |i|
        %li= i + 1

    = example do |c|
      - c.header do
        - UiBibzApp::Application::SIZES.each do |size|
          = ui_glyph 'diamond', size: size
        - 5.times.each do |i|
          = ui_glyph 'diamond', size: i + 1
      - c.code do
        - UiBibzApp::Application::SIZES.each do |size|
          = "ui_glyph 'diamond', size: :#{ size }".html_safe
        - 5.times.each do |i|
          = "ui_glyph 'diamond', size: #{ i + 1 }".html_safe
      - c.html do
        <i class="glyph fa fa-diamond fa-1x"></i>
        <i class="glyph fa fa-diamond fa-2x"></i>
        <i class="glyph fa fa-diamond fa-3x"></i>
        <i class="glyph fa fa-diamond fa-5x"></i>

  - s.section title: "Type" do
    = example do |c|
      :markdown
        * `fw` : fixed width icon
      - c.header do
        = ui_glyph 'diamond', type: 'fw'
      - c.code do
        ui_glyph 'diamond', type: 'fw'
      - c.html do
        <i class="glyph fa fa-diamond fa-fw"></i>

  - s.section title: "status" do
    = status_description
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_glyph 'diamond', status: status
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          = "ui_glyph 'diamond', status: :#{ status }".html_safe
      - c.html do
        <i class="glyph-primary glyph fa fa-diamond"></i>
        <i class="glyph-secondary glyph fa fa-diamond"></i>
        <i class="glyph-success glyph fa fa-diamond"></i>
        <i class="glyph-danger glyph fa fa-diamond"></i>
        <i class="glyph-warning glyph fa fa-diamond"></i>
        <i class="glyph-info glyph fa fa-diamond"></i>
        <i class="glyph-light glyph fa fa-diamond"></i>
        <i class="glyph-dark glyph fa fa-diamond"></i>

  - s.section title: "Rotate" do
    = example do |c|
      - c.header do
        = ui_glyph 'diamond', rotate: 90
        = ui_glyph 'diamond', rotate: 180
        = ui_glyph 'diamond', rotate: 270
      - c.code do
        ui_glyph 'diamond', rotate: 90
        ui_glyph 'diamond', rotate: 180
        ui_glyph 'diamond', rotate: 270
      - c.html do
        <i class="glyph fa fa-diamond fa-rotate-90"></i>
        <i class="glyph fa fa-diamond fa-rotate-180"></i>
        <i class="glyph fa fa-diamond fa-rotate-270"></i>

  - s.section title: "Flip" do
    = example do |c|
      - c.header do
        = ui_glyph 'diamond', flip: :horizontal
        = ui_glyph 'diamond', flip: :vertical
      - c.code do
        ui_glyph 'diamond', flip: :horizontal
        ui_glyph 'diamond', flip: :vertical
      - c.html do
        <i class="glyph fa fa-diamond fa-flip-horizontal"></i>
        <i class="glyph fa fa-diamond fa-flip-vertical"></i>

  - s.section title: "Stack" do
    = example do |c|
      - c.header do
        = ui_glyph 'square', stack: 2
        = ui_glyph 'diamond', stack: 1, status: :danger
      - c.code do
        ui_glyph 'square', stack: 2
        ui_glyph 'diamond', stack: 1, status: :danger
      - c.html do
        <i class="glyph fa fa-square fa-stack-2x"></i>
        <i class="glyph-danger ui_glyph fa fa-diamond fa-stack-1x"></i>

  - s.section title: "Label" do
    = example do |c|
      - c.header do
        = ui_glyph 'diamond', label: 'Diamond'
      - c.code do
        ui_glyph 'diamond', label: 'Diamond'
      - c.html do
        <i class="glyph fa fa-diamond"></i> Diamond

  - s.section title: "Hash" do
    %p You can create a ui_glyph with only one hash.
    = example do |c|
      - c.header do
        = ui_glyph({ name: 'diamond', size: :sm, label: 'Diamond' })
      - c.code do
        ui_glyph { name: 'diamond', size: :sm, label: 'Diamond' }
      - c.html do
        <i class="glyph fa fa-diamond fa-1x"></i> Diamond

= @sections.render
