%h1 Date Picker Fields
%p
  Ce composant est basé de la librairie
  = link_to "Jquery multiselect", "http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox"
  \.

- @sections = sections do |s|
  - s.section title: "Date Picker Field" do
    = example do |e|
      - e.header do
        = date_picker_field 'search'
      - e.code do
        date_picker_field 'search'
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field with glyph" do
    = example do |e|
      - e.header do
        = date_picker_field 'date_at', append: glyph('calendar'), prepend: glyph('pencil')
      - e.code do
        date_picker_field 'date_at', append: glyph('calendar'), prepend: glyph('pencil')
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field range" do
    = example do |e|
      - e.header do
        = date_picker_field 'range', range: 'to'
      - e.code do
        date_picker_field 'range', range: 'to'
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field range with glyph" do
    = example do |e|
      - e.header do
        = date_picker_field 'range', range: glyph('calendar-minus-o'), append: glyph('car'), prepend: glyph('pencil')
      - e.code do
        date_picker_field 'range', range: glyph('calendar-minus-o'), append: glyph('car'), prepend: glyph('pencil')
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Date Picker Field date options" do
    %p
      %ul
        %li date_today_highlight - Boolean
        %li calendar_weeks - Boolean
        %li autoclose - Boolean
        %li dates_disabled - String or Array

  - s.section title: "Simple form" do
    %p
      Vous pouvez utiliser l'input date_picker avec la gem
      = link_to 'simple form', "https://github.com/plataformatec/simple_form"
      \.
      %br
      Vous devez ajouter cette ligne
      dans le fichier
      %code "config/initializers/simple_form.rb"
    = example do |e|
      - e.code do
        \...
        config.custom_inputs_namespaces << "CustomInputs"
        \...

    %p Ensuite dans votre vue, vous pouvez insérer votre champ input date_picker.
    = example do |e|
      - e.code do
        simple_form(@search) do |f|
          ...
          f.input :date, as: :date_picker, append: 'Date'
          ...
        end
= @sections.render
