:markdown
  # Dropdown_select Fields
  This component is based on the library [Bootstrap select](http://silviomoreto.github.io/bootstrap-select/examples/)

- @sections = sections do |s|
  - s.section title: "Dropdown Select Field" do
    = example do |e|
      - e.header do
        = dropdown_select_field 'example1', option_tags: options_for_select(5.times.map{ |i| "option #{i}" })
      - e.code do
        dropdown_select_field 'example1', option_tags: options_for_select(5.times.map{ |i| "option \#{i}" })
      - e.html do
        <div class="btn-group bootstrap-select">
          <button type="button" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" data-id="example1" title="option 0">
            <span class="filter-option pull-left">option 0</span>&nbsp;
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu open">
            <ul class="dropdown-menu inner" role="menu">
              <li data-original-index="0" class="selected">
                <a tabindex="0" class="" style="" data-tokens="null">
                  <span class="text">option 0</span>
                  <span class="fa fa-check check-mark"></span>
                </a>
              </li>
              <li data-original-index="1">
                <a tabindex="0" class="" style="" data-tokens="null">
                  <span class="text">option 1</span>
                  <span class="fa fa-check check-mark"></span>
                </a>
              </li>
              <li data-original-index="2">
                <a tabindex="0" class="" style="" data-tokens="null">
                  <span class="text">option 2</span>
                  <span class="fa fa-check check-mark"></span>
                </a>
              </li>
              <li data-original-index="3">
                <a tabindex="0" class="" style="" data-tokens="null">
                  <span class="text">option 3</span>
                  <span class="fa fa-check check-mark"></span>
                </a>
              </li>
              <li data-original-index="4">
                <a tabindex="0" class="" style="" data-tokens="null">
                  <span class="text">option 4</span>
                  <span class="fa fa-check check-mark"></span>
                </a>
              </li>
              <li data-original-index="5">
                <a tabindex="0" class="" style="" data-tokens="null">
                  <span class="text">option 5</span>
                  <span class="fa fa-check check-mark"></span>
                </a>
              </li>
            </ul>
          </div>
          <select name="example1" id="example1" class="selectpicker" tabindex="-98">
            <option value="option 0">option 0</option>
            <option value="option 1">option 1</option>
            <option value="option 2">option 2</option>
            <option value="option 3">option 3</option>
            <option value="option 4">option 4</option>
            <option value="option 5">option 5</option>
          </select>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Dropdown Select Field searchable" do
    = example do |e|
      - e.header do
        = dropdown_select_field 'example1', searchable: true, option_tags: options_for_select(5.times.map{ |i| "option #{i}" })
      - e.code do
        dropdown_select_field 'example1', searchable: true, option_tags: options_for_select(5.times.map{ |i| "option \#{i}" })
      - e.html do
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Dropdown Select Field max_options" do
    = example do |e|
      - e.header do
        = dropdown_select_field 'example1', max_options: 3, option_tags: options_for_select(5.times.map{ |i| "option #{i}" })
      - e.code do
        dropdown_select_field 'example1', max_options: 3, option_tags: options_for_select(5.times.map{ |i| "option \#{i}" })
      - e.html do
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Dropdown Select Field selected_text_format" do
    %p
      values: A comma delimited list of selected values (default)
      count: If one item is selected, then the option value is shown. If more than one is selected then the number of selected items is displayed, e.g. 2 of 6 selected
      count > x: Where x is the number of items selected when the display format changes from values to count
      static: Always show the select title (placeholder), regardless of selection

    = example do |e|
      - e.header do
        = dropdown_select_field 'example1', selected_text_format: "count", option_tags: options_for_select(5.times.map{ |i| "option #{i}" })
      - e.code do
        dropdown_select_field 'example1', selected_text_format: "count", option_tags: options_for_select(5.times.map{ |i| "option \#{i}" })
      - e.html do
      - e.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
