:markdown
  # Cards column, deck and group
  Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.

- @sections = sections do |s|
  - s.section title: "Card column" do
    = example do |e|
      - e.header do
        = card_column do |cc|
          - cc.card "content 1"
          - cc.card "content 2"
          - cc.card "Content 3 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cc.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cc.card "content 5"
      - e.code do
        card_column do |cc|
          cc.card "content 1"
          cc.card "content 2"
          cc.card "Content 3 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cc.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cc.card "content 5"
        end
      - e.html do
        <div class="card-columns">
          <div class="card card-block">content 1</div>
          <div class="card card-block">content 2</div>
          <div class="card card-block">Content 3 <br> Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          <div class="card card-block">Content 4 <br> Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          <div class="card card-block">content 5</div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Card deck" do
    = example do |e|
      - e.header do
        = card_deck do |cd|
          - cd.card "content 1"
          - cd.card "Content 2 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cd.card "content 3"
          - cd.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cd.card "content 5"
      - e.code do
        card_deck do |cd|
          cc.card "content 1"
          cc.card "Content 2 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cc.card "content 3"
          cc.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cc.card "content 5"
        end
      - e.html do
        <div class="card-columns">
          <div class="card card-block">content 1</div>
          <div class="card card-block">content 2</div>
          <div class="card card-block">Content 3 <br> Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          <div class="card card-block">Content 4 <br> Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          <div class="card card-block">content 5</div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Card group" do
    = example do |e|
      - e.header do
        = card_group do |cg|
          - cg.card "content 1"
          - cg.card "Content 2 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cg.card "content 3"
          - cg.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cg.card "content 5"
      - e.code do
        card_group do |cg|
          cg.card "content 1"
          cg.card "Content 2 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cg.card "content 3"
          cg.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cg.card "content 5"
        end
      - e.html do
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card card-block">content 1</div>
            <div class="card card-block">Content 2 <br> Some quick example text to build on the card title and make up the bulk of the card's content.</div>
            <div class="card card-block">content 3</div>
            <div class="card card-block">Content 4 <br> Some quick example text to build on the card title and make up the bulk of the card's content.</div>
            <div class="card card-block">content 5</div>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
