%h1 Cards column, deck and group
%p= extend_of_component 'card_column'
%p Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, statuss, and more.
%p Card column, card deck and card group contains #{ link_to 'cards', components_cards_cards_path }.


- @sections = sections do |s|
  - s.section title: "Card column" do
    = example do |e|
      - e.header do
        = card_column do |cc|
          - cc.card tap: true do |c|
            - c.header 'header 1'
            - c.block "content 1"
            - c.footer 'footer 1'
          - cc.card tap: true do |c|
            - c.image 'image.svg'
            - c.block tap: true do |b|
              - b.title 'Card title'
              - b.text 'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'
              - b.text "<small class='text-muted'>Last updated 3 mins ago</small>"
          - cc.card tap: true do |c|
            - c.list_group do |lg|
              - lg.list "Cras justo odio"
              - lg.list "Dapibas ac facilisis in", state: :active
              - lg.list tap: true do |l|
                - l.header 'Header list'
                - l.body "vestibulum at eros"
          - cc.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cc.card status: :primary, type: :inverse, text_position: :center do
            = '<blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>'.html_safe
      - e.code do
        card_column do |cc|
          cc.card tap: true do |c|
            c.header "header 1"
            c.block "content 1"
            c.footer "footer 1"
          end
          cc.card tap: true do |c|
            c.image 'image.svg'
            c.block tap: true do |b|
              b.title 'Card title'
              b.text 'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'
              b.text "<small class='text-muted'>Last updated 3 mins ago</small>"
            end
          end
          cc.card tap: true do |c|
            c.list_group do |lg|
              lg.list "Cras justo odio"
              lg.list "Dapibas ac facilisis in", state: :active
              lg.list tap: true do |l|
                l.header 'Header list'
                l.body "vestibulum at eros"
              end
            end
          end
          cc.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cc.card status: :primary, type: :inverse, text_position: :center do
            '<blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>'.html_safe
          end
        end
      - e.html do
        <div class="card-columns">
          <div class="card">
            <div class="card-header">header 1</div>
            <div class="card-block">content 1</div>
            <div class="card-footer">footer 1</div>
          </div>
          <div class="card">
            <img src="/assets/image.svg" alt="Image">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <ul class="list-group-flush list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="active list-group-item">Dapibas ac facilisis in</li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Header list</h4>
                <p class="list-group-item-text">vestibulum at eros</p>
              </li>
            </ul>
          </div>
          <div class="card card-block">Content 4 <br> Some quick example text to build on the card title and make up the bulk of the card's content.
          </div>
          <div class="card-primary card text-center card-block card-inverse">
            <blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Card deck" do

    %p= extend_of_component 'card_deck'

    = example do |e|
      - e.header do
        = card_deck do |cd|
          - cd.card(tap: true) do |c|
            - c.header 'header 1'
            - c.block 'content 1'
            - c.footer 'footer 1'
          - cd.card tap: true do |c|
            - c.image 'image.svg'
            - c.block tap: true do |b|
              - b.title 'Card title'
              - b.text 'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'
              - b.text "<small class='text-muted'>Last updated 3 mins ago</small>"
          - cd.card tap: true do |c|
            - c.list_group do |lg|
              - lg.list "Cras justo odio"
              - lg.list "Dapibas ac facilisis in", state: :active
              - lg.list tap: true do |l|
                - l.header 'Header list'
                - l.body "vestibulum at eros"
          - cd.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          - cd.card status: :primary, type: :inverse, text_position: :center do
            = '<blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>'.html_safe
      - e.code do
        card_deck do |cd|
          cd.card tap: true do |c|
            c.header "header 1"
            c.block "content 1"
            c.footer "footer 1"
          end
          cd.card tap: true do |c|
            c.image 'image.svg'
            c.block tap: true do |b|
              b.title 'Card title'
              b.text 'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'
              b.text "<small class='text-muted'>Last updated 3 mins ago</small>"
            end
          end
          cd.card tap: true do |c|
            c.list_group do |lg|
              lg.list "Cras justo odio"
              lg.list "Dapibas ac facilisis in", state: :active
              lg.list tap: true do |l|
                l.header 'Header list'
                l.body "vestibulum at eros"
              end
            end
          end
          cd.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cd.card status: :primary, type: :inverse, text_position: :center do
            '<blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>'.html_safe
          end
        end
      - e.html do
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-header">header 1</div>
              <div class="card-block">content 1</div>
              <div class="card-footer">footer 1</div>
            </div>
            <div class="card">
              <img src="/assets/image.svg" alt="Image">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <ul class="list-group-flush list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="active list-group-item">Dapibas ac facilisis in</li>
                <li class="list-group-item">
                  <h4 class="list-group-item-heading">Header list</h4>
                  <p class="list-group-item-text">vestibulum at eros</p>
                </li>
              </ul>
            </div>
            <div class="card card-block">Content 4 <br> Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
            <div class="card-primary card text-center card-block card-inverse">
              <blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>
            </div>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Card group" do
    %p= extend_of_component 'card_group'
    = example do |e|
      - e.header do
        = card_group do |cg|
          - cg.card(tap: true) do |c|
            - c.header 'header 1'
            - c.block 'content 1'
            - c.footer 'footer 1'
          - cg.card tap: true do |c|
            - c.image 'image.svg'
            - c.block tap: true do |b|
              - b.title 'card title'
              - b.text 'this is a wider card with supporting text below as a natural lead-in to additional content. this content is a little bit longer.'
              - b.text "<small class='text-muted'>last updated 3 mins ago</small>"
          - cg.card tap: true do |c|
            - c.list_group do |lg|
              - lg.list "cras justo odio"
              - lg.list "Dapibas ac facilisis in", state: :active
              - lg.list tap: true do |l|
                - l.header 'Header list'
                - l.body "vestibulum at eros"
          - cg.card "content 4 <br/> some quick example text to build on the card title and make up the bulk of the card's content."
          - cg.card status: :primary, type: :inverse, text_position: :center do
            = '<blockquote class="card-blockquote"><p>lorem ipsum dolor sit amet, consectetur adipiscing elit. integer posuere erat a ante.</p><footer>someone famous in <cite title="source title">source title</cite></footer></blockquote>'.html_safe
      - e.code do
        card_group do |cg|
          cg.card tap: true do |c|
            c.header "header 1"
            c.block "content 1"
            c.footer "footer 1"
          end
          cg.card tap: true do |c|
            c.image 'image.svg'
            c.block tap: true do |b|
              b.title 'Card title'
              b.text 'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'
              b.text "<small class='text-muted'>Last updated 3 mins ago</small>"
            end
          end
          cg.card tap: true do |c|
            c.list_group do |lg|
              lg.list "Cras justo odio"
              lg.list "Dapibas ac facilisis in", state: :active
              lg.list tap: true do |l|
                l.header 'Header list'
                l.body "vestibulum at eros"
              end
            end
          end
          cg.card "Content 4 <br/> Some quick example text to build on the card title and make up the bulk of the card's content."
          cg.card status: :primary, type: :inverse, text_position: :center do
            '<blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>'.html_safe
          end
        end
      - e.html do
        <div class="card-group">
          <div class="card">
            <div class="card-header">header 1</div>
            <div class="card-block">content 1</div>
            <div class="card-footer">footer 1</div>
          </div>
          <div class="card">
            <img src="/assets/image.svg" alt="Image">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <ul class="list-group-flush list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="active list-group-item">Dapibas ac facilisis in</li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Header list</h4>
                <p class="list-group-item-text">vestibulum at eros</p>
              </li>
            </ul>
          </div>
          <div class="card card-block">Content 4 <br> Some quick example text to build on the card title and make up the bulk of the card's content.
          </div>
          <div class="card-primary card text-center card-block card-inverse">
            <blockquote class="card-blockquote"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><footer>Someone famous in <cite title="Source Title">Source Title</cite></footer></blockquote>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
