:markdown
  # Cards
  Use Bootstrap’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more.

- @sections = sections do |s|
  - s.section title: "Card" do
    = example do |e|
      - e.header do
        = card do
          = "Content"
        = card "Content", { state: :info }, { class: 'my-card1'}
        = card({ state: :success }, { class: 'my-card2'})  do
          = "Content"
      - e.code do
        card do
          Content
        end
         
        card "Content", { state: :info }, { class: 'my-card1'}
         
        card({ state: :success }, { class: 'my-card2'})  do
          "Content"
        end
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Card with header, block and footer" do
    = example do |e|
      - e.header do
        = card_deck do |cd|
          - cd.card tap: true do |c|
            - c.header 'Header 1'
            - c.block 'Content 1'
            - c.footer 'Footer 1'
          - cd.card tap: true do |c|
            - c.header 'Header 2', { glyph: 'diamond' }, { class: 'my-header' }
            - c.block 'Content 2', { glyph: 'diamond' }, { class: 'my-content' }
            - c.footer 'Footer 2', { muted: true }, { class: 'my-footer'}
          - cd.card tap: true do |c|
            - c.header({ glyph: 'diamond' }, { class: 'my-header' }) do
              = 'Header 3'
            - c.block({ glyph: 'diamond' }, { class: 'my-content' }) do
              = "Content 3"
            - c.footer({ muted: true }, { class: 'my-footer'}) do
              = "Footer 3"
      - e.code do
        card tap: true do |c|
          c.header 'Header 1'
          c.block 'Content 1'
          c.footer 'Footer 1'
        end
         
        card tap: true do |c|
          c.header 'Header 2', { glyph: 'diamond' }, { class: 'my-header' }
          c.block 'Content 2', { glyph: 'diamond' }, { class: 'my-content' }
          c.footer 'Footer 2', { muted: true }, { class: 'my-footer'}
        end
         
        card tap: true do |c|
          c.header({ glyph: 'diamond' }, { class: 'my-header' }) do
            'Header 3'
          end
          c.block({ glyph: 'diamond' }, { class: 'my-content' }) do
            "Content 3"
          end
          c.footer({ muted: true }, { class: 'my-footer'}) do
            "Footer 3"
          end
        end
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Image and block" do
    = example do |e|
      - e.header do
        = card tap: true do |c|
          - c.image 'image.svg'
          - c.block tap: true do |b|
            - b.title "Card title"
            - b.text "Some quick example text to build on the card title and make up the bulk of the card's content."
          - c.list_group do |lg|
            - lg.list "Cras justo odio"
            - lg.list "Dapibas ac facilisis in"
            - lg.list "vestibulum at eros"
          - c.block tap: true do |b|
            - b.link "Card link", url: '#', class: "card-link"
            - b.link "Card link", url: '#', class: "card-link"
      - e.code do
        card tap: true do |c|
          c.image 'image.svg'
          c.block tap: true do |b|
            b.title "Card title"
            b.text "Some quick example text to build on the card title and make up the bulk of the card's content."
          end
          c.list_group do |lg|
            lg.list "Cras justo odio"
            lg.list "Dapibas ac facilisis in"
            lg.list "vestibulum at eros"
          end
          c.block tap: true do |b|
            b.link "Card link", url: '#', class: "card-link"
            b.link "Card link", url: '#', class: "card-link"
          end
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Position" do
    = example do |e|
      - e.header do
        = card_deck do |cd|
          - cd.card tap: true do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

          - cd.card tap: true, text_position: :center do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

          - cd.card tap: true, text_position: :right do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
      - e.code do
        card tap: true do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
          end
        end
         
        card tap: true, text_position: :center do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
          end
        end
         
        card tap: true, text_position: :right do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
          end
        end
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Inverse and colors" do
    = example do |e|
      - e.header do
        = card_column do |cd|
          - cd.card({ tap: true, type: :inverse }, { style: "background-color: #333; border-color: #333;" }) do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, state: :primary do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, state: :success do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, state: :danger do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, state: :info do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, state: :warning do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
      - e.code do
        card({ tap: true, type: :inverse }, { style: "background-color: #333; border-color: #333;" }) do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, state: :primary do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, state: :success do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, state: :danger do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, state: :info do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, state: :warning do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
      - e.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
