%h1 Cards
%p= extend_of_component 'card'

- @sections = sections do |s|
  - s.section title: "Card" do
    :markdown
      Card has several options:

      * #{ status_link }
      * text_position (`:left, :center, :right`)
      * type (`:inverse`)

    = example do |e|
      - e.header do
        = card do
          = "Content"
        = card "Content", { status: :info }, { class: 'my-card1'}
        = card({ status: :success }, { class: 'my-card2'})  do
          = "Content"
      - e.code do
        card do
          Content
        end
         
        card "Content", { status: :info }, { class: 'my-card1'}
         
        card({ status: :success }, { class: 'my-card2'})  do
          "Content"
        end
      - e.html do
        <div class="card card-block">Content</div>
        <div class="my-card1 card-info card card-block">Content</div>
        <div class="my-card2 card-success card card-block">Content</div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Card with header, block and footer" do
    :markdown
      Card has several block type:

      * #{ inherit_component_link 'header' }
      * #{ inherit_component_link 'block' }
      * #{ inherit_component_link 'footer' }
      * image
      * #{ link_to 'list_group', components_lists_group_path }

      To add a block type, you must add `tap: true` to the card options.

    = example do |e|
      - e.header do
        = card_deck do |cd|
          - cd.card tap: true do |c|
            - c.header 'Header 1'
            - c.block 'Content 1'
            - c.footer 'Footer 1'
          - cd.card tap: true do |c|
            - c.header 'Header 2', { glyph: 'diamond' }, { class: 'my-header' }
            - c.block 'Content 2', { glyph: 'diamond' }, { class: 'my-content' }
            - c.footer 'Footer 2', { muted: true }, { class: 'my-footer'}
          - cd.card tap: true do |c|
            - c.header({ glyph: 'diamond' }, { class: 'my-header' }) do
              = 'Header 3'
            - c.block({ glyph: 'diamond' }, { class: 'my-content' }) do
              = "Content 3"
            - c.footer({ muted: true }, { class: 'my-footer'}) do
              = "Footer 3"
      - e.code do
        card tap: true do |c|
          c.header 'Header 1'
          c.block 'Content 1'
          c.footer 'Footer 1'
        end
         
        card tap: true do |c|
          c.header 'Header 2', { glyph: 'diamond' }, { class: 'my-header' }
          c.block 'Content 2', { glyph: 'diamond' }, { class: 'my-content' }
          c.footer 'Footer 2', { muted: true }, { class: 'my-footer'}
        end
         
        card tap: true do |c|
          c.header({ glyph: 'diamond' }, { class: 'my-header' }) do
            'Header 3'
          end
          c.block({ glyph: 'diamond' }, { class: 'my-content' }) do
            "Content 3"
          end
          c.footer({ muted: true }, { class: 'my-footer'}) do
            "Footer 3"
          end
        end
      - e.html do
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-header">Header 1</div>
              <div class="card-block">Content 1</div>
              <div class="card-footer">Footer 1</div>
            </div>
            <div class="card">
              <div class="my-header card-header"><i class="glyph fa fa-diamond"></i> Header 2</div>
              <div class="my-content card-block">Content 2</div>
              <div class="my-footer card-footer text-muted">Footer 2</div>
            </div>
            <div class="card">
              <div class="my-header card-header"><i class="glyph fa fa-diamond"></i> Header 3</div>
              <div class="my-content card-block">Content 3</div>
              <div class="my-footer card-footer text-muted">Footer 3</div>
            </div>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Image and list_group" do
    :markdown

      * image (`String`)
      * #{ link_to 'list_group', components_lists_group_path }
        * #{ inherit_component_link 'list' }

    = example do |e|
      - e.header do
        = card tap: true do |c|
          - c.image 'image.svg'
          - c.block tap: true do |b|
            - b.title "Card title"
            - b.text "Some quick example text to build on the card title and make up the bulk of the card's content."
          - c.list_group do |lg|
            - lg.list "Cras justo odio"
            - lg.list "Dapibas ac facilisis in"
            - lg.list "vestibulum at eros"
          - c.block tap: true do |b|
            - b.link "Card link", url: '#', class: "card-link"
            - b.link "Card link", url: '#', class: "card-link"
      - e.code do
        card tap: true do |c|
          c.image 'image.svg'
          c.block tap: true do |b|
            b.title "Card title"
            b.text "Some quick example text to build on the card title and make up the bulk of the card's content."
          end
          c.list_group do |lg|
            lg.list "Cras justo odio"
            lg.list "Dapibas ac facilisis in"
            lg.list "vestibulum at eros"
          end
          c.block tap: true do |b|
            b.link "Card link", url: '#', class: "card-link"
            b.link "Card link", url: '#', class: "card-link"
          end
      - e.html do
        <div class="card">
          <img src="/assets/image.svg" alt="Image">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group-flush list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibas ac facilisis in</li>
            <li class="list-group-item">vestibulum at eros</li>
          </ul>
          <div class="card-block">
            <a class="card-link card-title">Card link</a>
            <a class="card-link card-title">Card link</a>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'
        |
        = itag "list_group", components_lists_group_path

  - s.section title: "Block and Position" do

    :markdown
      Card block has several block type:

      * #{ inherit_component_link 'title' }
      * #{ inherit_component_link 'text' }
      * #{ inherit_component_link 'link' }

      To add a block type, you must add `tap: true` to the block options.

    = example do |e|
      - e.header do
        = card_deck do |cd|
          - cd.card tap: true do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

          - cd.card tap: true, text_position: :center do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'

          - cd.card tap: true, text_position: :right do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
              - b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
      - e.code do
        card tap: true do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
          end
        end
         
        card tap: true, text_position: :center do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
          end
        end
         
        card tap: true, text_position: :right do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
            b.link "Go somewhere", url: '#go-somewhere', class: 'btn btn-primary'
          end
        end
      - e.html do
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary card-title">Go somewhere</a>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary card-title">Go somewhere</a>
              </div>
            </div>
            <div class="card text-right">
              <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary card-title">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

  - s.section title: "Inverse and colors" do
    = example do |e|
      - e.header do
        = card_column do |cd|
          - cd.card({ tap: true, type: :inverse }, { style: "background-color: #333; border-color: #333;" }) do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, status: :primary do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, status: :success do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, status: :danger do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, status: :info do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
          - cd.card tap: true, type: :inverse, status: :warning do |c|
            - c.block tap: true do |b|
              - b.title "Special title treatment"
              - b.text "With supporting text below as a natural lead-in to additional content."
      - e.code do
        card({ tap: true, type: :inverse }, { style: "background-color: #333; border-color: #333;" }) do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, status: :primary do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, status: :success do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, status: :danger do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, status: :info do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
         
        card tap: true, type: :inverse, status: :warning do |c|
          c.block tap: true do |b|
            b.title "Special title treatment"
            b.text "With supporting text below as a natural lead-in to additional content."
          end
        end
      - e.html do
        <div class="card-columns">
          <div style="background-color: #333; border-color: #333;" class="card card-inverse">
            <div class="card-block">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card-primary card card-inverse">
            <div class="card-block">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card-success card card-inverse">
            <div class="card-block">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card-danger card card-inverse">
            <div class="card-block">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card-info card card-inverse">
            <div class="card-block">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card-warning card card-inverse">
            <div class="card-block">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      - e.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
