= title 'Split Dropdown', url: bootstrap_start_url("components/dropdowns/#single-button")
%blockquote UiBibz::Ui::Core::Forms::Dropdowns::SplitDropdown
%p.bd-callout Use any button to trigger a dropdown menu by providing the proper menu markup.

= code do
  :plain
    ui_split_dropdown name, options, html_options do |d|
      # by variable
      d.link content, options, html_options
      # or block
      d.link options, html_options do
        content
      end

      d.divider

      # by variable
      d.header content, options, html_options
      # or block
      d.header options, html_options do
        content
      end

      # by variable
      d.html content
      # or block
      d.html do
        content
      end
    end

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.state_link
  - co.size_link
  - co.list 'inline', types: 'boolean', values: %w(true false)
  - co.list 'outline', types: 'boolean', values: %w(true false)
  - co.list 'position', types: 'symbol', values: %w(:right :left)
  - co.list 'type', types: 'symbol', values: %w(:dropup :dropdown), default: ':dropdown'
  - co.list 'tag', types: 'symbol', values: %w(:a :button), default: ':button'
  - co.popover_link
  - co.cache_link
  - co.stimulus_controller_link
  - co.stimulus_action_link
  - co.stimulus_target_link

= content_for :third_nav do
  = ui_nav class: 'secondary-nav' do |n|
    - n.link 'Split dropdown', url: '#split-dropdown'
    - n.nav do |na|
      - na.link 'Split dropdown options', url: '#button-dropdown-options'

- @sections = sections do |s|
  - s.section title: "Split dropdown" do
    :markdown
      Split Dropdown has several block type:

      * Link
      * Divider
      * Header
      * Html

    %p The <code>status</code> option for agument the following symbols :
    %ul
      - UiBibzApp::Application::STATUSES.each do |status|
        %li= ":#{ status }"
      %li :link

    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_split_dropdown status.to_s.titleize, status: status do |bd|
            - bd.link "Action", url: '#action'
            - bd.link "Another action", url: '#another-action'
            - bd.divider
            - bd.header 'Header'
            - bd.html "     Normal Text"
            - bd.link "Separate link", url: '#separate-link'
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          :plain
            ui_split_dropdown "#{ status.to_s.titleize }", status: :#{ status } do |bd|
              bd.link "Action", url: "#action"
              bd.link url: "#another-action" do
                "Another action"
              end
              bd.divider
              bd.header "Header"
              bd.html "      Normal Text"
              bd.link "Separate link", url: "#separate-link"
              bd.link({ url: "#separate-link"}, { class: "my-link"}) do
                "Separate link"
              end
            end
      - c.html do
        - UiBibzApp::Application::STATUSES.each do |status|
          :plain
            <div class="btn-group dropdown">
              <button class="btn btn-#{ status }">Primary</button>
              <button class="btn btn-#{ status } dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu" arial-labelledby="dropdown-168070325483302158190560373773057452001">
                <a class="dropdown-item" href="#action">Action</a>
                <a class="dropdown-item" href="#another-action">Another action</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header" role="presentation">Header</h6>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Normal Text
                <a class="dropdown-item" href="#separate-link">Separate link</a>
              </div>
            </div>

  - s.section title: "Outline" do
    = example do |c|
      - c.header do
        - UiBibzApp::Application::STATUSES.each do |status|
          = ui_split_dropdown status.to_s.titleize, status: status, outline: true do |bd|
            - bd.link "Action", url: '#action'
            - bd.link "Another action", url: '#another-action'
            - bd.divider
            - bd.header 'Header'
            - bd.html "     Normal Text"
            - bd.link "Separate link", url: '#separate-link'
      - c.code do
        - UiBibzApp::Application::STATUSES.each do |status|
          :plain
            ui_split_dropdown "#{ status.to_s.titleize }", status: :#{ status }, outline: true  do |bd|
              bd.link "Action", url: "#action"
              bd.link url: "#another-action" do
                "Another action"
              end
              bd.divider
              bd.header "Header"
              bd.html "      Normal Text"
              bd.link "Separate link", url: "#separate-link"
              bd.link({ url: "#separate-link"}, { class: "my-link"}) do
                "Separate link"
              end
            end
      - c.html do
        - UiBibzApp::Application::STATUSES.each do |status|
          :plain
            <div class="btn-group dropdown">
              <button class="btn btn-outline-#{ status }">Primary</button>
              <button class="btn btn-outline-#{ status } dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu" arial-labelledby="dropdown-168070325483302158190560373773057452001">
                <a class="dropdown-item" href="#action">Action</a>
                <a class="dropdown-item" href="#another-action">Another action</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header" role="presentation">Header</h6>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Normal Text
                <a class="dropdown-item" href="#separate-link">Separate link</a>
              </div>
            </div>

  - s.section title: "Size" do
    = size_description
    = example do |e|
      - e.header do
        = ui_split_dropdown 'Dropdown Lg', size: :lg do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
        = ui_split_dropdown 'Dropdown Md', size: :md do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'

        = ui_split_dropdown 'Dropdown Sm', size: :sm do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
      - e.code do
        ui_split_dropdown "Dropdown Lg", size: :lg do |d|
          d.link "Action 1", url: "#action-1"
          d.link "Action 2", url: "#action-2", state: :disabled
          d.link "Action 3", url: "#action-3"
        end
        ui_split_dropdown "Dropdown Md", size: :md do |d|
          d.link "Action 1", url: "#action-1"
          d.link "Action 2", url: "#action-2", state: :disabled
          d.link "Action 3", url: "#action-3"
        end
        ui_split_dropdown "Dropdown Sm", size: :sm do |d|
          d.link "Action 1", url: "#action-1"
          d.link "Action 2", url: "#action-2", state: :disabled
          d.link "Action 3", url: "#action-3"
        end
      - e.html do
        :plain
          <div class="dropdown btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Lg <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

          <div class="dropdown btn-group">
            <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Md <span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

          <div class="dropdown btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Sm <span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

  - s.section title: "Buttonsplit  dropdown options" do
    = example do |c|
      - c.header do
        = ui_split_dropdown "Dropdown right", glyph: 'gem', status: :success, size: :lg, position: :right do |bd|
          - bd.link "Confirm action", url: '#action', link_html_options: { data: { confirm: 'Are you sure?' }}, method: :delete
          - bd.link "Another action", url: '#another-action'
          - bd.divider
          - bd.header 'Header'
          - bd.link "Separate link", url: '#separate-link'

        = ui_split_dropdown "Dropup", status: :danger, size: :sm, type: :dropup do |bd|
          - bd.link "Action",  { url: '#action' }, { class: 'action' }
          - bd.link "Another action", url: '#another-action'
          - bd.divider
          - bd.header 'Header'
          - bd.link "Separate link", url: '#separate-link'

      - c.code do
        ui_split_dropdown "Dropdown right", glyph: "gem", status: :success, size: :lg, position: :right do |bd|
          bd.link "Confirm action", url: "#action", link_html_options: { data: { confirm: "Are you sure?" }}, method: :delete
          bd.link "Another action", url: "#another-action"
          bd.divider
          bd.header "Header"
          bd.link "Separate link", url: "#separate-link"
        end
         
        ui_split_dropdown "Dropup", status: :danger, size: :sm, type: :dropup do |bd|
          bd.link "Action",  { url: "#action" }, { class: "action" }
          bd.link "Another action", url: "#another-action"
          bd.divider
          bd.header "Header"
          bd.link "Separate link", url: "#separate-link"
        end
      - c.html do
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-success btn-lg">Dropdown right</button>
          <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" data-confirm="Are you sure?" href="#action">Confirm action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropup" role="group">
          <button class="btn btn-danger btn-sm">Dropup</button>
          <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <div class="dropdown-menu dropdown-menu-left">
            <a class="action dropdown-item" href="#action">Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>

= @sections.render
