= title 'Dropdown'
%blockquote UiBibz::Ui::Core::Dropdown
%p.bd-callout Toggleable, contextual menu for displaying lists of links.

= code do
  :plain
    ui_dropdown name, options, html_options do |d|
      d.link content, options, html_options
      # or
      d.link options, html_options do
        content
      end

      d.divider

      d.header content, options, html_options
      # or
      d.header options, html_options do
        content
      end

      d.html content
      # or
      d.html do
        content
      end
    end

= component_options do |co|
  - co.status_link
  - co.glyph_link
  - co.state_link
  - co.size_link
  - co.list 'inline', types: 'boolean', values: %w(true false)
  - co.list 'position', types: 'symbol', values: %w(:right :left)
  - co.list 'type', types: 'symbol', values: %w(:dropup :dropdown), default: ':dropdown'
  - co.list 'tag', types: 'symbol', values: %w(:a :button), default: ':button'

- @sections = sections do |s|
  - s.section title: "Dropdown" do
    = example do |c|
      :markdown
        Dropdown button has several block type:

        * #{ inherit_component_link 'link' }
        * #{ inherit_component_link 'header' }
        * #{ inherit_component_link 'html' }
        * divider

      - c.header do
        = ui_dropdown('Dropdown', { open: true }, { class: 'open-dropdown-example' }) do |d|
          - d.link "Action 1", url: '#action'
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
      - c.code do
        ui_dropdown 'Dropdown' do |d|
          d.link "Action 1", url: '#action'
          d.link url: '#another-action' do
            "Action 2"
          end
          d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            "Action 3"
          end
        end
      - c.html do
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action">Action 1</a>
            <a class="dropdown-item" href="#another-action">Action 2</a>
            <a class="my-link dropdown-item" href="#separate-link">Action 3</a>
          </div>
        </div>

  - s.section title: "Dropdown options" do
    = example do |c|
      - c.header do
        = ui_dropdown('Dropdown', { status: :secondary, glyph: 'diamond', open: true }, { class: 'open-dropdown-example' }) do |d|
          - d.link "Confirm action", url: '#action', link_html_options: { data: { confirm: 'Are you sure?' }}, method: :delete
          - d.link url: '#another-action' do
            = "Action 2"
          - d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            = "Action 3"
      - c.code do
        ui_dropdown('Dropdown', { status: :secondary, glyph: 'diamond' }, { class: 'my-dropdown'}) do |d|
          d.link "Action 1", url: '#action'
          d.link "Confirm action", url: '#action', link_html_options: { data: { confirm: 'Are you sure?' }}, method: :delete
          d.link url: '#another-action' do
            "Action 2"
          end
          d.link({ url: '#separate-link'}, { class: 'my-link'}) do
            "Action 3"
          end
        end
      - c.html do
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyph fa fa-diamond"></i> Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-confirm="Are you sure?" href="#action">Confirm action</a>
            <a class="dropdown-item" href="#another-action">Action 2</a>
            <a class="my-link dropdown-item" href="#separate-link">Action 3</a>
          </div>
        </div>

  - s.section title: "Tag" do
    %p Replace <code>&lt;button&gt;</code> by <code>&lt;a&gt;</code> tag.
    = example do |c|
      - c.header do
        = ui_dropdown "Dropdown link", tag: :a, open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2'
          - d.link "Action 3", url: '#action-3'
      - c.code do
        ui_dropdown "Dropdown link", tag: :a do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        <div class="dropdown">
          <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown with right menu <span class="caret"></span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <a class="dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>

  - s.section title: "Position" do
    = example do |c|
      - c.header do
        = ui_dropdown "Dropdown with right menu", position: :right, open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2'
          - d.link "Action 3", url: '#action-3'
      - c.code do
        ui_dropdown "Dropdown with right menu", position: :right do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown with right menu <span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <a class="dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>


  - s.section title: "Header" do
    = example do |c|
      - c.header do
        = ui_dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.header "Header 1"
          - d.link "Action 1", url: '#action-1'
          - d.header class: 'my-header' do
            = 'Header 2'
          - d.link "Action 2", url: '#action-2'
          - d.link "Action 3", url: '#action-3'
        %br
        %br
        %br
        %br
      - c.code do
        ui_dropdown "Dropdown" do |d|
          d.header "Header 1"
          d.link "Action 1", url: '#action-1'
          d.header class: 'my-header' do
            'Header 2'
          end
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        <div class="open-dropdown-example dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu">
            <h6 class="dropdown-header" role="presentation">Header 1</h6>
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <h6 class="my-header dropdown-header" role="presentation">Header 2</h6>
            <a class="dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>


  - s.section title: "Divider" do
    = example do |c|
      - c.header do
        = ui_dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.divider
          - d.link "Separate action 1", url: '#separate-action-1'
          - d.link "Separate action 2", url: '#separate-action-2'
        %br
        %br
      - c.code do
        ui_dropdown "Dropdown" do |d|
          d.link "Action 1", url: '#action-1'
          d.divider
          d.link "Separate action 1", url: '#separate-action-1'
          d.link "Separate action 2", url: '#separate-action-2'
        end
      - c.html do
        <div class="open-dropdown-example dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#separate-action-1">Separate action 1</a>
            <a class="dropdown-item" href="#separate-action-2">Separate action 2</a>
          </div>
        </div>

  - s.section title: "Html" do
    = example do |c|
      - c.header do
        = ui_dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.html link_to("Action 1", '#action-1', class:'dropdown-item')
          - d.html link_to("Action 2", '#action-2', class:'dropdown-item')
          - d.html link_to("Action 3", '#action-3', class:'dropdown-item')
        %br
        %br
      - c.code do
        ui_dropdown "Dropdown" do |d|
          d.html link_to("Action 1", url: '#action-1', class: 'dropdown-item')
          d.html link_to("Action 2", url: '#action-2', class: 'dropdown-item')
          d.html link_to("Action 3", url: '#action-3', class: 'dropdown-item')
        end
      - c.html do
        <div class="open-dropdown-example dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <a class="dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>


  - s.section title: "Inline" do
    = example do |c|
      - c.header do
        = ui_dropdown "Inline 1", inline: true do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
        = ui_dropdown "Inline 2", inline: true do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
      - c.code do
        ui_dropdown "Inline 1" do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
        ui_dropdown "Inline 2" do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        :plain
          <div class="card-header">
          <div class="dropdown btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown-45190075074587396113525735017455033692">Inline 1 <span class="caret"></span></button>
            <div class="dropdown-menu" arial-labelledby="dropdown-45190075074587396113525735017455033692">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

          <div class="dropdown btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown-190866694514187334502439692726974162800">Inline 2 <span class="caret"></span></button>
            <div class="dropdown-menu" arial-labelledby="dropdown-190866694514187334502439692726974162800">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

  - s.section title: "Disabled" do
    = example do |c|
      - c.header do
        = ui_dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
      - c.code do
        ui_dropdown "Dropdown" do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        <div class="open-dropdown-example dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action-1">Action 1</a>
            <a class="disabled dropdown-item" href="#action-2">Action 2</a>
            <a class="dropdown-item" href="#action-3">Action 3</a>
          </div>
        </div>

  - s.section title: "Open" do
    = example do |c|
      - c.header do
        = ui_dropdown "Dropdown", open: true, class: 'open-dropdown-example' do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
      - c.code do
        ui_dropdown "Dropdown", open: true do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - c.html do
        :plain
          <div class="open-dropdown-example dropdown show">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown-94287437770994765671303713555990454778">Dropdown <span class="caret"></span></button>
            <div class="dropdown-menu show" arial-labelledby="dropdown-94287437770994765671303713555990454778">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

  - s.section title: "Size" do
    %p The size can be be defined through the `size` option that has the following arguments :
    %ul
      - UiBibzApp::Application::SIZES.each do |size|
        %li= ":#{ size }"
    = example do |e|
      - e.header do
        = ui_dropdown 'Dropdown Lg', size: :lg, inline: true do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
        = ui_dropdown 'Dropdown Md', size: :md, inline: true do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'

        = ui_dropdown 'Dropdown Sm', size: :sm , inline: true do |d|
          - d.link "Action 1", url: '#action-1'
          - d.link "Action 2", url: '#action-2', state: :disabled
          - d.link "Action 3", url: '#action-3'
      - e.code do
        ui_dropdown 'Dropdown Lg', size: :lg, inline: true do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
        ui_dropdown 'Dropdown Md', size: :md, inline: true do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
        ui_dropdown 'Dropdown Sm', size: :sm, inline: true do |d|
          d.link "Action 1", url: '#action-1'
          d.link "Action 2", url: '#action-2'
          d.link "Action 3", url: '#action-3'
        end
      - e.html do
        :plain
          <div class="dropdown btn-group">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Lg <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

          <div class="dropdown btn-group">
            <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Md <span class="caret"></span></button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

          <div class="dropdown btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Sm <span class="caret"></span></button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#action-1">Action 1</a>
              <a class="disabled dropdown-item" href="#action-2">Action 2</a>
              <a class="dropdown-item" href="#action-3">Action 3</a>
            </div>
          </div>

  - s.section title: "Statuses" do
    = example do |c|
      - c.header do
        - %i(primary secondary danger warning info success).each do |status|
          = ui_dropdown status.to_s.titleize, status: status, inline: true do |bd|
            - bd.link "Action", url: '#action', glyph: 'diamond'
            - bd.link url: '#another-action' do
              = "Another action"
            - bd.divider
            - bd.header 'Header'
            - bd.html "     Normal Text"
            - bd.link({ url: '#separate-link'}, { class: 'my-link'}) do
              = "Separate link"
      - c.code do
        - %i(primary secondary danger warning info success).each do |status|
          :plain
            ui_dropdown '#{ status.to_s.titleize }', status: :#{ status }, inline: true do |bd|
              bd.link "Action", url: '#action', glyph: 'diamond'
              bd.link "Another action", url: '#another-action'
              bd.link url: '#another-action' do
                "Another action"
              end
              bd.divider
              bd.header 'Header'
              bd.html "     Normal Text"
              bd.link "Separate link", url: '#separate-link'
              bd.link({ url: '#separate-link'}, { class: 'my-link'}) do
                "Separate link"
              end
            end
      - c.html do
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action"><i class="glyph fa fa-diamond"></i> Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="my-link dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secondary <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action"><i class="glyph fa fa-diamond"></i> Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="my-link dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danger <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action"><i class="glyph fa fa-diamond"></i> Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="my-link dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Warning <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action"><i class="glyph fa fa-diamond"></i> Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="my-link dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action"><i class="glyph fa fa-diamond"></i> Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="my-link dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>
          
        <div class="btn-group dropdown" role="group">
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Success <span class="caret"></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#action"><i class="glyph fa fa-diamond"></i> Action</a>
            <a class="dropdown-item" href="#another-action">Another action</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header" role="presentation">Header</h6>
            <a class="my-link dropdown-item" href="#separate-link">Separate link</a>
          </div>
        </div>

= @sections.render
