%footer
  = nav type: :links do |n|
    - n.link glyph_and_text('github', 'Github'), url: 'https://github.com/thooams/Ui-Bibz'
    - n.link glyph_and_text('book', 'About'), url: about_path
    - n.link glyph_and_text('diamond', 'Gem'), url: 'https://rubygems.org/gems/ui_bibz'
  :markdown
    Ui Bibz Framework is designed and created by Thomas HUMMEL ([@thooams](https://github.com/thooams))<br />
    This theme is inspired by [Bootstrap theme documentation](http://getbootstrap.com)<br />
    Currently v#{ UiBibzApp::Application::VERSION }. Code licensed #{ UiBibzApp::Application::LICENSE }
  -#
    = link_to "https://liberapay.com/Thomas/donate" do
      = image_tag "https://liberapay.com/assets/widgets/donate.svg"
    %br
    %br
    %form{ action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top" }
      %input{ type: "hidden", name: "cmd", value: "_s-xclick" }
      %input{ type: "hidden", name: "hosted_button_id", value: "DCLUVYM4A2HMY" }
      %input{ type: "image", src: "https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif", border: "0", name: "submit", alt: "PayPal, le réflexe sécurité pour payer en ligne" }
      %img{ alt: "", border: "0", src: "https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif", width: "1", height: "1" }
