%title= "#{UiBibzApp::Application::NAME} - #{action_name.humanize}"
%meta{ name: 'Description', CONTENT: 'Ui Bibz is a Ruby on Rails Bootstrap Framework. Mix Bootstrap and Ruby to build your own interface'}
%meta{ name: 'Author', CONTENT: 'Thomas HUMMEL <thomas@hummel.link>'}
%meta{ name: 'Keywords', CONTENT: 'bootstrap rails, bootstrap ruby, ui bibz, bibz bootstrap, bootstrap interface, bootstrap ui, bootstrap interface'}
%link{ rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico" }
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
:css
  "#{ Rouge::Theme::find('github').render(scope: '.highlight') }"
= csrf_meta_tags
