%title= "#{ UiBibzApp::Application::NAME } - #{ action_name.humanize }"
= csrf_meta_tags
= csp_meta_tag
%meta{ name: 'Description', CONTENT: UiBibzApp::Application::SUMMARY }
%meta{ name: 'Author', CONTENT: 'Thomas HUMMEL <thomas@hummel.link>'}
%meta{ name: 'Keywords', CONTENT: 'bootstrap rails, bootstrap ruby, ui bibz, bibz bootstrap, bootstrap interface, bootstrap ui, bootstrap interface'}
%link{ rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico" }
%meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
:css
  "#{ Rouge::Theme::find('github').render(scope: '.highlight') }"
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
