- if Rails.env.production?
  <!-- Global site tag (gtag.js) - Google Analytics -->
  %script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=G-JHZ4Y79ZS3"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JHZ4Y79ZS3');
%title= "#{ UiBibzApp::Application::NAME } - #{ action_name.humanize }"
= csrf_meta_tags
= csp_meta_tag
%meta{ name: 'Description', CONTENT: UiBibzApp::Application::SUMMARY }
%meta{ name: 'Author', CONTENT: 'Thomas HUMMEL <thomas@hummel.link>'}
%meta{ name: "theme-color", content: "#343a40"}
%meta{ name: 'Keywords', CONTENT: 'bootstrap rails, bootstrap ruby, ui bibz, bibz bootstrap, bootstrap interface, bootstrap ui, bootstrap interface, ui framework, ui interface'}
%link{ rel: "shortcut icon", type: "image/x-icon", href: image_pack_path("favicon.ico") }
%link{ rel: "appel-touch-icon", href:  image_pack_path("ui-bibz-logo.png") }
%meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
:css
  "#{ Rouge::Theme::find('github').render(scope: '.highlight') }"
= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
