!!!
%html
  %head
    %title Ui Bibz
    %meta{ name: 'Description', CONTENT: 'Ui Bibz is a Ruby on Rails Bootstrap Ui Framework. Mix Bootstrap and Ruby to build your own interface'}
    %meta{ name: 'Author', CONTENT: 'Thomas HUMMEL <thomas@hummel.link>'}
    %meta{ name: 'Keywords', CONTENT: 'bootstrap rails, bootstrap ruby, ui bibz, bibz bootstrap, bootstrap interface, bootstrap ui, bootstrap interface'}
    %link{ rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :css
      "#{ Rouge::Theme::find('github').render(scope: '.highlight') }"
    = csrf_meta_tags
  %body
    %header
      = navbar title: "Ui Bibz", state: :secondary, type: :light do |nb|
        - nb.nav do |n|
          - opts = { url: getting_started_path }
          - opts.merge!({ status: :active }) if params[:action] == 'getting_started'
          - n.link 'Get started', opts
          - opts = { url: components_path }
          - opts.merge!({ status: :active }) if controller_name == 'components'
          - n.link 'Components', opts
          - opts = { url: about_path }
          - opts.merge!({ status: :active}) if params[:action] == 'about'
          - n.link 'About', opts
      .pageheader
        = container do
          //= image_tag 'ui-bibz-logo-without-border.png'
          = image_tag 'ui-bibz-logo', class: 'logo'
          = image_tag 'ruby-white.png', width: 50
          %h1 Ui Bibz v2.0.0
          %p
            Over a dozen reusable components built to provide iconography, dropdowns, <br/>
            input groups, navigation, alerts, and much more.
    = container do
      = row do
        = col num: 9 do
          = yield
        = col({ num: 3 }, { class: 'right-nav' }) do
          = render "components/nav"
          = yield :third_nav
    %footer
      = nav type: :links do |n|
        - n.link glyph_and_text('github', 'Github'), url: 'https://github.com/thooams/Ui-Bibz'
        - n.link glyph_and_text('book', 'About'), url: 'https://github.com/thooams/Ui-Bibz'
        - n.link glyph_and_text('diamond', 'Gem'), url: 'https://rubygems.org/gems/ui_bibz'
      :markdown
        Bibz Framework is designed and created by Thomas HUMMEL ([@thooams](https://github.com/thooams))<br/>
        This theme is inspired by ["Bootstrap theme documentation"](getbootstrap.com)<br/>
        Currently v2.0.0. Code licensed MIT
