!!!
%html
  %head
    %title Bibz Framework
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :css
      "#{ Rouge::Theme::find('github').render(scope: '.highlight') }"
    = csrf_meta_tags
  %body
    = navbar title: "Bibz Framework", state: :secondary, type: :light do |nb|
      - nb.nav do |n|
        - n.link 'Components', url: components_buttons_path
    = container do
      = row do
        = col num: 9 do
          = yield
        = col num: 3 do
          = render "components/nav"
