%html
  %head
    = render "layouts/meta"
  %body
    = render "layouts/header"
    -#.pageheader
      = ui_container do
        // Note : The image without the edges is more beautiful than the current
        //= image_tag 'ui-bibz-logo-without-border.png'
        = image_tag 'ui-bibz-logo.png', class: 'logo'
        = image_tag 'ruby-white.png', width: 50
        %h1= "#{ UiBibzApp::Application::NAME  } v#{ UiBibzApp::Application::VERSION }"
        %p
          = UiBibzApp::Application::DESCRIPTION
          %br
          = UiBibzApp::Application::SUMMARY
    = ui_container type: :fluid do
      .content
        = yield
    = render "layouts/footer"
