%html
  %head
    = render "layouts/meta"
  %body
    = render "layouts/header"
    .pageheader
      = ui_container do
        // Note : The image without the edges is more beautiful than the current
        //= image_tag 'ui-bibz-logo-without-border.png'
        = image_tag 'ui-bibz-logo', class: 'logo'
        = image_tag 'ruby-white.png', width: 50
        %h1= "#{ UiBibzApp::Application::NAME } v#{ UiBibzApp::Application::VERSION }"
        %p
          = UiBibzApp::Application::DESCRIPTION
          %br
          = UiBibzApp::Application::SUMMARY
    = ui_container do
      = ui_row( class: 'row-fluid' ) do
        %a{ name: 'top' }
        = ui_col( lg: { num: 2 }, md: { num: 4 }, sm: { num: 12 }, xs: { num: 12 }, class: 'left-nav' ) do
          = render "components/nav"
          = yield :third_nav
        = ui_col( lg: { num: 8 }, md: { num: 8, }, sm: { num: 12 }, xs: { num: 12 }, class: 'content') do
          = yield
        = ui_col( lg: { num: 2 }, class: 'secondary-nav' ) do
          - unless @sections.nil?
            .sticky
              %h3 Contents
              = subnav do |n|
                - @sections.names.each do |s|
                  - n.link s

      .scroll-to-top
        = ui_button_link "", { url: url_for(controller: controller_name, action: action_name, anchor: 'top'), glyph: "arrow-circle-up", size: :lg, status: :primary, type: 'fw' }, { class: "back-top" }
    = render "layouts/footer"
