%html
  %head
    = render "layouts/meta"
  %body
    = render "layouts/header"
    .pageheader
      = container do
        // Note : The image without the edges is more beautiful than the current
        //= image_tag 'ui-bibz-logo-without-border.png'
        = image_tag 'ui-bibz-logo', class: 'logo'
        = image_tag 'ruby-white.png', width: 50
        %h1= "#{ UiBibzApp::Application::NAME } v#{ UiBibz::VERSION }"
        %p
          Over a dozen reusable components built to provide iconography, dropdowns, <br/>
          input groups, navigation, alerts, and much more.
    = container do
      = row do
        = col num: 9 do
          = yield
        = col({ num: 3 }, { class: 'right-nav' }) do
          = render "components/nav"
          = yield :third_nav
          - unless @sections.nil?
            %h2 Contents
            = subnav class: 'secondary-nav' do |n|
              - @sections.names.each do |s|
                - n.link s, {}, status: nav_active_link(s)

      .scroll-to-top
        - anchor = @sections.try(:names).try(:first).nil? ? "#" : @sections.names.first.parameterize
        = button_link "", { url: url_for(controller: controller_name, action: action_name, anchor: anchor), glyph: "arrow-circle-up", size: :lg, state: :info, type: 'fw' }, { class: "back-top" }
    = render "layouts/footer"
